<template>
    <div>
        <CRow>
          <CCol :md="12">
            <CCard>
              <CCardHeader>
                <div v-if="isEdit"><h5>Edit Calibration Item [{{ this.gauge.GAUGE_NAME }} - {{ this.gauge.GAUGE_SERIAL_NO }}]</h5></div>
                <div v-else-if="isDetail"><h5>Detail Calibration Item [{{ this.gauge.GAUGE_NAME }} - {{ this.gauge.GAUGE_SERIAL_NO }}]</h5></div>
                <div v-else><h5>Register New Calibration Item [{{ this.gauge.GAUGE_NAME }} - {{ this.gauge.GAUGE_SERIAL_NO }}]</h5></div>
              </CCardHeader>
              <CCardBody v-if="isEdit == true">
                <CForm
                  novalidate
                  :validated="validatedInput"
                  @submit.prevent="save">
                  <CRow class="mb-1">
                    <CCol lg="6">
                      <div class="form-group mb-3">
                        <CFormLabel for="gd_gauge_item">
                          Gauge Item <span style="color: red">* </span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gd_gauge_item"
                          type="text"
                          id="gd_gauge_item"
                          placeholder="Gauge Item"
                          maxlength="200"
                          required
                          readonly
                          feedbackInvalid="Please provide a valid Gauge Item"
                        />
                      </div>
                      
                      <div class="form-group mb-3">
                        <CFormLabel for="gd_gauge_item_cal_min">
                          Standard Min. <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gd_gauge_item_cal_min"
                          type="number"
                          id="gd_gauge_item_cal_min"
                          placeholder="Min"
                          required
                          step="any"
                          feedbackInvalid="Please provide a valid Gauge Standard Min"
                          :disabled="isDetail"
                        />
                      </div>
                    </CCol>
                    <CCol lg="6">
                        <div class="form-group mb-3">
                            <CFormLabel for="gd_gauge_item_cal">
                              Gauge Calibration Item <span style="color: red">*</span>
                            </CFormLabel>
                            <CFormInput
                              v-model="form.gd_gauge_item_cal"
                              type="text"
                              id="gd_gauge_item_cal"
                              placeholder="Gauge Calibration Item"
                              maxlength="200"
                              required
                              feedbackInvalid="Please provide a valid Gauge Calibration Item"
                              :disabled="isDetail"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <CFormLabel for="gd_gauge_item_cal_max">
                                Standard Max. <span style="color: red">*</span>
                            </CFormLabel>
                            <CFormInput
                              v-model="form.gd_gauge_item_cal_max"
                              type="number"
                              id="gd_gauge_item_cal_max"
                              placeholder="Max"
                              required
                              step="any"
                              feedbackInvalid="Please provide a valid Gauge Standard Max"
                              :disabled="isDetail"
                            />
                          </div>
                    </CCol>
                  </CRow>

                  <CRow class="mb-2 mt-2">
                    <CCol>
                      <CButton type="submit" color="primary" class="me-2 mb-2"
                        v-if="!isDetail">
                        <CIcon icon="cilSave" /> Submit
                      </CButton>
                      <CButton class="mb-2" @click="back()" color="dark">
                        <div v-if="isDetail">
                          <font-awesome-icon icon="fa-solid fa-chevron-left" /> Back
                        </div>
                        <div v-else>
                          <CIcon icon="cilX" /> Cancel
                        </div>
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
              <!-- Add item check -->
              <CCardBody  v-else>
                <CRow class="mb-0 row d-flex justify-content-start form-group" v-if="itemCheck.length == 0">
                  <div class="d-flex justify-content-end">
                    <div>
                      <CButton color="info" class="text-white" href="#" @click="doItemCheck()">
                        <CIcon icon="cilPlus"
                        />&nbsp;Item Check</CButton>
                    </div>
                  </div>
                </CRow>
                <CRow class="mb-0 row d-flex justify-content-start form-group" v-if="itemCheck.length > 0">
                  <h5>Item Check</h5>
                </CRow>
                <CRow class="mb-0 row d-flex justify-content-start form-group" v-if="itemCheck.length > 0">
                  <CCol lg="4">
                    <div class="form-group mb-0">
                      <CFormLabel for="item_check">
                        Item
                      </CFormLabel>
                    </div>
                  </CCol>
                  <CCol lg="3">
                    <div class="form-group mb-0">
                      <CFormLabel for="item_check_cal">
                        Product Value
                      </CFormLabel>
                    </div>
                  </CCol>
                  <CCol lg="3">
                    <div class="form-group mb-0">
                      <CFormLabel for="aspect_length">
                        Calibration Aspect
                      </CFormLabel>
                    </div>
                  </CCol>
                  <CCol lg="2">
                    <div class="form-group mb-0 ms-2 text-center">
                      <CFormLabel for="item_check_cal" class="ms-3">
                        Action
                      </CFormLabel>
                    </div>
                  </CCol>
                </CRow>

                <CRow class="mb-0 d-flex justify-content-start" v-for="item, index in itemCheck" :key="item">
                  <CCol lg="4">
                    <div class="form-group mb-1">
                      <CFormInput
                        v-model="item.item_check"
                        type="text"
                        id="item_check"
                        maxlength="200"
                        required
                        feedbackInvalid="Please provide a valid item Check"
                        :disabled="item.status"
                        :readonly="item.status"
                      />
                    </div>
                  </CCol>
                  <CCol lg="3">
                    <div class="form-group mb-1">
                      <CFormInput
                        v-model="item.product_value"
                        type="text"
                        id="product_value"
                        maxlength="200"
                        required
                        feedbackInvalid="Please provide a valid Product Value"
                        :disabled="item.status"
                      />
                    </div>
                  </CCol>
                  <CCol lg="3">
                    <div class="form-group mb-1">
                      <CFormInput
                        v-model="item.aspect_length"
                        type="number"
                        id="aspect_length"
                        min="0"
                        :disabled="item.status"
                      />
                    </div>
                  </CCol>
                  <CCol lg="2">
                    <div class="row justify-content-between form-group mb-1">
                        <div class="col text-end">
                          &nbsp;
                          <CButton v-if="item.status" color="warning"  class="text-white" href="#" @click="doUpdateBtnStatus(item)">
                            <CIcon icon="cilLoopCircular"
                            /></CButton>
                          <CButton v-if="!item.status" color="info"  class="text-white" href="#" @click="doAddItemCalibration(item)">
                            <CIcon icon="cilPlus"
                            /></CButton>
                          &nbsp;
                          <CButton color="primary" href="#" @click="doItemCheckDelete(item.id)">
                            <CIcon icon="cil-Trash"
                            /></CButton>
                        </div>
                    </div>
                  </CCol>
                </CRow>

                <div class="mt-3" v-if="itemCheckUpdate.length > 0">
                  <h5> Calibrated Aspects </h5>
                </div>
                <div class="mt-1" v-for="item, index in itemCheckUpdate" :key="item">
                  <h6>
                    {{ index+1 }} . {{ item.item_check }}|{{ item.product_value }} 
                  </h6>                   
                  <CRow class="mb-0 d-flex justify-content-end" v-for="itemC, indexC in item.calibration_aspect" :key="itemC">
                    <CCol lg="5">
                      <div class="form-group mb-1">
                        <CFormInput
                          v-model="itemC.gd_gauge_item_cal"
                          type="text"
                          id="gd_gauge_item_cal"
                          placeholder="Name of item"
                          maxlength="200"
                          required
                        />
                      </div>
                    </CCol>
                    <CCol lg="3">
                      <div class="form-group mb-1">
                        <CFormInput
                          v-model="itemC.gd_gauge_item_cal_min"
                          type="number"
                          id="gd_gauge_item_cal_min"
                          placeholder="Min"
                          required
                          step="any"
                        />
                      </div>
                    </CCol>
                    <CCol lg="3">
                      <div class="form-group mb-1">
                        <CFormInput
                          v-model="itemC.gd_gauge_item_cal_max"
                          type="number"
                          id="gd_gauge_item_cal_max"
                          placeholder="Max"
                          required
                          step="any"
                        />
                      </div>
                    </CCol>
                    <CCol lg="1">
                      <div class="row justify-content-between form-group mb-1">
                        <div class="col text-end">
                          <CButton color="primary" href="#" @click="doItemCalDelete(item.id, indexC)">
                            <CIcon icon="cil-Trash"
                            /></CButton>
                        </div>
                      </div>
                    </CCol>
                  </CRow>
                </div>
                <CRow class="mb-0 mt-4 row d-flex justify-content-start form-group" v-if="itemCheckUpdate.length > 0">
                  <div class="d-flex justify-content-start">
                    <div>
                        <CButton @click="saveAdd()" color="primary" class="me-2 mb-2">
                          <CIcon icon="cilSave" /> Submit
                        </CButton>
                        <CButton class="mb-2" @click="back()" color="dark">
                          <div>
                            <font-awesome-icon icon="fa-solid fa-chevron-left" /> Back
                          </div>
                        </CButton>
                    </div>
                  </div>
                </CRow>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </div>
</template>

<script>
import Swal from 'sweetalert2'
import utils from "@/utils/CommonUtils"
import apis from '@/apis/CommonAPI'
import condition from '@/utils/CommonCondition'
import router from '../../router'
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import moment from 'moment'
import defaultImage from '@/assets/images/defaultImage.png'
import { reactive } from 'vue'

export default {
  name: 'Calibration Item Form',
  components: { Datepicker },
  mounted() {
    if (this.$route.params.idGauge) {
        this.idGauge = this.$route.params.idGauge
        this.doGetGauge(this.idGauge)
        this.doItemCheck()
      }else if (this.$route.params.id){
        this.isEdit = true
        this.getByID(this.$route.params.id)
      }else{
        Swal.fire('', 'Gauge ID not found', 'error')
        this.$router.push('/qdc/gauge-control')
      }
  },
  data() {
    return {
        form:{
            gd_id: null,
            gd_gauge_id: null,
            gd_gauge_item: null,
            gd_gauge_item_cal: null,
            gd_gauge_item_cal_min: null,
            gd_gauge_item_cal_max: null
        },
        isEdit: false,
        loading: false,
        isDetail: false,
        validatedInput: null,
        validatedSelect: null,
        idGauge: null,
        gauge: {
            GAUGE_NAME : null,
            GAUGE_SERIAL_NO : null
        },
        itemCheck: [],
        itemCheckUpdate: []
    }
  },
  watch: {
  },
  methods : {
    async getByID(id){
        let obj = { gd_id : id}
        await apis
        .post('/calibration-item/get',obj)
        .then((result) => {
            if(result.status == 200){
            if(result.data.data != null){
              let data = result.data.data[0];
              this.form.gd_id = data.GD_ID,
              this.form.gd_gauge_id = data.GD_GAUGE_ID,
              this.form.gd_gauge_item = data.GD_GAUGE_ITEM,
              this.form.gd_gauge_item_cal = data.GD_GAUGE_ITEM_CAL,
              this.form.gd_gauge_item_cal_min = data.GD_GAUGE_ITEM_CAL_MIN,
              this.form.gd_gauge_item_cal_max = data.GD_GAUGE_ITEM_CAL_MAX,
              this.doGetGauge(this.form.gd_gauge_id)
            }else{
              Swal.fire('', 'Calibration Item not found', 'error')
              this.$router.push('/qdc/gauge-control')
            }
          }else{
            Swal.fire('', 'Calibration Item not found', 'error')
            this.$router.push('/qdc/gauge-control')
          }
        })
    },
    async doGetGauge(idGauge){
        let obj = { gauge_id : idGauge}
        await apis
        .post('/gauge/get',obj)
        .then((result) => {
          if(result.status == 200){
            if(result.data.data != null){
              let data = result.data.data[0];
              this.gauge.GAUGE_NAME = data.GAUGE_NAME
              this.gauge.GAUGE_SERIAL_NO = data.GAUGE_SERIAL_NO
            }
          }
        })
    },
    async saveAdd(){
      Swal.fire({
          title: 'Do you want to save the changes?',
          text: 'Make sure the data is correct!',
          showCancelButton: true,
          confirmButtonText: 'Save',
          cancelButtonText: `Check again`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          if (result.isConfirmed) {
              let calItems = []
              this.itemCheckUpdate.forEach(e => {
                e.calibration_aspect.forEach(ec => {
                  ec.gd_gauge_id = parseInt(this.idGauge)
                  calItems.push(ec)
                });
              });

              let obj = {cal_items : calItems}

              await apis.post('/calibration-item/add', obj).then((result) => {
                  if (result.data.status == 200) {
                    Swal.fire('', result.data.message, 'success')
                    this.$router.back()
                  } else {
                    let data = result.data.message
                    Swal.fire('', data, 'error')
                  }
                })
          }
        })
    },
    async save(event) {
      const form = event.currentTarget
      if (form.checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        this.validatedInput = true
      }else{
        this.validatedInput = false
        Swal.fire({
          title: 'Do you want to save the changes?',
          text: 'Make sure the data is correct!',
          showCancelButton: true,
          confirmButtonText: 'Save',
          cancelButtonText: `Check again`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          if (result.isConfirmed) {
            if(this.form.gd_id == null){

              let obj = {
                gd_gauge_id : this.idGauge,
                gd_gauge_item : this.form.gd_gauge_item,
                gd_gauge_item_cal : this.form.gd_gauge_item_cal,
                gd_gauge_item_cal_min : this.form.gd_gauge_item_cal_min,
                gd_gauge_item_cal_max : this.form.gd_gauge_item_cal_max,
              }

              // Disable for CR user

              // await apis.post('/calibration-item/add', obj).then((result) => {
              //     if (result.data.status == 200) {
              //       Swal.fire('', result.data.message, 'success')
              //       this.$router.back()
              //     } else {
              //       let data = result.data.message
              //       Swal.fire('', data, 'error')
              //     }
              //   })

            }else{
                let obj = {
                    gd_id : this.form.gd_id,
                    gd_gauge_id : this.form.gd_gauge_id,
                    gd_gauge_item : this.form.gd_gauge_item,
                    gd_gauge_item_cal : this.form.gd_gauge_item_cal,
                    gd_gauge_item_cal_min : this.form.gd_gauge_item_cal_min,
                    gd_gauge_item_cal_max : this.form.gd_gauge_item_cal_max,
                }

              await apis.post('/calibration-item/edit', obj).then((result) => {
                if (result.data) {
                  Swal.fire('', result.data.message, 'success')
                  this.$router.back()
                } else {
                  let data = result.response.data
                  Swal.fire('', data.message, 'error')
                }
              })
            }
          }
        })
      }
    },
    doItemCheck(){
      let dataItemCheck = {
            id : (Math.random() + 1).toString(36).substring(7),
            item_check : null,
            product_value : null,
            aspect_length : 0,
            status: false
      }
      this.itemCheck.push(dataItemCheck)
    },
    doItemCheckDelete(id){
      this.itemCheck.splice(this.itemCheck.findIndex(i => i.id == id), 1)
      this.itemCheckUpdate.splice(this.itemCheckUpdate.findIndex(i => i.id == id), 1)
    },
    doAddItemCalibration(item){
      //handle error item aspect
      item.aspect_length == null || item.aspect_length == '' 
              ? item.aspect_length = 0 
              : item.aspect_length = item.aspect_length

      let itemCalArr = []
      for (let i = 0; i < parseInt(item.aspect_length); i++) {
        let dataItemCal = {
          gd_gauge_item : item.item_check + '|' + item.product_value,
          gd_gauge_item_cal : null,
          gd_gauge_item_cal_max : null,
          gd_gauge_item_cal_min : null
        }
        itemCalArr.push(dataItemCal)
      }

      //update item cal
      let index = this.itemCheck.findIndex(i => i.id == item.id)
        this.itemCheck[index].item_check = item.item_check
        this.itemCheck[index].product_value = item.product_value
        this.itemCheck[index].aspect_length = item.aspect_length
        this.itemCheck[index].calibration_aspect = itemCalArr
        this.itemCheck[index].status = true
      
      let indexUpdate = this.itemCheckUpdate.findIndex(i => i.id == item.id);
        if(indexUpdate == -1){
          this.itemCheckUpdate.push(this.itemCheck[index])
        }else{
          this.itemCheckUpdate[indexUpdate].item_check = item.item_check
          this.itemCheckUpdate[indexUpdate].product_value = item.product_value
          this.itemCheckUpdate[indexUpdate].aspect_length = item.aspect_length
          this.itemCheckUpdate[indexUpdate].calibration_aspect = itemCalArr
        }
    },
    doUpdateBtnStatus(item){
      let index = this.itemCheck.findIndex(i => i.id == item.id);
        this.itemCheck[index].status = false
    },
    doItemCalDelete(idItemCheck, idxCalAspect){
      let indexItemCheck = this.itemCheckUpdate.findIndex(i => i.id == idItemCheck)
        this.itemCheckUpdate[indexItemCheck].calibration_aspect.splice(idxCalAspect, 1)
        this.itemCheckUpdate[indexItemCheck].aspect_length = this.itemCheckUpdate[indexItemCheck].calibration_aspect.length
        this.itemCheck[indexItemCheck].aspect_length = this.itemCheckUpdate[indexItemCheck].calibration_aspect.length
    },
    back() {
      utils.backToPreviousPage()
    },
  }
}
</script>