<template>
    <div>
        <CRow>
          <CCol :md="12">
            <CCard>
              <CCardHeader>
                <div v-if="isEdit"><h5>Edit Calibration Item [{{ this.gauge.GAUGE_NAME }} - {{ this.gauge.GAUGE_SERIAL_NO }}]</h5></div>
                <div v-else-if="isDetail"><h5>Detail Calibration Item [{{ this.gauge.GAUGE_NAME }} - {{ this.gauge.GAUGE_SERIAL_NO }}]</h5></div>
                <div v-else><h5>Register New Calibration Item [{{ this.gauge.GAUGE_NAME }} - {{ this.gauge.GAUGE_SERIAL_NO }}]</h5></div>
              </CCardHeader>
              <CCardBody>
                <CForm
                  novalidate
                  :validated="validatedInput"
                  @submit.prevent="save">
                  <CRow class="mb-1">
                    <CCol lg="6">
                      <div class="form-group mb-3">
                        <CFormLabel for="gd_gauge_item">
                          Gauge Item <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gd_gauge_item"
                          type="text"
                          id="gd_gauge_item"
                          placeholder="Gauge Item"
                          maxlength="200"
                          required
                          feedbackInvalid="Please provide a valid Gauge Item"
                          :disabled="isDetail"
                        />
                      </div>
                      
                      <div class="form-group mb-3">
                        <CFormLabel for="gd_gauge_item_cal_min">
                          Standard Min. <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gd_gauge_item_cal_min"
                          type="number"
                          id="gd_gauge_item_cal_min"
                          placeholder="Min"
                          required
                          feedbackInvalid="Please provide a valid Gauge Standard Min"
                          :disabled="isDetail"
                        />
                      </div>
                    </CCol>
                    <CCol lg="6">
                        <div class="form-group mb-3">
                            <CFormLabel for="gd_gauge_item_cal">
                              Gauge Calibration Item <span style="color: red">*</span>
                            </CFormLabel>
                            <CFormInput
                              v-model="form.gd_gauge_item_cal"
                              type="text"
                              id="gd_gauge_item_cal"
                              placeholder="Gauge Calibration Item"
                              maxlength="200"
                              required
                              feedbackInvalid="Please provide a valid Gauge Calibration Item"
                              :disabled="isDetail"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <CFormLabel for="gd_gauge_item_cal_max">
                                Standard Max. <span style="color: red">*</span>
                            </CFormLabel>
                            <CFormInput
                              v-model="form.gd_gauge_item_cal_max"
                              type="number"
                              id="gd_gauge_item_cal_max"
                              placeholder="Max"
                              required
                              feedbackInvalid="Please provide a valid Gauge Standard Max"
                              :disabled="isDetail"
                            />
                          </div>
                    </CCol>
                  </CRow>

                  <CRow class="mb-2 mt-2">
                    <CCol>
                      <CButton type="submit" color="primary" class="me-2 mb-2"
                        v-if="!isDetail">
                        <CIcon icon="cilSave" /> Submit
                      </CButton>
                      <CButton class="mb-2" @click="back()" color="dark">
                        <div v-if="isDetail">
                          <font-awesome-icon icon="fa-solid fa-chevron-left" /> Back
                        </div>
                        <div v-else>
                          <CIcon icon="cilX" /> Cancel
                        </div>
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </div>
</template>

<script>
import Swal from 'sweetalert2'
import utils from "@/utils/CommonUtils"
import apis from '@/apis/CommonAPI'
import condition from '@/utils/CommonCondition'
import router from '../../router'
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import moment from 'moment'
import defaultImage from '@/assets/images/defaultImage.png'
import { reactive } from 'vue'

export default {
  name: 'Calibration Item Form',
  components: { Datepicker },
  mounted() {
    if (this.$route.params.idGauge) {
        this.idGauge = this.$route.params.idGauge
        this.doGetGauge(this.idGauge)
      }else if (this.$route.params.id){
        this.getByID(this.$route.params.id)
      }else{
        Swal.fire('', 'Gauge ID not found', 'error')
        this.$router.push('/qdc/gauge-control')
      }
  },
  data() {
    return {
        form:{
            gd_id: null,
            gd_gauge_id: null,
            gd_gauge_item: null,
            gd_gauge_item_cal: null,
            gd_gauge_item_cal_min: null,
            gd_gauge_item_cal_max: null
        },
        isEdit: false,
        loading: false,
        isDetail: false,
        validatedInput: null,
        validatedSelect: null,
        idGauge: null,
        gauge: {
            GAUGE_NAME : null,
            GAUGE_SERIAL_NO : null
        }
    }
  },
  watch: {
  },
  methods : {
    async getByID(id){
        let obj = { gd_id : id}
        await apis
        .post('/calibration-item/get',obj)
        .then((result) => {
            if(result.status == 200){
            if(result.data.data != null){
              let data = result.data.data[0];
              this.form.gd_id = data.GD_ID,
              this.form.gd_gauge_id = data.GD_GAUGE_ID,
              this.form.gd_gauge_item = data.GD_GAUGE_ITEM,
              this.form.gd_gauge_item_cal = data.GD_GAUGE_ITEM_CAL,
              this.form.gd_gauge_item_cal_min = data.GD_GAUGE_ITEM_CAL_MIN,
              this.form.gd_gauge_item_cal_max = data.GD_GAUGE_ITEM_CAL_MAX,
              this.doGetGauge(this.form.gd_gauge_id)
            }else{
              Swal.fire('', 'Calibration Item not found', 'error')
              this.$router.push('/qdc/gauge-control')
            }
          }else{
            Swal.fire('', 'Calibration Item not found', 'error')
            this.$router.push('/qdc/gauge-control')
          }
        })
    },
    async doGetGauge(idGauge){
        let obj = { gauge_id : idGauge}
        await apis
        .post('/gauge/get',obj)
        .then((result) => {
          if(result.status == 200){
            if(result.data.data != null){
              let data = result.data.data[0];
              this.gauge.GAUGE_NAME = data.GAUGE_NAME
              this.gauge.GAUGE_SERIAL_NO = data.GAUGE_SERIAL_NO
            }
          }
        })
    },
    async save(event) {
      const form = event.currentTarget
      if (form.checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        this.validatedInput = true
      }else{
        this.validatedInput = false
        Swal.fire({
          title: 'Do you want to save the changes?',
          text: 'Make sure the data is correct!',
          showCancelButton: true,
          confirmButtonText: 'Save',
          cancelButtonText: `Check again`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          if (result.isConfirmed) {
            if(this.form.gd_id == null){

              let obj = {
                gd_gauge_id : this.idGauge,
                gd_gauge_item : this.form.gd_gauge_item,
                gd_gauge_item_cal : this.form.gd_gauge_item_cal,
                gd_gauge_item_cal_min : this.form.gd_gauge_item_cal_min,
                gd_gauge_item_cal_max : this.form.gd_gauge_item_cal_max,
              }

              await apis.post('/calibration-item/add', obj).then((result) => {
                  if (result.data.status == 200) {
                    Swal.fire('', result.data.message, 'success')
                    this.$router.back()
                  } else {
                    let data = result.data.message
                    Swal.fire('', data, 'error')
                  }
                })

            }else{
                let obj = {
                    gd_id : this.form.gd_id,
                    gd_gauge_id : this.form.gd_gauge_id,
                    gd_gauge_item : this.form.gd_gauge_item,
                    gd_gauge_item_cal : this.form.gd_gauge_item_cal,
                    gd_gauge_item_cal_min : this.form.gd_gauge_item_cal_min,
                    gd_gauge_item_cal_max : this.form.gd_gauge_item_cal_max,
                }

              await apis.post('/calibration-item/edit', obj).then((result) => {
                if (result.data) {
                  Swal.fire('', result.data.message, 'success')
                  this.$router.back()
                } else {
                  let data = result.response.data
                  Swal.fire('', data.message, 'error')
                }
              })
            }
          }
        })
      }
    },
    back() {
      utils.backToPreviousPage()
    },
  }
}
</script>