<template>
    <div>
      <CRow>
        <CCol :md="12">
          <CCard class="mb-5">
            <CCardHeader>
              <div class="row justify-content-between">
                <div class="col"><h5>Calibration Data [{{ this.gauge.GAUGE_NAME }} - {{ this.gauge.GAUGE_SERIAL_NO }}]</h5></div>
              </div>
            </CCardHeader>
            <CCardBody class="p-4">
              <CCollapse :visible="!visible">
                <CRow>
                  <CCol :md="12">
                    <CRow  class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <CCol :md="4">
                        <CFormInput
                          v-model="filter.keyword"
                          class="mb-2"
                          type="text"
                          id="keyword"
                          @keyup.enter.native="doSearch(this.idGauge)"
                          placeholder="Search any variable"
                        />
                      </CCol>
                    </CRow>
                    <CRow>
                      <CCol :md="12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                          <CButton color="dark" @click="doSearch(this.idGauge)">
                            <CIcon icon="cilZoom" /> Search
                          </CButton>
                          <CButton color="light" @click="doClear()"><CIcon icon="cilX" /> Clear</CButton>
                        </div>
                      </CCol>
                    </CRow>
                  </CCol>
                </CRow>
                <hr>
              </CCollapse>
              <CTable align="middle" class="mb-3 border" striped responsive small hover>
                <CTableHead color="light">
                  <CTableRow>
                    <CTableHeaderCell class="text-start first" style="min-width: 40px">
                      No
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('GD_GAUGE_ITEM',sortOrder)">
                        <CRow>
                          <CCol xs="auto" class="me-auto">Gauge Item</CCol>
                          <CCol xs="auto" >
                            <CIcon v-if="sortBy != 'GD_GAUGE_ITEM'" icon="cilChevronTop" style="color: grey"/>
                            <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                            <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                          </CCol> 
                        </CRow>
                      </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('GD_GAUGE_ITEM_CAL',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Gauge Calibration Item</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'GD_GAUGE_ITEM_CAL'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 100px; cursor: pointer" @click="sortTable('GD_GAUGE_ITEM_CAL_MIN',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Standard Min.</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'GD_GAUGE_ITEM_CAL_MIN'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 100px; cursor: pointer" @click="sortTable('GD_GAUGE_ITEM_CAL_MAX',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Standard Max.</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'GD_GAUGE_ITEM_CAL_MAX'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-center last" style="min-width: 50px; sticky-column;">
                      Action
                    </CTableHeaderCell>
                  </CTableRow>
                </CTableHead>
                <CTableBody>
                  <CTableRow v-if="loading">
                    <CTableDataCell class="text-center" colspan="18">
                      <CSpinner component="span" size="sm" aria-hidden="true"/> Loading...
                    </CTableDataCell>
                  </CTableRow>
                  <CTableRow v-else-if="tableData.length<=0">
                    <CTableDataCell class="text-center" colspan="18">Data not found</CTableDataCell>
                  </CTableRow>
                  <CTableRow
                    v-else
                    v-for="(item, index) in tableData"
                    :key="item.GD_ID"
                  >
                    <CTableDataCell class="first">{{ ( (page.pageNo-1) * page.pageSize) + index + 1 }}</CTableDataCell>
                    <CTableDataCell>{{ item.GD_GAUGE_ITEM }}</CTableDataCell>
                    <CTableDataCell>{{ item.GD_GAUGE_ITEM_CAL }}</CTableDataCell>
                    <CTableDataCell>{{ item.GD_GAUGE_ITEM_CAL_MIN }}</CTableDataCell>
                    <CTableDataCell>{{ item.GD_GAUGE_ITEM_CAL_MAX }}</CTableDataCell>
                    <CTableDataCell class="last">
                      <div class="d-flex justify-content-center">
                        <CButton class="text-white" color="warning" size="sm"  @click="doEdit(item.GD_ID)">
                          Update</CButton>
                        &nbsp;
                        <CButton class="text-white" color="danger" size="sm"  @click="doDelete(item.GD_ID)">
                          Delete</CButton>
                        &nbsp;
                      </div>
                    </CTableDataCell>
                  </CTableRow>
                </CTableBody>
              </CTable>
              <Pagination 
                v-bind:page="page"
                v-bind:doSearch="doSearch(this.idGauge)" 
                v-bind:changePageSize="changePageSize">
              </Pagination>
            </CCardBody>
            <CCardFooter>
                <CButton class="mb-2" @click="back()" color="dark">
                    <div>
                      <font-awesome-icon icon="fa-solid fa-chevron-left" /> Back
                    </div>
                  </CButton>
            </CCardFooter>
          </CCard>
        </CCol>
      </CRow>
    </div>
  </template>
  
  <script>
  import Swal from 'sweetalert2'
  import Pagination from '@/components/Pagination2.vue'
  import utils from "@/utils/CommonUtils"
  import apis from '@/apis/CommonAPI'
  import condition from '@/utils/CommonCondition'
  import Datepicker from '@vuepic/vue-datepicker';
  import '@vuepic/vue-datepicker/dist/main.css'
  import moment from 'moment'
  import { CTableHeaderCell } from '@coreui/vue'
  
  export default {
    name: 'Calibration Item Screen',
    components: {
        Datepicker,
        Pagination,
        CTableHeaderCell
    },
    watch: {

    },
    mounted() {
      if (this.$route.params.idGauge) {
        this.idGauge = this.$route.params.idGauge
        this.doSearch(this.idGauge)
        this.doGetGauge(this.idGauge)
      }else{
        Swal.fire('', 'Gauge ID not found', 'error')
        this.$router.push('/qdc/gauge-control')
      }
    },
    data() {
      return {
        loading:false,
        tableData: [],
        idGauge: null,
        sortBy:'GD_GAUGE_ITEM',
        sortOrder:'asc',
        filter: {
          keyword: ''
        },
        page:{
          totalRecords : 0,
          totalPages: 0,
          pageNo : 1,
          pageSize : 10
        },
        gauge: {
            GAUGE_NAME : null,
            GAUGE_SERIAL_NO : null
        },
        visible: false,
        errorMessage:'',
        infoMessage:'',
        warningMessage:''
      }
    },

    methods: {
      formateDate(date){
        return moment(date).format('DD-MMM-YYYY')
      },
      doDetail(id) {
        this.pageNo = 1
        this.$router.push('/qdc/calibration-value/detail/'+ idGauge)
      },
      doClear() {
        this.filter.keyword=''
        this.filter.status_id=''
        this.doSearch(this.idGauge)
      },
      doDelete(id) {
        Swal.fire({
          title: 'Do you want to delete the record?',
          text: 'Deleted data can\'t undo.',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          cancelButtonText: `Abort`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          let obj = { gd_id : id}
          if (result.isConfirmed) {
            apis.post('/calibration-value/delete', obj).then((result) => {
              if (result.data) {
                Swal.fire('', result.data.message, 'success')
                this.doSearch(this.idGauge)
              } else {
                let data = result.response.data
                Swal.fire('', data.message, 'error')
              }
            })
          }
        })
      },
      async doSearch(idGauge) {
        this.loading = true
        let obj =
            { 
              search : {
                idGauge : idGauge,
                keyword: this.filter.keyword
              },
              limit: this.page.pageSize, 
              page: this.page.pageNo == null || this.page.pageNo == '' || this.page.pageNo == 0 ? this.page.pageNo = 1 : this.page.pageNo = this.page.pageNo,
              sortOrder: this.sortOrder,
              sortBy: this.sortBy
            }
        apis
        .post('/calibration-item/search', obj)
        .then((result) => {
          if(result.data.status != 200){
            let data = result.data.message;
            this.loading = false
            Swal.fire('', data, 'error')
          }else{
            this.tableData = result.data.data;
            this.page.totalRecords = result.data.totalRecords;
            this.page.totalPages = result.data.totalPages;
            this.page.pageNo = result.data.pageNo;
            this.page.pageSize = result.data.pageSize;
            this.loading = false
          }
        }).catch((err)=>{
          this.loading = false
          Swal.fire('', "Internal Server Error", 'error')
        })
      },
      async doGetGauge(idGauge){
        let obj = { gauge_id : idGauge}
        await apis
        .post('/gauge/get',obj)
        .then((result) => {
          if(result.status == 200){
            if(result.data.data != null){
              let data = result.data.data[0];
              this.gauge.GAUGE_NAME = data.GAUGE_NAME
              this.gauge.GAUGE_SERIAL_NO = data.GAUGE_SERIAL_NO
            }
          }
        })
      },
      sortTable(sortBy, sortOrder){
        if(this.sortBy == sortBy){
          switch(sortOrder) {
            case 'asc':
              this.sortOrder = 'desc';
              this.doSearch(this.idGauge);
              break;
            case "desc":
              this.sortOrder = 'asc';
              this.doSearch(this.idGauge);
              break;
            default:
              this.sortBy = '';
              this.sortOrder = '';
              this.doSearch(this.idGauge);
          }
        }else{
          this.sortBy = sortBy
          this.sortOrder = 'asc'
          this.doSearch(this.idGauge);
        }
      },
      async changePageSize(pageSize, pageNo){
        this.page.pageSize = pageSize;
        this.page.pageNo = pageNo;
      },
      back() {
        utils.backToPreviousPage()
      },
    },
  }
  </script>
  <style>
    .btn-circle {
          width: 30px;
          height: 30px;
          padding: 6px 0px;
          border-radius: 15px;
          text-align: center;
          font-size: 12px;
          line-height: 1.42857; 
      }
  </style>
  