<template>
    <div>
      <CRow>
        <CCol :md="12">
          <CCard class="mb-5">
            <CCardHeader>
              <div class="row justify-content-between">
                <div class="col"><h5>Custom Planning Calibration</h5></div>
                <div class="col text-end">
                  <CButton color="primary" href="#" @click="doAdd()">
                  <CIcon icon="cilPlus"
                  />&nbsp;Add</CButton>
                </div>
              </div>
            </CCardHeader>
            <CCardBody class="p-4">
              <CCollapse :visible="!visible">
                <CRow>
                  <CCol :md="12">
                    <CRow  class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <CCol :md="4">
                        <CFormInput
                          v-model="filter.keyword"
                          class="mb-2"
                          type="text"
                          id="keyword"
                          @keyup.enter.native="doSearch(true)"
                          placeholder="Search any variable"
                        />
                      </CCol>
                    </CRow>
                    <CRow>
                      <CCol :md="12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                          <CButton color="dark" @click="doSearch(true)">
                            <CIcon icon="cilZoom" /> Search
                          </CButton>
                          <CButton color="light" @click="doClear()"><CIcon icon="cilX" /> Clear</CButton>
                        </div>
                      </CCol>
                    </CRow>
                  </CCol>
                </CRow>
                <hr>
              </CCollapse>
              <CTable align="middle" class="mb-3 border" striped responsive small hover>
                <CTableHead color="light">
                  <CTableRow>
                    <CTableHeaderCell class="text-start first" style="min-width: 40px">
                      No
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('GPD_GAUGE_SERIAL_NO',sortOrder)">
                        <CRow>
                          <CCol xs="auto" class="me-auto">Gauge Serial No</CCol>
                          <CCol xs="auto" >
                            <CIcon v-if="sortBy != 'GPD_GAUGE_SERIAL_NO'" icon="cilChevronTop" style="color: grey"/>
                            <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                            <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                          </CCol> 
                        </CRow>
                      </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('GPD_GAUGE_NAME',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Gauge Name</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'GPD_GAUGE_NAME'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 10px; cursor: pointer" @click="sortTable('GPD_DATE',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Callibration Planning Date</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'GPD_DATE'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-center last" style="min-width: 50px; sticky-column;">
                      Action
                    </CTableHeaderCell>
                  </CTableRow>
                </CTableHead>
                <CTableBody>
                  <CTableRow v-if="loading">
                    <CTableDataCell class="text-center" colspan="18">
                      <CSpinner component="span" size="sm" aria-hidden="true"/> Loading...
                    </CTableDataCell>
                  </CTableRow>
                  <CTableRow v-else-if="tableData.length<=0">
                    <CTableDataCell class="text-center" colspan="18">Data not found</CTableDataCell>
                  </CTableRow>
                  <CTableRow
                    v-else
                    v-for="(item, index) in tableData"
                    :key="item.GD_ID"
                  >
                    <CTableDataCell class="first">{{ ( (page.pageNo-1) * page.pageSize) + index + 1 }}</CTableDataCell>
                    <CTableDataCell>{{ item.GPD_GAUGE_SERIAL_NO }}</CTableDataCell>
                    <CTableDataCell>{{ item.GPD_GAUGE_NAME }}</CTableDataCell>
                    <CTableDataCell>{{ formateDate(item.GPD_DATE) }}</CTableDataCell>
                    <CTableDataCell class="last">
                      <div class="d-flex justify-content-center">
                        <CButton class="text-white" color="warning" size="sm"  @click="doEdit(item)">
                          Update</CButton>
                        &nbsp;
                        <CButton class="text-white" color="danger" size="sm"  @click="doDelete(item.GPD_ID)">
                          Delete</CButton>
                        &nbsp;
                      </div>
                    </CTableDataCell>
                  </CTableRow>
                </CTableBody>
              </CTable>
              <Pagination 
                v-bind:page="page"
                v-bind:doSearch="doSearch" 
                v-bind:changePageSize="changePageSize">
              </Pagination>
            </CCardBody>
            <CCardFooter>
                <CButton class="mb-2" @click="back()" color="dark">
                    <div>
                      <font-awesome-icon icon="fa-solid fa-chevron-left" /> Back
                    </div>
                  </CButton>
            </CCardFooter>
          </CCard>
        </CCol>
      </CRow>
    </div>
    <Teleport to="body">
      <CModal 
              size='m'
              :visible="showModal"  
              @close="() => {showModal = false}"
              id="form-modal"
              backdrop="static"
            >
            <CModalHeader>
              <CModalTitle v-if="isEdit == true">Update Planning [{{dataCustom.GPD_GAUGE_SERIAL_NO}}]</CModalTitle>
              <CModalTitle v-else>Add Planning</CModalTitle>
            </CModalHeader>
            <CModalBody>
              <CRow>
                <CCol :md="6">
                  <Datepicker 
                    v-model="dataCustom.GPD_DATE" 
                    :clearable="false"
                    :enable-time-picker="false"
                    format="dd-MMM-yyyy"
                  />
                </CCol>
                <CCol :md="6">
                  <v-select
                      id="gauge_id"
                      v-model="dataCustom.GPD_GAUGE_ID"
                      label="GAUGE_SERIAL_NO"
                      :reduce="GAUGE_SERIAL_NO => GAUGE_SERIAL_NO.GAUGE_ID"
                      :options="gaugeOptions"
                      :clearable="false"
                      placeholder="Select Gauge"
                      :disabled="isEdit"
                    >
                  </v-select>
                </CCol>
              </CRow>
            </CModalBody>
            <CModalFooter>
              <CRow>
                <CCol :md="12" class="text-end" v-if="isEdit">
                  <CButton color="primary" size="md" @click="doEditCustom()">
                    <CIcon icon="cilSave" size="md" /> Edit
                  </CButton>
                </CCol>
                <CCol :md="12" class="text-end" v-else>
                  <CButton color="primary" size="md" @click="doSaveCustom()">
                    <CIcon icon="cilSave" size="md" /> Save
                  </CButton>
                </CCol>
              </CRow>
            </CModalFooter>
      </CModal>
    </Teleport>
  </template>
  
  <script>
  import Swal from 'sweetalert2'
  import Pagination from '@/components/Pagination2.vue'
  import utils from "@/utils/CommonUtils"
  import apis from '@/apis/CommonAPI'
  import condition from '@/utils/CommonCondition'
  import Datepicker from '@vuepic/vue-datepicker';
  import '@vuepic/vue-datepicker/dist/main.css'
  import moment from 'moment'
  import { CTableHeaderCell } from '@coreui/vue'
  import router from '../../router'
  
  export default {
    name: 'Custom Planning Screen',
    components: {
        Datepicker,
        Pagination,
        CTableHeaderCell
    },
    watch: {

    },
    mounted() {
      this.doSearch()
      this.doGetGauges()
    },
    data() {
      return {
        loading:false,
        tableData: [],
        sortBy:'GPD_DATE',
        sortOrder:'desc',
        filter: {
          keyword: ''
        },
        page:{
          totalRecords : 0,
          totalPages: 0,
          pageNo : 1,
          pageSize : 10
        },
        date: Date.now(),
        visible: false,
        errorMessage:'',
        infoMessage:'',
        warningMessage:'',
        showModal: false,
        gaugeOptions: [],
        dataCustom: {
          GPD_ID : null,
          GPD_GP_ID : null,
          GPD_GAUGE_ID : null,
          GPD_DATE : new Date(),
          GPD_GAUGE_SERIAL_NO: null
        },
        isEdit : false
      }
    },

    methods: {
      formateDate(date){
        return moment(date).format('DD-MMM-YYYY')
      },
      formateMonth(date){
        return moment(date).format('MMMM YYYY')
      },
      doAdd() {
        this.dataCustom.GPD_ID = null,
        this.dataCustom.GPD_GP_ID = null,
        this.dataCustom.GPD_GAUGE_ID = null,
        this.dataCustom.GPD_DATE = new Date(),
        this.dataCustom.GPD_GAUGE_SERIAL_NO = null,
        this.showModal = true
        this.isEdit = false
      },
      doEdit(data) {
        this.dataCustom.GPD_ID = data.GPD_ID,
        this.dataCustom.GPD_GP_ID = data.GPD_GP_ID,
        this.dataCustom.GPD_GAUGE_ID = data.GPD_GAUGE_ID,
        this.dataCustom.GPD_DATE = data.GPD_DATE,
        this.dataCustom.GPD_GAUGE_SERIAL_NO = data.GPD_GAUGE_SERIAL_NO,
        this.showModal = true
        this.isEdit = true
      },
      doClear() {
        this.filter.keyword=''
        this.doSearch()
      },
      doDelete(id) {
        Swal.fire({
          title: 'Do you want to delete the record?',
          text: 'Deleted data can\'t undo.',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          cancelButtonText: `Abort`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          let obj = { gpd_id : id}
          if (result.isConfirmed) {
            apis.post('/custom-planning/delete', obj).then((result) => {
              if (result.data) {
                Swal.fire('', result.data.message, 'success')
                this.doSearch()
              } else {
                let data = result.response.data
                Swal.fire('', data.message, 'error')
              }
            })
          }
        })
      },
      async doEditCustom(){
        this.dataCustom.GPD_DATE = moment(this.dataCustom.GPD_DATE).format('MM-DD-YYYY')
        let obj = {
            gpd_id : this.dataCustom.GPD_ID,
            gpd_date : this.dataCustom.GPD_DATE,
        }
        await apis.post('/custom-planning/edit', obj).then((result) => {
          if (result.data.status == 200) {
              this.showModal = false
              this.doSearch()
              Swal.fire('', result.data.message, 'success')
          } else {
              let data = result.data.message
              Swal.fire('', data, 'error')
          }
        })
      },
      async doSaveCustom(){
        this.dataCustom.GPD_DATE = moment(this.dataCustom.GPD_DATE).format('MM-DD-YYYY')
        if(this.dataCustom.GPD_GAUGE_ID != null){
          let obj = {
            gpd_date : this.dataCustom.GPD_DATE,
            gpd_gauge_id : this.dataCustom.GPD_GAUGE_ID,
          }
          await apis.post('/custom-planning/add', obj).then((result) => {
            if (result.data.status == 200) {
              this.showModal = false
              this.doSearch()
              Swal.fire('', result.data.message, 'success')
            } else {
              let data = result.data.message
              Swal.fire('', data, 'error')
            }
          })
        }else{
          Swal.fire('', 'Gauge must be selected', 'error')
        }
      },
      async doSearch(filter) {
        filter && filter == true ? this.page.pageNo = 1 : null
        this.loading = true
        let obj =
            { 
              search : {
                keyword: this.filter.keyword,
                startDate: null,
                endDate: null
              },
              limit: this.page.pageSize, 
              page: this.page.pageNo == null || this.page.pageNo == '' || this.page.pageNo == 0 ? this.page.pageNo = 1 : this.page.pageNo = this.page.pageNo,
              sortOrder: this.sortOrder,
              sortBy: this.sortBy
            }
        apis
        .post('/custom-planning/search', obj)
        .then((result) => {
          if(result.data.status != 200){
            let data = result.data.message;
            this.loading = false
            Swal.fire('', data, 'error')
          }else{
            this.tableData = result.data.data;
            this.page.totalRecords = result.data.totalRecords;
            this.page.totalPages = result.data.totalPages;
            this.page.pageNo = result.data.pageNo;
            this.page.pageSize = result.data.pageSize;
            this.loading = false
          }
        }).catch((err)=>{
          this.loading = false
          Swal.fire('', "Internal Server Error", 'error')
        })
      },
      async doGetGauges() {
        let obj =
            { 
              search : {
                keyword: '',
                gaugeStatus: '',
                idGauges: '',
                lineName: ''
              },
              limit: 10000000, 
              page: 1,
              sortOrder: 'GAUGE_SERIAL_NO',
              sortBy: 'ASC'
            }
        apis
        .post('/gauge/search', obj)
        .then((result) => {
          if(result.data.status != 200){
            this.gaugeOptions = []
          }else{
            this.gaugeOptions = result.data.data;
          }
        }).catch((err)=>{
          this.loading = false
          Swal.fire('', "Internal Server Error", 'error')
        })
      },
      sortTable(sortBy, sortOrder){
        if(this.sortBy == sortBy){
          switch(sortOrder) {
            case 'asc':
              this.sortOrder = 'desc';
              this.doSearch();
              break;
            case "desc":
              this.sortOrder = 'asc';
              this.doSearch();
              break;
            default:
              this.sortBy = '';
              this.sortOrder = '';
              this.doSearch();
          }
        }else{
          this.sortBy = sortBy
          this.sortOrder = 'asc'
          this.doSearch();
        }
      },
      async changePageSize(pageSize, pageNo){
        this.page.pageSize = pageSize;
        this.page.pageNo = pageNo;
      },
      back() {
        // utils.backToPreviousPage()
        router.back()
      },
    },
  }
  </script>
  <style>
    .btn-circle {
          width: 30px;
          height: 30px;
          padding: 6px 0px;
          border-radius: 15px;
          text-align: center;
          font-size: 12px;
          line-height: 1.42857; 
      }
  </style>
  