<template>
    <div>
        <CRow>
          <CCol :md="12">
            <CCard>
              <CCardHeader>
                <div><h5>Report {{dateTitle}}</h5></div>
              </CCardHeader>
              <CCardBody>
                <CForm 
                    novalidate
                    :validated="validatedInput"
                    @submit.prevent="save">
                    <CRow class="mb-1 ms-1 me-1 text-start">
                        <CRow>
                            <CCol :md="2" align="left"><h6></h6></CCol>
                            <CCol :md="3" align="left"><h6>Target</h6></CCol>
                            <CCol :md="3" align="left"><h6>Challenge</h6></CCol>
                            <CCol :md="3" align="left"><h6>Achievement</h6></CCol>
                            <CCol :md="1" align="left"><h6></h6></CCol>
                        </CRow>
                        <CRow v-for="(item, index) in dataForms">
                            <CCol :md="2" align="left"><h6>{{item.DM_NAME}}</h6></CCol>
                            <CCol :md="3" class="mb-1">
                                <CFormInput
                                    v-model="item.DMD_TARGET"
                                    type="number"
                                    id="dmd_target"
                                    placeholder="Target"
                                    required
                                    feedbackInvalid="Please provide a valid target"
                                />
                            </CCol>
                            <CCol :md="3">
                                <CFormInput
                                    v-model="item.DMD_CHALLENGE"
                                    type="number"
                                    id="dmd_challenge"
                                    placeholder="Challenge"
                                    required
                                    feedbackInvalid="Please provide a valid challenge"
                                />
                            </CCol>
                            <CCol :md="3">
                                <CFormInput
                                    v-model="item.DMD_ACHIEVEMENT"
                                    type="number"
                                    id="dmd_achievement"
                                    placeholder="Achievement"
                                    required
                                    feedbackInvalid="Please provide a valid achievement"
                                />
                            </CCol>
                            <CCol :md="1" align="left">
                                {{item.DM_UNIT}}
                            </CCol>
                        </CRow>
                    </CRow>
                    <CRow class="mb-2 mt-2">
                        <CCol>
                          <CButton type="submit" color="primary" class="me-2 mb-2" 
                            v-if="!isDetail">
                            <CIcon icon="cilSave" /> Submit
                          </CButton>
                          <CButton class="mb-2" @click="back()" color="dark">
                            <div v-if="isDetail">
                              <font-awesome-icon icon="fa-solid fa-chevron-left" /> Back
                            </div>
                            <div v-else>
                              <CIcon icon="cilX" /> Cancel
                            </div>
                          </CButton>
                        </CCol>
                    </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </div>
</template>

<script>
import Swal from 'sweetalert2'
import utils from "@/utils/CommonUtils"
import apis from '@/apis/CommonAPI'
import router from '../../router'
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import moment from 'moment'

export default {
  name: 'Calibration Item Form',
  components: { Datepicker },
  mounted() {
    const date = new Date()
    this.month = date.getMonth()+1
    this.year = date.getFullYear()
    this.getDailyManagement(this.month, this.year)
    this.dateTitle = moment(date).format('MMMM YYYY')
  },
  data() {
    return {
        dataForms: [],
        isEdit: false,
        loading: false,
        isDetail: false,
        validatedInput: null,
        validatedSelect: null,
        dateTitle: null,
        month: null,
        year: null
    }
  },
  watch: {
  },
  methods : {
    async getDailyManagement(month, year){
        let obj = {
          month: JSON.stringify(month),
          year: JSON.stringify(year)
        }
        apis
          .post('/daily-management/get', obj)
          .then((result) => { 
            if(result.status == 200){
              let data = result.data.data
              this.dataForms = data
            }
          }).catch((err)=>{
            console.log(err)
          })
    },

    async save(event) {
      const form = event.currentTarget
      if (form.checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        this.validatedInput = true
      }else{
        this.validatedInput = false
        Swal.fire({
          title: 'Do you want to save the changes?',
          text: 'Make sure the data is correct!',
          showCancelButton: true,
          confirmButtonText: 'Save',
          cancelButtonText: `Check again`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          if (result.isConfirmed) {
            if(this.dataForms[0].DMD_ID == null){
                let obj = {
                    month: JSON.stringify(this.month),
                    year: JSON.stringify(this.year),
                    dataReport: this.dataForms,
                }
                await apis.post('/daily-management/add', obj).then((result) => {
                  if (result.data.status == 200) {
                    Swal.fire('', result.data.message, 'success')
                    this.$router.back()
                  } else {
                    let data = result.data.message
                    Swal.fire('', data, 'error')
                  }
                })
            }else{
                let obj = {dataReport: this.dataForms}
                await apis.post('/daily-management/edit', obj).then((result) => {
                if (result.data) {
                  Swal.fire('', result.data.message, 'success')
                  this.$router.back()
                } else {
                  let data = result.response.data
                  Swal.fire('', data.message, 'error')
                }
              })
            }
          }
        })
      }
    },
    back() {
      utils.backToPreviousPage()
    },
  }
}
</script>