<template>
    <div>
        <CRow>
          <CCol :md="12">
            <CCard>
              <CCardHeader>
                <div v-if="isEdit"><h5>Edit Gauge</h5></div>
                <div v-else-if="isDetail"><h5>Detail Gauge</h5></div>
                <div v-else><h5>Register New Gauge</h5></div>
              </CCardHeader>
              <CCardBody>
                <CForm
                  novalidate
                  :validated="validatedInput"
                  @submit.prevent="save">
                  <CRow class="mb-1">
                    <CCol lg="6">
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_serial_no">
                          Gauge Serial No <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gauge_serial_no"
                          type="text"
                          id="gauge_serial_no"
                          placeholder="Gauge Serial No"
                          maxlength="200"
                          required
                          feedbackInvalid="Please provide a valid Gauge Serial No"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_brand">
                          Brand <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gauge_brand"
                          type="text"
                          id="gauge_brand"
                          placeholder="Gauge Brand"
                          maxlength="200"
                          required
                          feedbackInvalid="Please provide a valid Gauge Brand"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_product_range_measurement">
                          Product Range Measurement
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gauge_product_range_measurement"
                          type="text"
                          id="gauge_product_range_measurement"
                          placeholder="Gauge Product Range Measurement"
                          maxlength="200"
                          feedbackInvalid="Please provide a valid Gauge Product Range Measurement"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_op_no">
                         Operation No <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gauge_op_no"
                          type="text"
                          id="gauge_op_no"
                          placeholder="Gauge Operation No"
                          maxlength="200"
                          required
                          feedbackInvalid="Please provide a valid Gauge Operation No"
                          :disabled="isDetail"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_valid_for">
                          Lead Time (Minutes) <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gauge_lead_time"
                          type="number"
                          id="gauge_lead_time"
                          placeholder="Gauge Lead Time"
                          min="0"
                          required
                          feedbackInvalid="Please provide a valid Gauge Lead Time"
                          :disabled="isDetail"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_last_calibration">
                          Last Calibration <span style="color: red">*</span>
                        </CFormLabel>
                        <Datepicker 
                              v-model="form.gauge_last_calibration" 
                              :clearable="false" 
                              :enable-time-picker="false"
                              placeholder="Select Last Calibration"
                              format="dd-MM-yyyy" 
                        />
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_pic">
                          Gauge PIC <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gauge_pic"
                          type="text"
                          id="gauge_pic"
                          placeholder="Gauge PIC"
                          maxlength="200"
                          required
                          feedbackInvalid="Please provide a valid Gauge PIC"
                          :disabled="isDetail"
                        />
                      </div>
                    </CCol>
                    <CCol lg="6">
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_name">
                          Gauge Name <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gauge_name"
                          type="text"
                          id="gauge_name"
                          placeholder="Gauge Name"
                          maxlength="200"
                          required
                          feedbackInvalid="Please provide a valid Gauge Name"
                          :disabled="isDetail"
                        />
                      </div>
                      <div class="form-group mb-3"> 
                        <CFormLabel for="gauge_line_id">
                          Line <span style="color: red">*</span>
                        </CFormLabel>
                        <v-select
                              id="lineIDCombo"
                              :disabled="isDetail"
                              v-model="form.gauge_line_name"
                              label="line_nm"
                              :reduce="line_nm => line_nm.id"
                              :options="lineOptions"
                              :clearable="false"
                              placeholder="Select Line"
                              @search="comboLine"
                              @input="onChange"
                          >
                        </v-select>
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_calibration_equipment">
                          Calibration Equipment
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gauge_calibration_equipment"
                          type="text"
                          id="gauge_calibration_equipment"
                          placeholder="Gauge Calibration Equipment"
                          maxlength="200"
                          feedbackInvalid="Please provide a valid Gauge Calibration Equipment"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_valid_for">
                          Valid For (Days) <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.gauge_valid_for"
                          type="number"
                          id="gauge_valid_for"
                          placeholder="Gauge Valid For"
                          min="0"
                          required
                          feedbackInvalid="Please provide a valid Gauge Valid For"
                          :disabled="isDetail"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_installed_calibration">
                          Installed Calibration <span style="color: red">*</span>
                        </CFormLabel>
                        <Datepicker 
                              v-model="form.gauge_installed_calibration" 
                              :clearable="false" 
                              :enable-time-picker="false"
                              placeholder="Select Installed Calibration"  
                              format="dd-MM-yyyy"
                            />
                      </div>
                      <div class="form-group mb-3">
                        <CFormLabel for="gauge_foto">
                          Upload Picture Gauge 
                        </CFormLabel>
                        <CInputGroup v-if="!isDetail">
                          <CFormInput type="file"
                            accept="image/*"
                            v-on:change="onChangePhoto"
                            id="filePhoto"
                            aria-describedby="filePhotoDelete"
                            />
                            <CButton type="button" color="primary" id="filePhotoDelete" @click="clearPhoto()">
                              <CIcon icon="cilX" />
                            </CButton>
                        </CInputGroup>
                      </div>
                      <CImage class="mb-2" rounded thumbnail id="imgPhoto" style="width: 100px; height: 100px;" 
                        :src="form.gauge_foto?form.gauge_foto:defaultImage"
                      />
                    </CCol>
                  </CRow>

                  <div class="d-flex justify-content-end" v-if="!isEdit">
                    <div>
                      <CButton color="info" class="text-white" href="#" @click="doItemCheck()">
                        <CIcon icon="cilPlus"
                        />&nbsp;Item Check</CButton>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end" v-if="isEdit">
                    <div>
                      <CButton color="info" class="text-white" href="#" @click="doEditCalItem(this.$route.params.id)">
                        Edit Calibration Item</CButton>
                    </div>
                    &nbsp;
                  </div>

                  <CRow class="mb-0 row d-flex justify-content-start form-group" v-if="itemCheck.length > 0">
                    <h5>Item Check</h5>
                  </CRow>
                  <CRow class="mb-0 row d-flex justify-content-start form-group" v-if="itemCheck.length > 0">
                    <CCol lg="4">
                      <div class="form-group mb-0">
                        <CFormLabel for="item_check">
                          Item
                        </CFormLabel>
                      </div>
                    </CCol>
                    <CCol lg="3">
                      <div class="form-group mb-0">
                        <CFormLabel for="item_check_cal">
                          Product Value
                        </CFormLabel>
                      </div>
                    </CCol>
                    <CCol lg="3">
                      <div class="form-group mb-0">
                        <CFormLabel for="aspect_length">
                          Calibration Aspect
                        </CFormLabel>
                      </div>
                    </CCol>
                    <CCol lg="2">
                      <div class="form-group mb-0 ms-2 text-center">
                        <CFormLabel for="item_check_cal" class="ms-3">
                          Action
                        </CFormLabel>
                      </div>
                    </CCol>
                  </CRow>

                  <CRow class="mb-0 d-flex justify-content-start" v-for="item, index in itemCheck" :key="item">
                    <CCol lg="4">
                      <div class="form-group mb-1">
                        <CFormInput
                          v-model="item.item_check"
                          type="text"
                          id="item_check"
                          maxlength="200"
                          required
                          feedbackInvalid="Please provide a valid item Check"
                          :disabled="item.status"
                          :readonly="item.status"
                        />
                      </div>
                    </CCol>
                    <CCol lg="3">
                      <div class="form-group mb-1">
                        <CFormInput
                          v-model="item.product_value"
                          type="text"
                          id="product_value"
                          maxlength="200"
                          required
                          feedbackInvalid="Please provide a valid Product Value"
                          :disabled="item.status"
                        />
                      </div>
                    </CCol>
                    <CCol lg="3">
                      <div class="form-group mb-1">
                        <CFormInput
                          v-model="item.aspect_length"
                          type="number"
                          id="aspect_length"
                          min="0"
                          :disabled="item.status"
                        />
                      </div>
                    </CCol>
                    <CCol lg="2">
                      <div class="row justify-content-between form-group mb-1">
                          <div class="col text-end">
                            &nbsp;
                            <CButton v-if="item.status" color="warning"  class="text-white" href="#" @click="doUpdateBtnStatus(item)">
                              <CIcon icon="cilLoopCircular"
                              /></CButton>
                            <CButton v-if="!item.status" color="info"  class="text-white" href="#" @click="doAddItemCalibration(item)">
                              <CIcon icon="cilPlus"
                              /></CButton>
                            &nbsp;
                            <CButton color="primary" href="#" @click="doItemCheckDelete(item.id)">
                              <CIcon icon="cil-Trash"
                              /></CButton>
                          </div>
                      </div>
                    </CCol>
                  </CRow>

                  <div class="mt-3" v-if="itemCheckUpdate.length > 0">
                    <h5> Calibrated Aspects </h5>
                  </div>
                  <div class="mt-1" v-for="item, index in itemCheckUpdate" :key="item">
                    <h6>
                      {{ index+1 }} . {{ item.item_check }}|{{ item.product_value }} 
                    </h6>                   
                    <CRow class="mb-0 d-flex justify-content-end" v-for="itemC, indexC in item.calibration_aspect" :key="itemC">
                      <CCol lg="5">
                        <div class="form-group mb-1">
                          <CFormInput
                            v-model="itemC.gd_gauge_item_cal"
                            type="text"
                            id="gd_gauge_item_cal"
                            placeholder="Name of item"
                            maxlength="200"
                            required
                          />
                        </div>
                      </CCol>
                      <CCol lg="3">
                        <div class="form-group mb-1">
                          <CFormInput
                            v-model="itemC.gd_gauge_item_cal_min"
                            type="number"
                            id="gd_gauge_item_cal_min"
                            placeholder="Min"
                            required
                            step="any"
                          />
                        </div>
                      </CCol>
                      <CCol lg="3">
                        <div class="form-group mb-1">
                          <CFormInput
                            v-model="itemC.gd_gauge_item_cal_max"
                            type="number"
                            id="gd_gauge_item_cal_max"
                            placeholder="Max"
                            required
                            step="any"
                          />
                        </div>
                      </CCol>
                      <CCol lg="1">
                        <div class="row justify-content-between form-group mb-1">
                          <div class="col text-end">
                            <CButton color="primary" href="#" @click="doItemCalDelete(item.id, indexC)">
                              <CIcon icon="cil-Trash"
                              /></CButton>
                          </div>
                        </div>
                      </CCol>
                    </CRow>
                  </div>

                  &nbsp;
                  <CRow class="mb-2 mt-2">
                    <CCol>
                      <CButton type="submit" color="primary" class="me-2 mb-2"
                        v-if="!isDetail">
                        <CIcon icon="cilSave" /> Submit
                      </CButton>
                      <CButton class="mb-2" @click="back()" color="dark">
                        <div v-if="isDetail">
                          <font-awesome-icon icon="fa-solid fa-chevron-left" /> Back
                        </div>
                        <div v-else>
                          <CIcon icon="cilX" /> Cancel
                        </div>
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </div>
</template>

<script>
import Swal from 'sweetalert2'
import utils from "@/utils/CommonUtils"
import apis from '@/apis/CommonAPI'
import condition from '@/utils/CommonCondition'
import router from '../../router'
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import moment from 'moment'
import defaultImage from '@/assets/images/defaultImage.png'
import { reactive } from 'vue'
import { map } from 'highcharts'

export default {
  name: 'Gauge Control Form',
  components: { Datepicker },
  mounted() {
    if (this.$route.params.id) {
      this.isEdit = true
      this.getByID({id : this.$route.params.id})
    }
    this.fetchComboLine()
  },
  data() {
    return {
        form:{
            gauge_id: null,
            gauge_serial_no: null,
            gauge_name: null,
            gauge_brand: null,
            gauge_line_id: null,
            gauge_line_name: null,
            gauge_op_no: null,
            gauge_product_range_measurement: null,
            gauge_calibration_equipment: null,
            gauge_valid_for: null,
            gauge_lead_time: null,
            gauge_installed_calibration: moment().format('MM-DD-YYYY'),
            gauge_last_calibration: moment().format('MM-DD-YYYY'),
            gauge_pic: null,
            gauge_foto: null,
            gauge_detail: []
        },
        isEdit: false,
        loading: false,
        isDetail: false,
        validatedInput: null,
        validatedSelect: null,
        lineOptions: [],
        defaultImage: defaultImage,
        itemCheck: [],
        itemCheckUpdate: [],
        itemCalName: [],
        itemCalibration: []
    }
  },
  watch: {
  },
  methods : {
    onChangePhoto(){
      let reader = new FileReader();
      let filePhoto = document.getElementById("filePhoto");
      let imgPhoto = document.getElementById("imgPhoto");
      reader.onload = (e) => { 
        if(e.total > 5500000){
          Swal.fire('', 'Sorry, Maksimum upload file size 5 MB', 'error')
        } else{
          imgPhoto.src = e.target.result;
          this.form.gauge_foto=e.target.result; 
        }    
      };
      reader.readAsDataURL(filePhoto.files[0]);
    },
    clearPhoto(){
      this.gauge_foto = ''
    },
    comboLine(search, loading){
      loading(true);
      this.fetchComboLine(search)
      loading(false);
    },
    async fetchComboLine(){

      await apis
          .post('/common/line/search')
          .then((result) => {
            if (result.data) {
              let data = result.data.data
              this.lineOptions = data
              // if(!this.isEdit){
              //   this.form.gauge_line_id = data[0].id
              // }
            } else {
              this.lineOptions = []
            }
      })
    },
    async getByID(param){
        let obj = { gauge_id : param.id}
        await apis
        .post('/gauge/get',obj)
        .then((result) => {
          if(result.status == 200){
            if(result.data.data != null){
              let data = result.data.data[0];
              this.form.gauge_id = data.GAUGE_ID,
              this.form.gauge_serial_no = data.GAUGE_SERIAL_NO,
              this.form.gauge_name = data.GAUGE_NAME,
              this.form.gauge_brand = data.GAUGE_BRAND,
              this.form.gauge_line_name = data.GAUGE_LINE_NAME,
              this.form.gauge_line_id = data.GAUGE_LINE_ID,
              this.form.gauge_op_no = data.GAUGE_OP_NO,
              this.form.gauge_product_range_measurement = data.GAUGE_PRODUCT_RANGE_MEASUREMENT,
              this.form.gauge_calibration_equipment = data.GAUGE_CALIBRATION_EQUIPMENT,
              this.form.gauge_valid_for = data.GAUGE_VALID_FOR,
              this.form.gauge_lead_time = data.GAUGE_LEAD_TIME,
              this.form.gauge_installed_calibration = data.GAUGE_INSTALL_CALIBRATION,
              this.form.gauge_last_calibration = data.GAUGE_LAST_CALIBRATION,
              this.form.gauge_pic = data.GAUGE_PIC,
              this.form.gauge_foto = data.GAUGE_FOTO,
              this.gauge_detail = []
            }else{
              Swal.fire('', 'Gauge not found', 'error')
              this.$router.push('/qdc/gauge-control')
            }
          }else{
            Swal.fire('', 'Gauge not found', 'error')
            this.$router.push('/qdc/gauge-control')
          }
        })
    },
    async save(event) {
      const form = event.currentTarget
      if (form.checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        this.validatedInput = true
      }else{
        this.validatedInput = false
        Swal.fire({
          title: 'Do you want to save the changes?',
          text: 'Make sure the data is correct!',
          showCancelButton: true,
          confirmButtonText: 'Save',
          cancelButtonText: `Check again`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          if (result.isConfirmed) {
            if(this.form.gauge_id == null){

              let gaugeDetail = []
              this.itemCheckUpdate.forEach(e => {
                e.calibration_aspect.forEach(ec => {
                  gaugeDetail.push(ec)
                });
              });
              this.form.gauge_detail = gaugeDetail

              let obj = {
                gauge_serial_no : this.form.gauge_serial_no,
                gauge_name : this.form.gauge_name,
                gauge_brand : this.form.gauge_brand,
                gauge_line_name : this.form.gauge_line_name,
                gauge_line_id : this.form.gauge_line_id,
                gauge_op_no : this.form.gauge_op_no,
                gauge_product_range_measurement : this.form.gauge_product_range_measurement,
                gauge_calibration_equipment : this.form.gauge_calibration_equipment,
                gauge_valid_for : this.form.gauge_valid_for,
                gauge_lead_time : this.form.gauge_lead_time,
                gauge_install_calibration : moment(this.form.gauge_installed_calibration).format('MM-DD-YYYY'),
                gauge_last_calibration : moment(this.form.gauge_last_calibration).format('MM-DD-YYYY'),
                gauge_pic : this.form.gauge_pic,
                gauge_foto : this.form.gauge_foto,
                gauge_detail : this.form.gauge_detail
              }

              console.log('ADD', obj)

              //handle button item check after save
              let checkBtnItem = this.itemCheck.findIndex(i => i.status == false)
              let checkBtnItemUpdate = this.itemCheckUpdate.findIndex(i => i.status == false)
              if(checkBtnItem == -1 && checkBtnItemUpdate == -1){

                await apis.post('/gauge/add', obj).then((result) => {
                  console.log(result.data)
                  if (result.data.status == 200) {
                    Swal.fire('', result.data.message, 'success')
                    this.$router.back()
                  } else {
                    let data = result.data.message
                    Swal.fire('', data, 'error')
                  }
                })
              }else{
                 Swal.fire('', 'Item check button has not been pressed', 'error')
              }
              
            }else{
              let obj = {
                gauge_id: this.form.gauge_id,
                gauge_serial_no : this.form.gauge_serial_no,
                gauge_name : this.form.gauge_name,
                gauge_brand : this.form.gauge_brand,
                gauge_line_name : this.form.gauge_line_name,
                gauge_line_id : this.form.gauge_line_id,
                gauge_op_no : this.form.gauge_op_no,
                gauge_product_range_measurement : this.form.gauge_product_range_measurement,
                gauge_calibration_equipment : this.form.gauge_calibration_equipment,
                gauge_valid_for : this.form.gauge_valid_for,
                gauge_lead_time : this.form.gauge_lead_time,
                gauge_install_calibration : moment(this.form.gauge_installed_calibration).format('MM-DD-YYYY'),
                gauge_last_calibration : moment(this.form.gauge_last_calibration).format('MM-DD-YYYY'),
                gauge_pic : this.form.gauge_pic,
                gauge_foto : this.form.gauge_foto
              }
              await apis.post('/gauge/edit', obj).then((result) => {
                if (result.data) {
                  Swal.fire('', result.data.message, 'success')
                  this.$router.back()
                } else {
                  let data = result.response.data
                  Swal.fire('', data.message, 'error')
                }
              })
            }
          }
        })
      }
    },
    doItemCheck(){
      let dataItemCheck = {
            id : (Math.random() + 1).toString(36).substring(7),
            item_check : null,
            product_value : null,
            aspect_length : 0,
            status: false
      }
      this.itemCheck.push(dataItemCheck)
    },
    doItemCheckDelete(id){
      this.itemCheck.splice(this.itemCheck.findIndex(i => i.id == id), 1)
      this.itemCheckUpdate.splice(this.itemCheckUpdate.findIndex(i => i.id == id), 1)
    },
    doAddItemCalibration(item){
      //handle error item aspect
      item.aspect_length == null || item.aspect_length == '' 
              ? item.aspect_length = 0 
              : item.aspect_length = item.aspect_length

      let itemCalArr = []
      for (let i = 0; i < parseInt(item.aspect_length); i++) {
        let dataItemCal = {
          gd_gauge_item : item.item_check + '|' + item.product_value,
          gd_gauge_item_cal : null,
          gd_gauge_item_cal_max : null,
          gd_gauge_item_cal_min : null
        }
        itemCalArr.push(dataItemCal)
      }

      //update item cal
      let index = this.itemCheck.findIndex(i => i.id == item.id)
        this.itemCheck[index].item_check = item.item_check
        this.itemCheck[index].product_value = item.product_value
        this.itemCheck[index].aspect_length = item.aspect_length
        this.itemCheck[index].calibration_aspect = itemCalArr
        this.itemCheck[index].status = true
      
      let indexUpdate = this.itemCheckUpdate.findIndex(i => i.id == item.id);
        if(indexUpdate == -1){
          this.itemCheckUpdate.push(this.itemCheck[index])
        }else{
          this.itemCheckUpdate[indexUpdate].item_check = item.item_check
          this.itemCheckUpdate[indexUpdate].product_value = item.product_value
          this.itemCheckUpdate[indexUpdate].aspect_length = item.aspect_length
          this.itemCheckUpdate[indexUpdate].calibration_aspect = itemCalArr
        }
    },
    doUpdateBtnStatus(item){
      let index = this.itemCheck.findIndex(i => i.id == item.id);
        this.itemCheck[index].status = false
    },
    doItemCalDelete(idItemCheck, idxCalAspect){
      let indexItemCheck = this.itemCheckUpdate.findIndex(i => i.id == idItemCheck)
        this.itemCheckUpdate[indexItemCheck].calibration_aspect.splice(idxCalAspect, 1)
        this.itemCheckUpdate[indexItemCheck].aspect_length = this.itemCheckUpdate[indexItemCheck].calibration_aspect.length
        this.itemCheck[indexItemCheck].aspect_length = this.itemCheckUpdate[indexItemCheck].calibration_aspect.length
    },
    doEditCalItem(idGauge){
      this.$router.push('/qdc/calibration-item/'+idGauge)
    },
    // doEditCalValue(idGauge){
    //   this.$router.push('/qdc/calibration-value/'+idGauge)
    // },
    back() {
      if(!this.isDetail){
        utils.backToPreviousPage()
      }else{
        router.back()
      }
    },
  }
}
</script>
<style>
    
</style>