<template>
    <div>
      <CRow>
        <CCol :md="12">
          <!-- <div class="mb-2 text-end">
            <CButton type="button" color="primary" class="btn btn-circle position-relative">
              <CIcon icon="cil-bell"/>
              <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill bg-info">
                99+
              </span>
            </CButton>
          </div> -->
          <CCard class="mb-5">
            <CCardHeader>
              <div class="row justify-content-between">
                <div class="col-2"><h5>Gauge Control</h5></div>
                <div class="col-10 text-end">
                  <CButton color="primary" href="#" @click="doAdd()" v-c-tooltip="{content: 'Add', placement: 'top'}">
                  <CIcon icon="cilPlus"
                  />&nbsp;Add</CButton>
                  &nbsp;
                  <CButton color="primary" href="#" @click="doShowModalUpload()" v-c-tooltip="{content: 'Upload File', placement: 'top'}">
                    <CIcon icon="cilSpreadsheet"
                    />&nbsp;Upload By Excel</CButton>
                  &nbsp;
                  <CButton color="primary" href="#" @click="doMonthlyPlanning()" v-c-tooltip="{content: 'Monthly Planning', placement: 'top'}">
                    <CIcon icon="cil-calendar"
                    />&nbsp;Monthly Planning</CButton>
                    &nbsp;
                  <CButton color="primary" href="#" @click="doDownloadGaugeExcel()" v-c-tooltip="{content: 'Download All Gauge', placement: 'top'}">
                    <CIcon icon="cilDescription"
                    />&nbsp;Download All Gauge</CButton>
                </div>
              </div>
            </CCardHeader>
            <CCardBody class="p-4">
              <CCollapse :visible="!visible">
                <CRow>
                  <CCol :md="12">
                    <CRow  class="d-grid gap-2 d-md-flex justify-content-md-start">
                      <CCol :md="4">
                        <CFormInput
                          v-model="filter.keyword"
                          class="mb-2"
                          type="text"
                          id="keyword"
                          ref="filterX"
                          @keyup.enter.native="doSearch()"
                          placeholder="Search any variable"
                        />
                      </CCol>
                      <CCol :md="2">
                        <v-select
                              id="line_name"
                              v-model="filter.line_name"
                              label="line_nm"
                              :reduce="line_nm => line_nm.id"
                              :options="lineOptions"
                              :clearable="false"
                              placeholder="Select Line"
                          >
                        </v-select>
                      </CCol>
                      <CCol :md="2">
                        <v-select
                              id="status_id"
                              v-model="filter.status_id"
                              label="status_nm"
                              :reduce="status_nm => status_nm.status_id"
                              :options="statusOptions"
                              :clearable="false"
                              placeholder="Select Status"
                          >
                        </v-select>
                      </CCol>
                      <!-- <CCol :md="2">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                          <CButton color="dark" @click="doSearch()">
                            <CIcon icon="cilZoom" /> Search
                          </CButton>
                          <CButton color="light" @click="doClear()"><CIcon icon="cilX" /> Clear</CButton>
                        </div>
                      </CCol> -->
                    </CRow>
                    <CRow>
                      <CCol :md="12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                          <CButton color="dark" @click="doSearch(true)">
                            <CIcon icon="cilZoom" /> Search
                          </CButton>
                          <CButton color="light" @click="doClear()"><CIcon icon="cilX" /> Clear</CButton>
                        </div>
                      </CCol>
                    </CRow>
                  </CCol>
                </CRow>
                <hr>
              </CCollapse>
              <div class="row justify-content-end mb-3" v-if="visibleUpload == true">
                <div class="col-md-5">
                  <CInputGroup class="mt-1">
                    <CFormInput type="file"
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                      v-on:change="doUpload"
                      id="fileUpload"
                      aria-describedby="fileIconDelete"
                      v-model="inputValue"
                      />
                      <CButton type="button" color="primary" id="fileIconDelete" @click="clearField">
                        <CIcon icon="cilX" />
                      </CButton>
                  </CInputGroup>
                  <small><a @click.prevent="downloadTemplate()" class="link-info" style="cursor: pointer;">Download template</a></small>
                </div>
              </div>
              <CTable align="middle" class="mb-3 border" striped responsive small hover>
                <CTableHead color="light">
                  <CTableRow>
                    <CTableHeaderCell class="text-start first" style="min-width: 40px">
                      No
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 200px; cursor: pointer">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Gauge Serial No</CCol>
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('gauge_name',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Gauge Name</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'gauge_name'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 100px; cursor: pointer" @click="sortTable('gauge_brand',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Brand</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'gauge_brand'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 100px; cursor: pointer">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Line</CCol>
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 100px; cursor: pointer" @click="sortTable('gauge_op_no',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">OP No</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'gauge_op_no'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 225px; cursor: pointer" @click="sortTable('gauge_product_range_measurement',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Product Range Measurement</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'gauge_product_range_measurement'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 200px; cursor: pointer" @click="sortTable('gauge_calibration_equipment',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Calibration Equipment</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'gauge_calibration_equipment'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('gauge_valid_for',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Valid for (Days)</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'gauge_valid_for'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 200px; cursor: pointer" @click="sortTable('gauge_lead_time',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Lead Time (Minutes)</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'gauge_lead_time'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('gauge_install_calibration',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Installation Date</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'gauge_install_calibration'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('gauge_last_calibration',sortOrder)">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Last Calibration</CCol>
                        <CCol xs="auto" >
                          <CIcon v-if="sortBy != 'gauge_last_calibration'" icon="cilChevronTop" style="color: grey"/>
                          <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                          <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                        </CCol> 
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 110px; cursor: pointer">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Next Calibration</CCol>
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 110px; cursor: pointer">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Gauge PIC</CCol>
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 100px; cursor: pointer">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Last Calibration Judgement</CCol>
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-start" style="min-width: 200px; cursor: pointer">
                      <CRow>
                        <CCol xs="auto" class="me-auto">Status NG</CCol>
                      </CRow>
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-center" style="min-width: 150px; cursor: pointer">
                      Gauge Status
                    </CTableHeaderCell>
                    <CTableHeaderCell class="text-center last" style="min-width: 100px; sticky-column;">
                      Action
                    </CTableHeaderCell>
                  </CTableRow>
                </CTableHead>
                <CTableBody>
                  <CTableRow v-if="loading">
                    <CTableDataCell class="text-center" colspan="18">
                      <CSpinner component="span" size="sm" aria-hidden="true"/> Loading...
                    </CTableDataCell>
                  </CTableRow>
                  <CTableRow v-else-if="tableData.length<=0">
                    <CTableDataCell class="text-center" colspan="18">Data not found</CTableDataCell>
                  </CTableRow>
                  <CTableRow
                    v-else
                    v-for="(item, index) in tableData"
                    :key="item.GAUGE_ID"
                  >
                    <CTableDataCell class="first">{{ ( (page.pageNo-1) * page.pageSize) + index + 1 }}</CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_SERIAL_NO }}</CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_NAME }}</CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_BRAND }}</CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_LINE_NAME }}</CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_OP_NO }}</CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_PRODUCT_RANGE_MEASUREMENT }}</CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_CALIBRATION_EQUIPMENT }}</CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_VALID_FOR }}</CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_LEAD_TIME }}</CTableDataCell>
                    <CTableDataCell>{{ this.formateDate(item.GAUGE_INSTALL_CALIBRATION) }}</CTableDataCell>
                    <CTableDataCell v-if="item.GAUGE_LAST_CALIBRATION != null">{{ this.formateDate(item.GAUGE_LAST_CALIBRATION) }}</CTableDataCell>
                    <CTableDataCell v-else> - </CTableDataCell>
                    <CTableDataCell v-if="item.GAUGE_NEXT_CALIBRATION != null">{{ this.formateDate(item.GAUGE_NEXT_CALIBRATION) }}</CTableDataCell>
                    <CTableDataCell v-else> - </CTableDataCell>
                    <CTableDataCell>{{ item.GAUGE_PIC }}</CTableDataCell>
                    <CTableDataCell class="text-center" v-if="item.GAUGE_LAST_JUDGEMENT == 'OK'"><span class="badge rounded-pill bg-success">{{ item.GAUGE_LAST_JUDGEMENT }}</span></CTableDataCell>
                    <CTableDataCell class="text-center" v-else><span class="badge rounded-pill bg-danger">{{ item.GAUGE_LAST_JUDGEMENT }}</span></CTableDataCell>
                    <CTableDataCell class="text-left">{{ item.GAUGE_STATUS_NG }}</CTableDataCell>
                    <CTableDataCell class="text-center" v-if="item.GAUGE_STATUS_CALIBRATION === 'Already Calibrated'"><span class="badge rounded-pill bg-success">{{ item.GAUGE_STATUS_CALIBRATION }}</span></CTableDataCell>
                    <CTableDataCell class="text-center" v-if="item.GAUGE_STATUS_CALIBRATION === 'Expired Calibration'"><span class="badge rounded-pill bg-danger">{{ item.GAUGE_STATUS_CALIBRATION }}</span></CTableDataCell>
                    <CTableDataCell class="text-center" v-if="item.GAUGE_STATUS_CALIBRATION === 'Delayed Calibration'"><span class="badge rounded-pill bg-warning">{{ item.GAUGE_STATUS_CALIBRATION }}</span></CTableDataCell>
                    <CTableDataCell class="text-center" v-if="item.GAUGE_STATUS_CALIBRATION === 'Next day Calibration'"><span class="badge rounded-pill bg-dark">{{ item.GAUGE_STATUS_CALIBRATION }}</span></CTableDataCell>
                    <CTableDataCell class="text-center" v-if="item.GAUGE_STATUS_CALIBRATION === 'Today Calibration'"><span class="badge rounded-pill bg-info">{{ item.GAUGE_STATUS_CALIBRATION }}</span></CTableDataCell>
                    <CTableDataCell class="text-center" v-if="item.GAUGE_STATUS_CALIBRATION === 'Undefined'"><span class="badge rounded-pill bg-secondary">Not Yet Calibrated</span></CTableDataCell>
                    <CTableDataCell class="last">
                      <div class="d-flex justify-content-start">
                        <CButton v-if="item.GAUGE_STATUS_NG == 'Finished' || item.GAUGE_STATUS_NG == null" class="text-white" color="success" size="sm"  @click="doCalibration(item)">
                          Calibration</CButton>
                        <CButton v-else class="text-white" color="secondary" size="sm"  @click="doCalibrationConfrm(item.GAUGE_STATUS_NG)">
                            Calibration</CButton>
                        &nbsp;
                        <CButton class="text-white" color="info" size="sm"  @click="doDetail(item.GAUGE_ID)">
                          Detail</CButton>
                        &nbsp;
                        <CButton class="text-white" color="warning" size="sm"  @click="doEdit(item.GAUGE_ID)">
                          Update</CButton>
                        &nbsp;
                        <CButton class="text-white" color="danger" size="sm"  @click="doDelete(item.GAUGE_ID)">
                          Delete</CButton>
                        &nbsp;
                      </div>
                    </CTableDataCell>
                  </CTableRow>
                </CTableBody>
              </CTable>
              <Pagination 
                v-bind:page="page"
                v-bind:doSearch="doSearch" 
                v-bind:changePageSize="changePageSize">
              </Pagination>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </div>
    <Teleport to="body">
      <CModal 
            scrollable 
            size='xl'
            :visible="showModal"  
            @close="() => {showModal = false}"
            id="form-modal"
            backdrop="static"
          >
          <CModalHeader>
            <CModalTitle>Gauge {{ modalTitle }}</CModalTitle>
          </CModalHeader>
          <CModalBody id="app">
            <CFrom 
              novalidate
              :validated="validatedInput"
              @submit.prevent="saveCalibration"
            >
              <CRow>  
                <CCol :md='4' :ms="4">
                  <h6 class="mb-3">Supporting Information</h6>
                  <CRow :md="12">
                    <CCol :md="12">
                      <div class="form-group mb-3">
                        <CFormLabel for="calibration_date">
                          Calibration Date <span style="color: red">*</span>
                        </CFormLabel>
                        <Datepicker 
                            id="calibration_date"
                            v-model="calibration.calibration_date" 
                            :clearable="false" 
                            :enable-time-picker="false"
                            placeholder="Select Calibration Date" 
                            format="dd-MM-yyyy"  
                        />
                      </div>
                    </CCol>
                    <CCol :md="12">
                      <div class="form-group mb-3">
                        <CFormLabel for="calibration_by">
                          Calibration By <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="calibration.calibration_created_by"
                          type="text"
                          id="calibration_by"
                          placeholder="Calibration By"
                          maxlength="200"
                          autofocus
                          ref="calibration_by"
                          required
                          feedbackInvalid="Please provide a valid Calibration By"
                        />
                      </div>
                    </CCol>
                    <CCol :md="12">
                      <div class="form-group mb-3">
                        <CFormLabel for="calibration_temperature">
                          Room Temperature (℃) <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="calibration.calibration_temperature"
                          type="number"
                          id="calibration_temperature"
                          placeholder="Calibration Temperature"
                          required
                          feedbackInvalid="Please provide a valid Calibration Temperature"
                        />
                      </div>
                    </CCol>
                    <CCol :md="12">
                      <div class="form-group mb-3">
                        <CFormLabel for="calibration_humidity">
                          Room Humidity (%) <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="calibration.calibration_humidity"
                          type="number"
                          id="calibration_humidity"
                          placeholder="Calibration Humidity"
                          required
                          feedbackInvalid="Please provide a valid Calibration Humidity"
                        />
                      </div>
                    </CCol>
                    <CCol :md="12">
                      <div class="form-group mb-3">
                        <CFormLabel for="calibration_upload_evidence">
                          Upload Evidence (Gauge Condition)
                        </CFormLabel>
                        <CInputGroup v-if="!isDetail">
                          <CFormInput type="file"
                            accept="image/*"
                            v-on:change="onChangePhoto"
                            id="filePhoto"
                            aria-describedby="filePhotoDelete"
                            />
                            <CButton type="button" color="primary" id="filePhotoDelete" @click="clearPhoto()">
                              <CIcon icon="cilX" />
                            </CButton>
                        </CInputGroup>
                        <CImage class="mb-2 mt-2" rounded thumbnail id="imgPhoto" style="width: 100px; height: 100px;" 
                          :src="calibration.calibration_upload_evidence?calibration.calibration_upload_evidence:defaultImage"
                        />
                      </div>
                    </CCol>
                  </CRow>
                </CCol>

                <CCol :md='8'>
                  <h6 class="mb-3">Calibration Value</h6>
                  <CTable align="middle" class="mb-3 border table p-2 ms-2" striped responsive small hover>
                    <CTableHead>
                      <CTableRow>
                        <CTableHeaderCell scope="col" class="text-center">No </CTableHeaderCell>
                        <CTableHeaderCell scope="col">Gauge Item </CTableHeaderCell>
                        <CTableHeaderCell scope="col">Calibration Item </CTableHeaderCell>
                        <CTableHeaderCell scope="col">Min.</CTableHeaderCell>
                        <CTableHeaderCell scope="col">Max.</CTableHeaderCell>
                        <CTableHeaderCell scope="col" style="width: 100px">Value</CTableHeaderCell>
                        <CTableHeaderCell scope="col">Judgement</CTableHeaderCell>
                        <CTableHeaderCell scope="col" style="width: 100px">Remark</CTableHeaderCell>
                      </CTableRow>
                    </CTableHead>
                    <CTableBody class="table-group-divider">
                      <CTableRow v-if="gaugeDetailList == null">
                        <CTableDataCell class="text-center" colspan="7">Calibration Item Not Found</CTableDataCell>
                      </CTableRow>
                      <CTableRow
                          v-for="(item, index) in gaugeDetailList" :key="item.GD_ID">
                        <CTableDataCell class="text-center">{{ index + 1}}</CTableDataCell>
                        <CTableDataCell>{{ item.GD_GAUGE_ITEM }}</CTableDataCell>
                        <CTableDataCell>{{ item.GD_GAUGE_ITEM_CAL }}</CTableDataCell>
                        <CTableDataCell>{{ item.GD_GAUGE_ITEM_CAL_MIN }}</CTableDataCell>
                        <CTableDataCell>{{ item.GD_GAUGE_ITEM_CAL_MAX }}</CTableDataCell>
                        <CTableDataCell>
                          <CFormInput
                            v-bind:id="index"
                            v-model="item.GD_GAUGE_ITEM_CAL_VALUE"
                            type="number"
                            class="text-start"
                            required
                            @keypress.enter="oneEnterCal(index)"
                          />
                        </CTableDataCell>
                        <CTableDataCell>
                          <div class="mt-2 text-center" v-if="item.GD_GAUGE_ITEM_CAL_VALUE >= item.GD_GAUGE_ITEM_CAL_MIN &&  item.GD_GAUGE_ITEM_CAL_VALUE <= item.GD_GAUGE_ITEM_CAL_MAX">
                            <CIcon style="color:#198754; width: 25px; height: 25px;" icon="cilCheckCircle" />
                          </div>
                          <div class="mt-2 text-center" v-else>
                            <CIcon style="color:#dc3545; width: 25px; height: 25px;" icon="cilXCircle" />
                          </div>
                        </CTableDataCell>
                        <CTableDataCell>
                          <CFormInput
                            id="gd_gauge_item_cal_remark"
                            v-model="item.GD_GAUGE_ITEM_CAL_REMARK"
                            type="text"
                            class="text-start"
                            value=""
                          />
                        </CTableDataCell>
                      </CTableRow>
                    </CTableBody>
                  </CTable>
                </CCol>

              </CRow>
              <CRow>
                <CCol :md="12" class="text-end">
                  <CButton color="primary" size="md" @click="saveCalibration()">
                    <CIcon icon="cilSave" size="md" /> Save
                  </CButton>
                </CCol>
              </CRow>
            </CFrom>
          </CModalBody>
      </CModal>
    </Teleport>
  </template>
  
  <script>
  import Swal from 'sweetalert2'
  import Pagination from '@/components/Pagination2.vue'
  import utils from "@/utils/CommonUtils"
  import apis from '@/apis/CommonAPI'
  import condition from '@/utils/CommonCondition'
  import Datepicker from '@vuepic/vue-datepicker';
  import '@vuepic/vue-datepicker/dist/main.css'
  import moment from 'moment'
  import { CTableHeaderCell } from '@coreui/vue'
  import defaultImage from '@/assets/images/defaultImage.png'
  import axios from 'axios';
  import ngSound from '@/assets/audio/ng.mp3'
  import okSound from '@/assets/audio/ok.mp3'
  
  export default {
    name: 'Gauge Control Screen',
    components: {
        Datepicker,
        Pagination,
        CTableHeaderCell
    },
    watch: {

    },
    mounted() {
      if (this.$route.query.status) {
        this.filter.status_id = this.$route.query.status
      }else if(this.$route.query.idGauges){
        this.filter.idGauges = this.$route.query.idGauges
      }
      this.fetchComboLine()
      this.doSearch()
    },
    data() {
      return {
        loading:false,
        tableData: [],
        sortBy:'gauge_name',
        sortOrder:'asc',
        filter: {
          keyword: '',
          status_id: '',
          idGauges: '',
          line_name: ''
        },
        page:{
          totalRecords : 0,
          totalPages: 0,
          pageNo : 1,
          pageSize : 10
        },
        visible: false,
        visibleUpload: false,
        errorMessage:'',
        infoMessage:'',
        warningMessage:'',
        statusOptions: [
          {
            'status_id': 'all',
            'status_nm': 'All',
          },
          {
            'status_id': 'ok',
            'status_nm': 'Already Calibrated',
          },
          {
            'status_id': 'exp',
            'status_nm': 'Expired Calibration',
          },
          {
            'status_id': 'delay',
            'status_nm': 'Delayed Calibration',
          },
          {
            'status_id': 'today',
            'status_nm': 'Today Calibration',
          },
          {
            'status_id': 'next',
            'status_nm': 'Next Day Calibration',
          }
        ],
        showModal: false,
        showModalUpload: false,
        modalTitle: '',
        calibration: {
          calibration_date: null,
          calibration_temperature: null,
          calibration_humidity: null,
          calibration_created_by: null,
          calibration_upload_evidence: null,
          calibration_gauge_id: null,
          calibration_judgment: null,
          calibration_value: []
        },
        gaugeDetailList: [],
        defaultImage: defaultImage,
        judgementOptions: [
          {
            id: 'OK',
            label: 'OK'
          },
          {
            id: 'NG',
            label: 'NG'
          }
        ],
        inputValue: '',
        lineOptions: [],
        autoEnters: []
      }
    },
    methods: {
      onChangePhoto(){
        let reader = new FileReader();
        let filePhoto = document.getElementById("filePhoto");
        let imgPhoto = document.getElementById("imgPhoto");
        reader.onload = (e) => { 
          if(e.total > 200000){
            Swal.fire('', 'Sorry, Maksimum upload file size 1 MB', 'error')
          } else{
            this.calibration.calibration_upload_evidence=e.target.result; 
          }    
        };
        reader.readAsDataURL(filePhoto.files[0]);
      },

      clearPhoto(){
        this.calibration.calibration_upload_evidence = ''
      },

      async saveCalibration(){
        let check = false
        let judgementCal = 'OK'

        let value = this.gaugeDetailList.map((o) => {
              let itemJudgement = 'NG'
              o.GD_GAUGE_ITEM_CAL_VALUE == null ? check = true : null
              o.GD_GAUGE_ITEM_CAL_VALUE >= o.GD_GAUGE_ITEM_CAL_MIN && o.GD_GAUGE_ITEM_CAL_VALUE <= o.GD_GAUGE_ITEM_CAL_MAX ? itemJudgement = 'OK' : null
              itemJudgement == 'NG' ? judgementCal ='NG' : null
              return {
                cd_gd_id: o.GD_ID,
                cd_value: parseFloat(o.GD_GAUGE_ITEM_CAL_VALUE),
                cd_judgement: itemJudgement,
                cd_remark: o.GD_GAUGE_ITEM_CAL_REMARK ? o.GD_GAUGE_ITEM_CAL_REMARK : null
              }
        })

        let obj = {
          calibration_date : moment(this.calibration.calibration_date).format('MM/DD/YYYY HH:mm:ss'),
          calibration_temperature : this.calibration.calibration_temperature,
          calibration_humidity : this.calibration.calibration_humidity,
          calibration_created_by : this.calibration.calibration_created_by,
          calibration_upload_evidence : this.calibration.calibration_upload_evidence,
          calibration_gauge_id : this.calibration.calibration_gauge_id,
          calibration_judgement : judgementCal,
          calibration_value : value
        }

        if(
          obj.calibration_temperature == null || obj.calibration_temperature == ''
          || obj.calibration_humidity == null || obj.calibration_humidity == ''
          || obj.calibration_created_by == null || obj.calibration_created_by == ''
          || obj.calibration_gauge_id == null || obj.calibration_gauge_id == ''
        ){
          Swal.fire('', 'Form cannot be empty', 'error')
        }else if(check == true){
          Swal.fire('', 'Form cannot be null', 'error')
        }else{
          await apis.post('/calibration/add', obj).then((result) => {
                  if (result.data) {
                    Swal.fire('', result.data.message, 'success')
                    this.showModal = false
                    this.doSearch()
                  } else {
                    let data = result.response.data
                    Swal.fire('', data.message, 'error')
                  }
          })
        }
      },

      formateDate(date){
        return moment(date).format('DD-MMM-YYYY')
      },
      doMonthlyPlanning() {
        this.$router.push('/qdc/monthly-planning')
      },
      async downloadTemplate(){
        let response = await apis.download('/gauge/template', 'POST', '');
      },
      async doDownloadGaugeExcel(){
        Swal.fire({
          // title: 'do you want to download the gauge file?',
          text: 'Do you want to download the gauge file?',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: `No`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          if (result.isConfirmed) {
            let response = await apis.download('/gauge/download', 'POST', '');
          }
        });
       
      },
      async blobToBase64(blob) {
        return new Promise((resolve, _) => {
          const reader = new FileReader();
          reader.onloadend = () => resolve(reader.result);
          reader.readAsDataURL(blob);
        });
      },
      doShowModalUpload(){
        this.visibleUpload = !this.visibleUpload
        this.inputValue = ''
        this.dataExcel = null
      },
      async doUpload(){
        let reader = new FileReader();
        let fileUpload = document.getElementById("fileUpload");
        reader.onload = (e) => {
          Swal.fire({
            title: 'Do you want to upload?',
            text: 'Make sure the data is correct!',
            showCancelButton: true,
            confirmButtonText: 'Upload',
            cancelButtonText: `Check again`,
            customClass: {
              confirmButton: 'btn btn-primary me-4',
              cancelButton: 'btn btn-outline-primary',
            },
            buttonsStyling: false,
          }).then(async (result) => {
            if (result.isConfirmed) {
              let obj = null
              obj = {
                file :  JSON.stringify(e.target.result)
              }
              await apis.post('/gauge/upload', obj).then((result) => {
                this.showModalUpload = false
                if (result.data) {
                  console.log(result.data)
                  if(result.data.status == 200){
                    Swal.fire('', result.data.message, 'success')
                    this.clearField()
                    this.doSearch()
                  }else if (result.data.status == 403){
                    Swal.fire('', result.data.message, 'error')
                    this.clearField()
                  }else if (result.data.status == 500){
                    Swal.fire('', result.data.message, 'error')
                    this.clearField()
                  }
                } else {
                  let data = result.response.data
                  this.clearField()
                  Swal.fire('', data.message, 'error')
                }
              })
            }
          })
        };
        reader.readAsDataURL(fileUpload.files[0]);
      },
      doCalibration(item) {
        this.showModal = true
        this.modalTitle = item.GAUGE_SERIAL_NO
        this.calibration.calibration_gauge_id = item.GAUGE_ID
        this.calibration.calibration_date = moment().format('MM-DD-YYYY')
        this.calibration.calibration_temperature = null
        this.calibration.calibration_humidity = null
        this.calibration.calibration_created_by = null
        this.calibration.calibration_upload_evidence = null
        this.calibration.calibration_value = []
        this.doGetGaugeDetail(item.GAUGE_ID)
      },
      doCalibrationConfrm(item){
        Swal.fire(item, 'Please verify the calibration details', 'info')
      },
      doAdd() {
        this.pageNo = 1
        this.$router.push('/qdc/gauge-control/add')
      },
      doEdit(id) {
        this.pageNo = 1
        this.$router.push('/qdc/gauge-control/edit/'+id)
      },
      doDetail(id) {
        this.$router.push('/qdc/gauge-control/detail/'+id)
      },
      doClear() {
        this.filter.keyword=''
        this.filter.status_id=''
        this.filter.idGauges=''
        this.filter.line_name=''
        this.doSearch()
      },
      async doGetGaugeDetail(gaugeId) {

        let obj = {
          id : gaugeId,
          columnBy : 'gauge'
        }

        await apis
          .post(`/gauge-detail/get`, obj)
          .then((result) => {
            if (result.data.status == 200) {
              this.gaugeDetailList = result.data.data
            } else {
              this.gaugeDetailList = []
            }
        })
        // handel error auto focus calibration
        try {
          document.getElementById('0').focus();
        } catch (error) {}
      },

      doDelete(id) {
        Swal.fire({
          title: 'Do you want to delete the record?',
          text: 'Deleted data can\'t undo.',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          cancelButtonText: `Abort`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          let obj = { gauge_id : id}
          if (result.isConfirmed) {
            apis.post('/gauge/delete', obj).then((result) => {
              if (result.data) {
                Swal.fire('', result.data.message, 'success')
                this.doSearch()
              } else {
                let data = result.response.data
                Swal.fire('', data.message, 'error')
              }
            })
          }
        })
      },
      async fetchComboLine(){
        await apis
              .post('/common/line/search')
              .then((result) => {
                if (result.data) {
                  let data = result.data.data
                  this.lineOptions = data
                  // if(!this.isEdit){
                  //   this.form.gauge_line_id = data[0].id
                  // }
                } else {
                  this.lineOptions = []
                }
          })
      },
      async doSearch(filter) {
        filter && filter == true ? this.page.pageNo = 1 : null
        this.loading = true
        let obj =
            { 
              search : {
                keyword: this.filter.keyword,
                gaugeStatus: this.filter.status_id,
                idGauges: this.filter.idGauges,
                lineName: this.filter.line_name
              },
              limit: this.page.pageSize, 
              page: this.page.pageNo == null || this.page.pageNo == '' || this.page.pageNo == 0 ? this.page.pageNo = 1 : this.page.pageNo = this.page.pageNo,
              sortOrder: this.sortOrder,
              sortBy: this.sortBy
            }

        apis
        .post('/gauge/search', obj)
        .then((result) => {
          if(result.data.status != 200){
            let data = result.data.message;
            this.loading = false
            Swal.fire('', data, 'error')
          }else{
            this.tableData = result.data.data;
            this.page.totalRecords = result.data.totalRecords;
            this.page.totalPages = result.data.totalPages;
            this.page.pageNo = result.data.pageNo;
            this.page.pageSize = result.data.pageSize;
            this.loading = false
          }
        }).catch((err)=>{
          this.loading = false
          Swal.fire('', "Internal Server Error", 'error')
        })
      },
      sortTable(sortBy, sortOrder){
        if(this.sortBy == sortBy){
          switch(sortOrder) {
            case 'asc':
              this.sortOrder = 'desc';
              this.doSearch();
              break;
            case "desc":
              this.sortOrder = 'asc';
              this.doSearch();
              break;
            default:
              this.sortBy = '';
              this.sortOrder = '';
              this.doSearch();
          }
        }else{
          this.sortBy = sortBy
          this.sortOrder = 'asc'
          this.doSearch();
        }
      },
      async changePageSize(pageSize, pageNo){
        this.page.pageSize = pageSize;
        this.page.pageNo = pageNo;
      },
      clearField() {
        this.inputValue = ''
        this.dataExcel = null
      },
      oneEnterCal(index) {
        let nextForm = index+1
        this.gaugeDetailList.length == nextForm ? null : document.getElementById(nextForm.toString()).focus();
        var ok = new Audio(okSound)
        var ng = new Audio(ngSound)
        this.gaugeDetailList[index].GD_GAUGE_ITEM_CAL_VALUE >= this.gaugeDetailList[index].GD_GAUGE_ITEM_CAL_MIN 
              && this.gaugeDetailList[index].GD_GAUGE_ITEM_CAL_VALUE <= this.gaugeDetailList[index].GD_GAUGE_ITEM_CAL_MAX ? ok.play() : ng.play()
      },
    },
  }
  </script>
  <style>
    .btn-circle {
          width: 30px;
          height: 30px;
          padding: 6px 0px;
          border-radius: 15px;
          text-align: center;
          font-size: 12px;
          line-height: 1.42857; 
      }
  </style>
  