<template>
  <h4>Gauge No. {{gauge.serial}}</h4>
  <CRow class="mt-3">
    <CCol :md="12">
      <CCard>
        <div class="p-3">
          <div class="row justify-content-between">
            <div class="col-auto text-start">
                <h4 class="p-1 mt-1">Status : </h4>
            </div>
            <div class="col-auto text-start">
              <span v-if="gauge.status == 'Already Calibrated'" class="badge bg-success"><h5 class="p-1 m-1">{{gauge.status}}</h5></span>
              <span v-if="gauge.status == 'Expired Calibration'" class="badge bg-danger"><h5 class="p-1 m-1">{{gauge.status}}</h5></span>
              <span v-if="gauge.status == 'Delayed Calibration'" class="badge bg-info"><h5 class="p-1 m-1">{{gauge.status}}</h5></span>
              <span v-if="gauge.status == 'Next day Calibration'" class="badge bg-dark"><h5 class="p-1 m-1">{{gauge.status}}</h5></span>
              <span v-if="gauge.status == 'Today Calibration'" class="badge bg-warning"><h5 class="p-1 m-1">{{gauge.status}}</h5></span>
              <span v-if="gauge.status == 'Undefined'" class="badge bg-secondary"><h5 class="p-1 m-1">{{gauge.status}}</h5></span>
            </div>
            <div class="col text-end">
              <CButton color="primary" href="#" @click="generateChart()" v-c-tooltip="{content: 'Download PDF', placement: 'top'}">
              <CIcon icon="cil-data-transfer-down"
              />&nbsp;Print Gauge Detail to PDF</CButton>
              &nbsp;
              <!-- <CButton color="primary" href="#" @click="doDownloadExcel()" v-c-tooltip="{content: 'Download Excel', placement: 'top'}">
                <CIcon icon="cil-data-transfer-down"
                />&nbsp;Download Table to XLXS</CButton> -->
            </div>
          </div>
        </div>
        <CCardBody>
          <CRow :md="12">
            <CCol :md="8">
              <CCard class="mb-2">
                <CCardBody class="p-2">
                  <div id="chartDetail">
                    <highcharts
                        class="hc p-1"
                        :options="chartDetailGauge"
                        ref="chartop"
                  ></highcharts>
                  </div>
                </CCardBody>
              </CCard>
            </CCol>
            <CCol :md="4">
              <CCard class="mb-2">
              <CCardBody class="p-2 text-center">
                <CImage class="p-0" rounded thumbnail id="imgPhoto" style="width: auto; height: 100%;" 
                        :src="gauge.foto?gauge.foto:defaultImage"
                      />
              </CCardBody>
              </CCard>
            </CCol>
          </CRow>
          <CRow :md="12" class="mt-3">
            <CCol :md="12">
              <CCard class="mb-2">
                <CCardFooter>
                  <h5>Calibration History</h5>
                </CCardFooter>
                <CCardBody class="p-4">
                  <CTable align="middle" class="mb-3 border" striped responsive small hover>
                    <CTableHead color="light">
                      <CTableRow>
                        <CTableHeaderCell class="text-start first" style="min-width: 50px">
                          No
                        </CTableHeaderCell>
                        <CTableHeaderCell class="text-start" style="min-width: auto; cursor: pointer">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Calibration Date</CCol>
                          </CRow>
                        </CTableHeaderCell>
                        <CTableHeaderCell class="text-start" style="min-width: auto; cursor: pointer">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Created By</CCol>
                          </CRow>
                        </CTableHeaderCell>
                        <CTableHeaderCell class="text-start" style="min-width: auto; cursor: pointer">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Temperature (%)</CCol>
                          </CRow>
                        </CTableHeaderCell>
                        <CTableHeaderCell class="text-start" style="min-width: auto; cursor: pointer">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Humidity (%)</CCol>
                          </CRow>
                        </CTableHeaderCell>
                        <CTableHeaderCell class="text-start" style="min-width: auto; cursor: pointer">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Judgement</CCol>
                          </CRow>
                        </CTableHeaderCell>
                        <CTableHeaderCell class="text-start" style="min-width: auto; cursor: pointer">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Status NG</CCol>
                          </CRow>
                        </CTableHeaderCell>
                        <CTableHeaderCell class="text-start" style="min-width: auto; cursor: pointer">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Evidence Image</CCol>
                          </CRow>
                        </CTableHeaderCell>
                        <!-- <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Remark</CCol>
                          </CRow>
                        </CTableHeaderCell> -->
                        <!-- <CTableHeaderCell class="text-center last" style="min-width: auto; cursor: pointer"> -->
                        <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Action</CCol>
                          </CRow>
                        </CTableHeaderCell>
                      </CTableRow>
                    </CTableHead>
                    <CTableBody>
                      <CTableRow v-if="loading">
                        <CTableDataCell class="text-center" colspan="4">
                          <CSpinner component="span" size="sm" aria-hidden="true"/> Loading...
                        </CTableDataCell>
                      </CTableRow>
                      <CTableRow v-else-if="tableData.length<=0">
                        <CTableDataCell class="text-center" colspan="7">Data not found</CTableDataCell>
                      </CTableRow>
                      <CTableRow
                        v-else
                        v-for="(item, index) in tableData"
                        :key="item.CAL_ID"
                      >
                        <CTableDataCell class="first">{{ ( (page.pageNo-1) * page.pageSize) + index + 1 }}</CTableDataCell>
                        <CTableDataCell>{{ this.formateDate(item.CAL_DATE) }}</CTableDataCell>
                        <CTableDataCell>{{ item.CREATED_BY }}</CTableDataCell>
                        <CTableDataCell>{{ item.CAL_TEMPERATURE }}</CTableDataCell>
                        <CTableDataCell>{{ item.CAL_HUMIDITY }}</CTableDataCell>
                        <CTableDataCell class="text-center" v-if="item.CAL_JUDGEMENT == 'OK'"><span class="badge rounded-pill bg-success">{{ item.CAL_JUDGEMENT }}</span></CTableDataCell>
                        <CTableDataCell class="text-center" v-else><span class="badge rounded-pill bg-danger">{{ item.CAL_JUDGEMENT }}</span></CTableDataCell>
                        <CTableDataCell class="text-end">{{ item.CAL_STATUS_NG_DESC }}
                          &nbsp;
                            <CButton color="success" variant="ghost" size="sm" @click="doShowStatus(item)" >
                              <CIcon icon="cilColorBorder"/></CButton>
                        </CTableDataCell>
                        <CTableDataCell>
                          <div class="d-flex justify-content-start" v-if="item.CAL_UPLOAD_EVIDENCE != null">
                            <CButton color="success" variant="ghost" class="" size="sm"  @click="doShow(item.CAL_UPLOAD_EVIDENCE, this.formateDate(item.CAL_DATE))">
                              Evidence Image</CButton>
                          </div>
                        </CTableDataCell>
                        <!-- <CTableDataCell class="text-end">
                            {{ item.CAL_REMARK }}&nbsp;
                            <CButton color="success" variant="ghost" size="sm" @click="doShowMessage(item)"  v-c-tooltip="{content: 'Message Judgement', placement: 'top'}">
                              <CIcon icon="cilColorBorder"/></CButton>
                        </CTableDataCell> -->
                        <CTableDataCell>
                          <div class="d-flex justify-content-start">
                            <CButton class="text-white" color="warning" size="sm"  @click="doShowMessage(item)">
                              Chat</CButton>
                            &nbsp;
                            <!-- <CButton class="text-white" color="info" size="sm"  @click="doCalItemValue(item.CAL_ID, this.formateDate(item.CAL_DATE), item.CAL_STATUS_NG)"> -->
                            <CButton class="text-white" color="info" size="sm"  @click="doCalItemValue(item)">
                              Calibration Value</CButton>
                            &nbsp;
                            <CButton class="text-white" color="danger" size="sm"  @click="doDelete(item.CAL_ID)">
                              Delete</CButton>
                            &nbsp;
                          </div>
                        </CTableDataCell>
                      </CTableRow>
                    </CTableBody>
                  </CTable>
                  <Pagination 
                    v-bind:page="page"
                    v-bind:doSearch="doSearch" 
                    v-bind:changePageSize="changePageSize">
                  </Pagination>
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <Teleport to="body">
    <CModal 
            size='xl'
            :visible="showModalMessage"  
            @close="() => {showModalMessage = false}"
            id="form-modal"
            backdrop="static"
          >
          <CModalHeader>
            <CModalTitle>Message Judgement [ {{ dataRemark.date }} ]</CModalTitle>
          </CModalHeader>
          <CModalBody id="app">
            <!-- <div style="width: auto;" class="d-flex flex-column justify-content-start mb-2">
              <CCard class="p-2">
                <CCardBody>
                  xxxx
                </CCardBody>
              </CCard>
            </div> -->
            <div style="width: auto;" class="d-flex flex-column justify-content-start mb-2">
              <!-- <CCard class="p-2">
                <CCardBody> -->
                  <CRow class="m-1">
                    <div class="chat-container" ref="chatContainer">
                      <div v-for="(message, index) in dataMessages" :key="index" class="chat-balloon" :class="{'left': message.user !== userId, 'right': message.user === userId}">
                        <p class="chat-name">{{ message.user }} ({{ message.role }})</p>
                        <p>{{ message.message }}</p>
                        <p class="chat-timestamp">{{ message.datetime }}</p>
                      </div>
                    </div>
                  </CRow>
                <!-- </CCardBody>
              </CCard> -->
            </div>
            <hr>
            <div style="width: auto;" class="d-flex flex-column justify-content-around mb-2">
              <CRow class="justify-content-center">
                <CCol :md="2" class="text-center">
                  <v-select
                    id="msgRole"
                    v-model="msgData.ROLE"
                    label="val"
                    :reduce="val => val.val"
                    :options="roleOptions"
                    :clearable="false"
                    placeholder="Select Role"
                  >
                  </v-select>
                </CCol>
                <CCol :md="8" class="text-center mb-2">
                  <CFormInput
                    v-model="msgData.CM_MESSAGE"
                    type="text"
                    id="message"
                    placeholder="Message"
                    @keyup.enter.native="doSaveMsg()"
                  />
                </CCol>
                <CCol :md="2" class="text-end" >
                  <CButton color="primary" @click="doSaveMsg()"><CIcon icon="cilSend" /> Send</CButton>
                </CCol>
              </CRow>
            </div>
          </CModalBody>
    </CModal>
    <CModal 
            size='m'
            :visible="showModalStatus"  
            @close="() => {showModalStatus = false}"
            id="form-modal"
            backdrop="static"
          >
          <CModalHeader>
            <CModalTitle>Edit Status [ {{ dataStatus.date }} ]</CModalTitle>
          </CModalHeader>
          <CModalBody id="app">
            <div style="width: auto;" class="d-flex justify-content-start">
              <div class="col-10 text-start">
                <v-select
                    id="statusNGCombo"
                    v-model="dataStatus.status_ng"
                    label="SYSTEM_VALUE_TXT"
                    :reduce="SYSTEM_VALUE_TXT => SYSTEM_VALUE_TXT.SYSTEM_CD"
                    :options="statusNGOptions"
                    :clearable="false"
                    placeholder="Select Status"
                >
                </v-select>
              </div>
              &nbsp;
              &nbsp;
              &nbsp;
              <div class="col-2 text-center">
                <CButton color="primary" size="m"   @click="doEditStatus()" >
                  <CIcon icon="cilSave"/> </CButton>
              </div>
            </div>
          </CModalBody>
    </CModal>
    <CModal 
            size='m'
            :visible="showModalRemark"  
            @close="() => {showModalRemark = false}"
            id="form-modal"
            backdrop="static"
          >
          <CModalHeader>
            <CModalTitle>Edit Remark [ {{ dataRemark.date }} ]</CModalTitle>
          </CModalHeader>
          <CModalBody id="app">
            <div style="width: auto;" class="d-flex justify-content-start">
              <CFormInput
                v-model="dataRemark.remark"
                type="text"
                id="calRemark"
                maxlength="200"
              />
              &nbsp;
              &nbsp;
              &nbsp;
              <CButton color="primary" size="sm"   @click="doEditRemark()" >
                <CIcon icon="cilSave"/> </CButton>
            </div>
          </CModalBody>
    </CModal>
    <CModal 
            size='m'
            :visible="showModal"  
            @close="() => {showModal = false}"
            id="form-modal"
            backdrop="static"
          >
          <CModalHeader>
            <CModalTitle>Evidence Calibration [ {{ evidence.date }} ]</CModalTitle>
          </CModalHeader>
          <CModalBody id="app">
            <CImage class="mb-2" rounded thumbnail id="imgPhoto" style="width: 100%; height: 100%;" 
                  :src="evidence.image"
              />
          </CModalBody>
    </CModal>
    <CModal 
            size='xl'
            :visible="showModalValue"  
            @close="() => {showModalValue = false}"
            id="form-modal"
            backdrop="static"
          >
          <CModalHeader>
            <CModalTitle>Calibration Value [ {{ evidence.date }} ]</CModalTitle>
          </CModalHeader>
          <CModalBody id="app">
            <!-- <div class="mb-2">
              <div class="row justify-content-between">
                <div class="col-4 text-start">
                  <v-select
                      id="statusNGCombo"
                      :disabled="!isEdit"
                      :readonly="!isEdit"
                      v-model="editData.CAL_STATUS_NG"
                      label="SYSTEM_VALUE_TXT"
                      :reduce="SYSTEM_VALUE_TXT => SYSTEM_VALUE_TXT.SYSTEM_CD"
                      :options="statusNGOptions"
                      :clearable="false"
                      placeholder="Select Status"
                  >
                  </v-select>
                </div>
                <div class="col text-end" v-if="isEdit == false">
                  <CButton color="info" class="text-white" @click="doEditCalibration(true)">
                    <CIcon icon="cil-pencil" />&nbsp;Edit Calibration
                  </CButton>
                </div>
                <div class="col text-end" v-else>
                  <CButton color="primary" class="text-white" @click="doEditCalibration(false)">
                    <CIcon icon="cil-save" />&nbsp;Save
                  </CButton>
                  &nbsp;
                  <CButton color="dark" class="text-white" @click="doEditCalibration(false)">
                    <CIcon icon="cilX" />&nbsp;Cancel
                  </CButton>
                </div>
              </div>
            </div> -->
            <div>
              <CTable align="middle" class="mb-3 border table pt-2" striped responsive small hover>
                <CTableHead>
                  <CTableRow>
                    <CTableHeaderCell scope="col" class="text-center" style="min-width: 50px">No </CTableHeaderCell>
                    <CTableHeaderCell scope="col" style="min-width: 100px;">Gauge Item </CTableHeaderCell>
                    <CTableHeaderCell scope="col" style="min-width: 100px;">Cal Item </CTableHeaderCell>
                    <CTableHeaderCell scope="col" style="min-width: 100px;">Min.</CTableHeaderCell>
                    <CTableHeaderCell scope="col" style="min-width: 100px;">Max.</CTableHeaderCell>
                    <CTableHeaderCell scope="col" style="min-width: 100px;">Value</CTableHeaderCell>
                    <CTableHeaderCell scope="col" style="min-width: 100px;">Judgement</CTableHeaderCell>
                    <CTableHeaderCell scope="col" style="min-width: 100px;">Remark</CTableHeaderCell>
                  </CTableRow>
                </CTableHead>
                <CTableBody class="table-group-divider">
                  <CTableRow v-if="gaugeDetailList == null">
                    <CTableDataCell class="text-center" colspan="7">Calibration Value Not Found</CTableDataCell>
                  </CTableRow>
                  <CTableRow
                      v-for="(item, index) in gaugeDetailList" :key="item.CD_ID">
                    <CTableDataCell class="text-center">{{ index + 1}}</CTableDataCell>
                    <CTableDataCell>{{ item.GD_GAUGE_ITEM }}</CTableDataCell>
                    <CTableDataCell>{{ item.GD_GAUGE_ITEM_CAL }}</CTableDataCell>
                    <CTableDataCell>{{ item.GD_GAUGE_ITEM_CAL_MIN }}</CTableDataCell>
                    <CTableDataCell>{{ item.GD_GAUGE_ITEM_CAL_MAX }}</CTableDataCell>
                    <CTableDataCell>{{ item.CD_VALUE }}</CTableDataCell>
                    <!-- <CTableDataCell>{{ item.CD_JUDGEMENT }}</CTableDataCell> -->
                    <CTableDataCell class="text-left" v-if="item.CD_JUDGEMENT == 'OK'"><span class="badge rounded-pill bg-success">{{ item.CD_JUDGEMENT }}</span></CTableDataCell>
                    <CTableDataCell class="text-left" v-else><span class="badge rounded-pill bg-danger">{{ item.CD_JUDGEMENT }}</span></CTableDataCell>
                    <CTableDataCell>{{ item.CD_REMARK }}</CTableDataCell>
                  </CTableRow>
                </CTableBody>
              </CTable>
            </div>
          </CModalBody>
    </CModal>
  </Teleport>
</template>

<script>
  import Swal from 'sweetalert2'
  import apis from '@/apis/CommonAPI'
  import condition from '@/utils/CommonCondition'
  import { CCardBody, CCardFooter, CCol, CRow } from '@coreui/vue'
  import moment from 'moment-timezone'
  import defaultImage from '@/assets/images/defaultImage.png'
  import Pagination from '@/components/Pagination2.vue'
  import Highcharts from 'highcharts'
  import Annotation from 'highcharts/modules/annotations'
  import Exporting from 'highcharts/modules/exporting'
  import highcharts3d from "highcharts/highcharts-3d";
  import Drilldown from 'highcharts/modules/drilldown'
  import html2canvas from 'html2canvas'
  // import download from "downloadjs"
  Annotation(Highcharts)
  Exporting(Highcharts)
  highcharts3d(Highcharts)
  Drilldown(Highcharts)
  
  export default {
    name: 'Gauge Control Detail',
    components: {
        CRow,
        CCol,
        Pagination,
        CCardFooter
    },
    watch: {},
    async mounted() {
      if (this.$route.params.id) {
        this.gaugeId = this.$route.params.id
        this.getGaugeById(this.gaugeId)
        this.doSearch(this.gaugeId)
        this.getGaugeCalibrationDetail(this.gaugeId)
        this.getGaugeDetail(this.gaugeId)
      }
      this.userId = localStorage.getItem('userId');
      this.getCommonStatusNG()
    },
    data() {
      return {
        loading:false,
        gaugeId: null,
        tableData: [],
        errorMessage:'',
        infoMessage:'',
        warningMessage:'',
        gauge : {
          name: null,
          serial: null,
          status: null,
          foto: null,
          valid_for: null,
          line_nm: null,
          op_no: null,
          brand: null
        },
        sortBy:'CAL_DATE',
        sortOrder:'desc',
        filter: {
          keyword: ''
        },
        page:{
          totalRecords : 0,
          totalPages: 0,
          pageNo : 1,
          pageSize : 10
        },
        defaultImage: defaultImage,
        chartDetailGauge : {},
        dataChartDetailGauge : [],
        showModal: false,
        showModalValue: false,
        evidence : {
          date : null,
          image : null
        },
        dataRemark : {
          id: null,
          date : null,
          remark : null
        },
        dataStatus : {
          id: null,
          date : null,
          status_ng : null
        },
        gaugeDetailList: [],
        gaugeItem: [],
        showModalRemark: false,
        calRemark : null,
        showModalMessage: false,
        showModalStatus: false,
        userId: null,
        roleOptions: [
          {
            'val': 'Division Head'
          },
          {
            'val': 'Department Head'
          },
          {
            'val': 'Supervisor'
          },
          {
            'val': 'Group Leader'
          },
          {
            'val': 'Team Leader'
          },
          {
            'val': 'Line Guy'
          },
          {
            'val': 'Supervisor'
          },
          {
            'val': 'Staff'
          },
          {
            'val': 'Operator'
          },
        ],
        dataMessages: [],
        msgData: {
          'CM_CAL_ID' : null,
          'CM_MESSAGE' : null,
          'ROLE': 'Operator'
        },
        allMsg: [],
        isEdit : false,
        editData : {
          'CAL_ID' : null,
          'CAL_STATUS_NG' : null,
          'CD_LIST' : []
        },
        statusNGOptions : []
      }
    },
    methods: {
      doEditCalibration(data){
        console.log('DATA Valid', data)
        this.isEdit = data
      },
      formateDate(date){
        return moment(date).format('DD-MMM-YYYY')
      },
      generateChart() {
        let obj = {
            id : this.gaugeId,
            chartBase64: null
        }
        if(this.tableData.length > 0){
          html2canvas(document.querySelector("#chartDetail"), 
            { 
              backgroundColor: 'null', 
              // width: 1024,
              // height: 1024,
              scale: 2,
              // allowTaint: true,
              useCORS: false
            }).then(canvas => {
            let base64image = canvas.toDataURL("image/png");
            try {
              obj.chartBase64 = base64image
              this.doDownloadPDF(obj)
            } catch (error) {
              console.log('ERROR IMG', error)
              this.doDownloadPDF(obj)
            }
          })
        }else{
          Swal.fire('', 'Sorry, calibration data is empty', 'info')
        }
      },
      doDownloadPDF(data){
          apis
          .post('/gauge-detail/download',data)
          .then((result) => {
            if(result.status == 200){
              let data = result.data.data;
              if(data.filePdf != null){
                const linkSource = `data:application/pdf;base64,${data.filePdf}`;
                const downloadLink = document.createElement("a");
                const fileName = data.fileName;
    
                downloadLink.href = linkSource;
                downloadLink.download = fileName;
                downloadLink.click();
              }else{
                Swal.fire('', 'Internal Server Error', 'error')
              }
            }else if(result.response.data.code == 500){
              Swal.fire('', result.response.data.message, 'error')
            }
          })
      },
      doDownloadExcel() {
        Swal.fire('', 'Sorry, this feature isnt available right now', 'info')
      },
      doShow(image, date){
        this.showModal = true
        this.evidence.date = date
        this.evidence.image = image
      },
      async getGaugeById(id) {
        let obj = {gauge_id : id}
        apis
        .post('/gauge/get',obj)
        .then((result) => {
          if(result.status == 200){
            let data = result.data.data[0];
            this.gauge.name = data.GAUGE_NAME
            this.gauge.serial = data.GAUGE_SERIAL_NO
            this.gauge.status = data.GAUGE_STATUS_CALIBRATION
            this.gauge.foto = data.GAUGE_FOTO
            this.gauge.valid_for = data.GAUGE_VALID_FOR,
            this.gauge.line_nm = data.GAUGE_LINE_NM,
            this.gauge.op_no = data.GAUGE_OP_NO,
            this.gauge.brand = data.GAUGE_BRAND
          }
        })
      },

      async doSearch(page) {
        this.loading = true
        let obj =
            { 
              search : {
                idGauge : this.gaugeId,
                keyword: this.filter.keyword
              },
              limit: this.page.pageSize, 
              page: this.page.pageNo == null || this.page.pageNo == '' || this.page.pageNo == 0 ? this.page.pageNo = 1 : this.page.pageNo = this.page.pageNo,
              sortOrder: this.sortOrder,
              sortBy: this.sortBy
            }
        apis
        .post('/calibration/search', obj)
        .then((result) => {
          if(result.data.status != 200){
            let data = result.data.message;
            this.loading = false
            Swal.fire('', data, 'error')
          }else{
            this.tableData = result.data.data;
            this.page.totalRecords = result.data.totalRecords;
            this.page.totalPages = result.data.totalPages;
            this.page.pageNo = result.data.pageNo;
            this.page.pageSize = result.data.pageSize;
            this.loading = false
          }
        }).catch((err)=>{
          this.loading = false
          Swal.fire('', "Internal Server Error", 'error')
        })
      },
      doCalItemValue(data){
        this.showModalValue = true
        let date = this.formateDate(data.CAL_DATE)
        this.evidence.date = date

        this.editData.CAL_ID = data.CAL_ID
        this.editData.CAL_STATUS_NG = data.CAL_STATUS_NG == null ? null : data.CAL_STATUS_NG.toString()
        this.editData.CD_LIST = []

        this.doGetCalibrationValue(data.CAL_ID)
      },
      async doGetCalibrationValue(idCal) {
        let obj = {cd_cal_id : idCal}
        await apis
          .post(`/calibration/get`, obj)
          .then((result) => {
            if (result.data.status == 200) {
              console.log(result.data.data)
              this.gaugeDetailList = result.data.data
            } else {
              this.gaugeDetailList = []
            }
        })
      },
      doDelete(id) {
        Swal.fire({
          title: 'Do you want to delete the record?',
          text: 'Deleted data can\'t undo.',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          cancelButtonText: `Abort`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          let obj = { cal_id : id}
          if (result.isConfirmed) {
            apis.post('/calibration/delete', obj).then((result) => {
              if (result.data) {
                Swal.fire('', result.data.message, 'success')
                this.doSearch()
                this.getGaugeDetail(this.gaugeId)
              } else {
                let data = result.response.data
                Swal.fire('', data.message, 'error')
              }
            })
          }
        })
      },
      async doGetMessage(id) {
        let obj = {cm_cal_id : id}
        await apis
          .post(`/message/get`, obj)
          .then((result) => {
            if (result.data.status == 200) {
              if (result.data.data != null){
                this.allMsg = JSON.parse(result.data.data[0].CM_MESSAGE)
                this.dataMessages = this.allMsg
                this.$nextTick(() => {
                  const container = this.$refs.chatContainer;
                  container.scrollTop = container.scrollHeight;
                });
              }
            } else {
              this.dataMessages = []
            }
        })
      },
      doShowRemark(item){
        this.showModalRemark = true
        this.dataRemark.id = item.CAL_ID
        this.dataRemark.date = this.formateDate(item.CAL_DATE)
        this.dataRemark.remark = item.CAL_REMARK
      },
      async doEditRemark(){
        let obj = {
          calibration_id: this.dataRemark.id,
          calibration_remark : this.dataRemark.remark,
        }
        await apis.post('/calibration/edit', obj).then((result) => {
          console.log('result', result)
            if (result.data) {
                Swal.fire('', result.data.message, 'success')
                this.doSearch()
                this.showModalRemark = false
            } else {
                Swal.fire('', result.data.message, 'error')
                this.doSearch()
                this.showModalRemark = false
              }
        })
      },
      doShowStatus(item){
        this.showModalStatus = true
        this.dataStatus.id = item.CAL_ID
        this.dataStatus.date = this.formateDate(item.CAL_DATE)
        this.dataStatus.status_ng = item.CAL_STATUS_NG == null ? null : item.CAL_STATUS_NG.toString()
      },
      async doEditStatus(){
        let idStatus = this.dataStatus.status_ng == null ? null : parseInt(this.dataStatus.status_ng)
        let obj = {
          calibration_id: this.dataStatus.id,
          calibration_status_ng : idStatus
        }
        await apis.post('/calibration/edit-status', obj).then((result) => {
            if (result.data) {
                Swal.fire('', result.data.message, 'success')
                this.doSearch()
                this.showModalStatus = false
            } else {
                Swal.fire('', result.data.message, 'error')
                this.doSearch()
                this.showModalStatus = false
              }
        })
      },
      doShowMessage(item){
        this.msgData.CM_CAL_ID = null
        this.msgData.CM_MESSAGE = null
        this.msgData.ROLE = 'Operator'

        this.allMsg = []
        this.dataMessages = []
        this.showModalMessage = true
        this.doGetMessage(item.CAL_ID)
        this.dataRemark.id = item.CAL_ID
        this.dataRemark.date = this.formateDate(item.CAL_DATE)
      },
      async doSaveMsg(){
        let msg = {
                    'user': this.userId,
                    'message': this.msgData.CM_MESSAGE,
                    'role':  this.msgData.ROLE,
                    'datetime': moment().format('DD-MMM-YYYY hh:mm:ss')
                  }
        this.allMsg.push(msg)
        const objMsg = JSON.stringify(this.allMsg);
        let obj = {
          cm_cal_id: this.dataRemark.id,
          cm_message : objMsg
        }

        if(this.msgData.CM_MESSAGE != null){
          await apis.post('/message/add', obj).then((result) => {
              if (result.data) {
                  this.doGetMessage(obj.cm_cal_id)
                  obj.cm_message = null
                  this.msgData.CM_MESSAGE = null
              } 
          })
        }
      },
      async changePageSize(pageSize, pageNo){
        this.page.pageSize = pageSize;
        this.page.pageNo = pageNo;
      },

      async getGaugeDetail(id){
        let obj = { id: id, columnBy: 'gauge'}
        apis.post('/gauge-detail/get', obj).then((result) => {
              if (result.data.status == 200) {
                this.gaugeItem = result.data.data
              } else {
                let data = null
                Swal.fire('', data.message, 'error')
              }
        })
      },

      async getCommonStatusNG(){
        let obj = { SYSTEM_TYPE_CD: 'QDC', SYSTEM_SUB_TYPE: 'NG_STATUS'}
        apis.post('/common/system/search', obj).then((result) => {
              if (result.data.status == 200) {
                this.statusNGOptions = result.data.data
              } else {
                this.statusNGOptions = []
              }
        })
      },

      //chart function
      async getGaugeCalibrationDetail(id){
        let obj = { id: id, columnBy: 'chart'}
        apis.post('/gauge-detail/get', obj).then((result) => {
              if (result.data.status == 200) {
                let data = result.data.data
                // if(data){
                //   this.getChartGauge(result.data.data)
                // }
                this.getChartGauge(result.data.data)
              } else {
                let data = null
                Swal.fire('', data.message, 'error')
              }
        })
      },
      
      async getChartGauge(data){
        let series = []
        let categories = []
        if(data && data.length > 0){
          //Grouping by CAL_ID
          let groupBy = function(xs, key) {
            return xs.reduce(function(rv, x) {
              (rv[x[key]] = rv[x[key]] || []).push(x);
              return rv;
            }, {});
          }

          let groupByCalId = groupBy(data, 'CAL_ID')
          let indexData = []
          for (let i = 0; i < Object.keys(groupByCalId).length; i++) {
              let dataCal = Object.keys(groupByCalId)[i]
              indexData.push(groupByCalId[dataCal])
          }

          //Grouping all
          let indexDataSeries = []
          indexData.forEach(e => {
            let seriesData = {
                  date: e[0].CAL_DATE,
                  data: []
            }
            e.forEach(i => {
              let dataItem = {
                id: i.GD_ID,
                name: i.GD_ITEM_NAME,
                value: i.CD_VALUE
              }
              seriesData.data.push(dataItem);
            });
            indexDataSeries.push(seriesData)
          });

          //order by date
          let shortData = indexDataSeries.sort(function(a, b) { return new Date(b.date) - new Date(a.date) })

          let dataSeries = []
          shortData.forEach(e => {
            categories.push(this.formateDate(e.date))
            e.data.forEach(i => {
              dataSeries.push(i)
            });
          });


          let groupById = groupBy(dataSeries, 'id')
          let index = []
          for (let i = 0; i < Object.keys(groupById).length; i++) {
              let dataCal = Object.keys(groupById)[i]
              index.push(groupById[dataCal])
          }

          index.forEach(e => {
            let data = {
                  type: 'line',
                  name: e[0].name,
                  data: []
            }
            e.forEach(i => {
              data.data.push(i.value)
            });
            series.push(data)
          });
        }
        
        //Chart
        this.chartDetailGauge = {
          chart: {
            height: '300px',
            zoomType: 'x',
            panning: false,
          },
          title: {
              text: 'Calibration Data',
              align: 'Center'
          },
          xAxis: {
              categories: categories
          },
          yAxis: {
              title: {
                  text: 'Value'
              },
              // crosshair: true,
              tickInterval: 0.5,
              startOnTick: false,
          },
          plotOptions: {
              series: {
                  borderRadius: '1%',
                  dataLabels: {
                    enabled: false,
                  },
              }
          },
          credits: {
                enabled: false,
          },
          exporting: {
                enabled: false,
          },
          series: series,
          responsive: {
              rules: [{
                  condition: {
                      maxWidth: 500
                  },
                  chartOptions: {
                      legend: {
                          layout: 'horizontal',
                          align: 'center',
                          verticalAlign: 'bottom'
                      }
                  }
              }]
          }
        }
      }
    }
  }
</script>

<style>
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 500px; /* Atur ketinggian maksimum kontainer chat */
  overflow-y: auto; /* Biarkan kontainer chat menjadi scrollable jika berlebihan */
  scrollbar-color: #ccc transparent;
}

.chat-container::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

.chat-container::-webkit-scrollbar-track {
  background-color: transparent; /* Warna latar belakang track */
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Warna thumb scrollbar */
  border-radius: 4px; /* Border radius thumb */
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* Warna thumb saat dihover */
}

.chat-balloon {
  position: relative;
  max-width: 60%;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  background-color: #f1f0f0;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-balloon.left {
  align-self: flex-start;
  background-color: #e0f7fa;
}

.chat-balloon.right {
  align-self: flex-end;
  background-color: #e1bee7;
}

.chat-balloon::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.chat-balloon.left::after {
  border-width: 10px 10px 10px 0;
  border-color: transparent #e0f7fa transparent transparent;
  left: -10px;
  top: 10px;
}

.chat-balloon.right::after {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1bee7;
  right: -10px;
  top: 10px;
}

.chat-balloon p {
  margin: 5px 0;
}

.chat-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.chat-timestamp {
  font-size: 0.8em;
  color: #777;
  text-align: right;
  margin-top: 10px;
}

</style>
