<template>
  <div>
    <CRow>
      <CCol :md="12">
        <CCard class="mb-5">
          <CCardHeader>
            <div class="row justify-content-between">
              <div class="col-2"><h5>Monthly Planning</h5></div>
              <div class="col-10 text-end">
                <CButton color="primary" href="#" @click="doGenerateModal()">
                <CIcon icon="cilLibrary"
                />&nbsp;Generate Planning By System</CButton>
                &nbsp;
                <CButton color="primary" href="#" @click="doCustomPlanning()">
                  <CIcon icon="cilCalendarCheck"
                  />&nbsp;Custom Planning</CButton>
                &nbsp;
                <CButton color="primary" href="#" @click="doHoliday()">
                  <CIcon icon="cil-calendar"
                  />&nbsp;Custom Date</CButton>
                  &nbsp; 
                  <CButton color="primary" href="#" @click="doReportModal()">
                    <CIcon icon="cil-calendar"
                    />&nbsp;Report Monthly Planning</CButton>
              </div>
            </div>
          </CCardHeader>
          <CCardBody class="p-4">
              <CRow>
                <CCol md="8" class="p-1">
                  <v-calendar
                    expanded 
                    class="custom-calendar max-w-full"
                    :masks="masks"
                    :attributes="attributes"
                    disable-page-swipe
                    is-expanded
                    >
                    <template v-slot:day-content="{ day, attributes }">                    
                      <div v-if="day.isToday == true" class="h-100 bg-info text-white text-center my-auto rounded" @click="showData(day, attributes)" >
                        <h6 class="py-1 m-0">{{ day.day }}</h6>
                        <div class="py-0">
                          <i class="bi bi-circle"></i>
                        </div>
                      </div>
                      <div v-else-if="selectedDate == day.id" class="h-100 bg-warning text-white text-center my-auto rounded" @click="showData(day, attributes)" >
                        <h6 class="py-1 m-0">{{ day.day }}</h6>
                        <div class="py-0">
                          <i class="bi bi-circle"></i>
                        </div>
                      </div>
                      <div v-else-if="day.weekday == 1 || day.weekday == 7" class="h-100 bg-white text-white text-center my-auto rounded" @click="showData(day, attributes)" >
                        <h6 class="p-1" style="color: rgb(255, 0, 0);">{{ day.day }}</h6>
                      </div>
                      <div v-else class="h-100 text-dark text-center my-auto rounded" @click="showData(day, attributes)" >
                        <h6 class="p-1">{{ day.day }}</h6>
                      </div>
                    </template>
                  </v-calendar>
                </CCol>
                <CCol md="4" class="p-1">
                  <CCard class="h-100">
                    <CCardHeader class="text-center">
                     <h5>Event in {{formateDate(day)}}</h5>
                    </CCardHeader>
                    <CCardBody> 
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <h5>Shift A</h5>
                            <div class="col-md-12 content-container">
                              <div class="scrollable-content">
                                <CCRow md="12"
                                  v-for="(item, index) in event"
                                  :key="item.id"
                                >
                                  <CCol class="mb-2" v-if="item.shift === 1 || item.shift === null">
                                    <div v-if="item.type == 'calibration'" class="text-left text-wrap">
                                      <span v-if="item.status == 1" class="badge rounded-pill bg-success">{{item.title}}</span>
                                      <span v-else class="badge rounded-pill bg-dark">{{item.title}}</span>
                                    </div>
                                    <div v-else-if="item.type != null" class="text-left">
                                      <span class="badge rounded-pill bg-danger">{{item.title}}</span>
                                    </div>
                                  </CCol>
                                </CCRow>
                              </div>
                            </div>
                            <CButton class="mt-2" color="primary" @click="doCalibrationGaugesShiftA()" v-c-tooltip="{content: 'Calibration Gauges', placement: 'top'}">
                              <CIcon icon="cilExternalLink"
                              />&nbsp;Calibration Shift A</CButton>
                          </div>
                          <div class="col-md-6">
                            <h5>Shift B</h5>
                            <div class="col-md-12 content-container">
                              <div class="scrollable-content">
                                <CCRow md="12"
                                  v-for="(item, index) in event"
                                  :key="item.id"
                                >
                                  <CCol class="mb-2" v-if="item.shift === 2">
                                    <div v-if="item.type == 'calibration'" class="text-left text-wrap">
                                      <span class="badge rounded-pill bg-success">{{item.title}}</span>
                                    </div>
                                    <div v-else-if="item.type != null" class="text-left">
                                      <span class="badge rounded-pill bg-danger">{{item.title}}</span>
                                    </div>
                                  </CCol>
                                </CCRow>
                              </div>
                            </div>
                            <CButton class="mt-2" color="primary" @click="doCalibrationGaugesShiftB()" v-c-tooltip="{content: 'Calibration Gauges', placement: 'top'}">
                              <CIcon icon="cilExternalLink"
                              />&nbsp;Calibration Shift B</CButton>
                          </div>
                        </div>
                      </div>
                        <!-- <div v-if="event.length > 0" class="scrollable text-left green flex-grow-1 flex-shrink-0 overflow-auto" style="height: 260px;">
                          <CCRow md="12"
                            v-for="(item, index) in event"
                            :key="item.id"
                          >
                            <CCol class="mb-2">
                              <div v-if="item.type == 'calibration'" class="text-left text-wrap">
                                    &bull;&nbsp;<span class="badge rounded-pill bg-success">{{item.title}}</span>
                              </div>
                              <div v-else-if="item.type != null" class="text-left">
                                &bull;&nbsp;<span class="badge rounded-pill bg-danger">{{item.title}}</span>
                              </div>
                            </CCol>
                          </CCRow>
                        </div>
                        <div v-else class="mt-4 text-center">
                          <h6>Not Found</h6>
                        </div> -->
                    </CCardBody>
                    <!-- <CCardFooter>
                      <div class="row justify-content-between">
                        <div class="col text-end">
                          <CButton color="primary" @click="doCalibrationGauges()" v-c-tooltip="{content: 'Calibration Gauges', placement: 'top'}">
                            <CIcon icon="cilExternalLink"
                            />&nbsp;Calibration Gauges</CButton>
                        </div>
                      </div>
                    </CCardFooter> -->
                  </CCard>
                </CCol>
              </CRow>            
          </CCardBody>
          <CCardFooter>
              <CButton class="mb-2" @click="back()" color="dark">
                  <div>
                    <font-awesome-icon icon="fa-solid fa-chevron-left" /> Back
                  </div>
                </CButton>
          </CCardFooter>
        </CCard>
      </CCol>
    </CRow>
  </div>
  <Teleport to="body">
    <CModal 
            size='m'
            :visible="showModalDate"  
            @close="() => {showModalDate = false}"
            id="form-modal"
            backdrop="static"
          >
          <CModalHeader>
            <CModalTitle>Select Generate Date</CModalTitle>
          </CModalHeader>
          <CModalBody>
            <Datepicker v-model="month" month-picker :clearable="false" format="MMMM yyyy"/>
          </CModalBody>
          <CModalFooter>
            <CRow>
              <CCol :md="12" class="text-end">
                <CButton color="primary" size="md" @click="doGenerate(month)">
                  <CIcon icon="cilLibrary" size="md" /> Generate
                </CButton>
              </CCol>
            </CRow>
          </CModalFooter>
    </CModal>
  </Teleport>
  <Teleport to="body">
    <CModal 
            size='m'
            :visible="showModalDateReport"  
            @close="() => {showModalDateReport = false}"
            id="form-modal"
            backdrop="static"
          >
          <CModalHeader>
            <CModalTitle>Select Report Date</CModalTitle>
          </CModalHeader>
          <CModalBody>
            <Datepicker v-model="monthReport" month-picker :clearable="false" format="MMMM yyyy"/>
          </CModalBody>
          <CModalFooter>
            <CRow>
              <CCol :md="12" class="text-end">
                <CButton color="primary" size="md" @click="doReport(monthReport)">
                  <CIcon icon="cil-calendar" size="md" /> Report
                </CButton>
              </CCol>
            </CRow>
          </CModalFooter>
    </CModal>
  </Teleport>
</template>

<script>
import Swal from 'sweetalert2'
import Pagination from '@/components/Pagination2.vue'
import utils from "@/utils/CommonUtils"
import apis from '@/apis/CommonAPI'
import condition from '@/utils/CommonCondition'
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import moment from 'moment'
import { CCardHeader, CTableHeaderCell } from '@coreui/vue'
import router from '../../router'

export default {
  name: 'Monthly Planning Screen',
  components: {
      Datepicker,
      Pagination,
      CTableHeaderCell,
      CCardHeader
  },
  watch: {},
  mounted() {
    this.doGetYearPlanning(moment(new Date()).format('YYYY'))
  },
  data() {
    return {
      loading:false,
      visible: false,
      errorMessage:'',
      infoMessage:'',
      warningMessage:'',
      today: moment(new Date()).format('YYYY-MM-DD'),
      masks: {
        weekdays: 'WWW',
      },
      attributes: [],
      event: [], 
      day: null, 
      selectedDate: moment(new Date()).format('YYYY-MM-DD'),
      uniqueHoliday: [],
      uniqueCalibrated: [],
      showModalDate: false,
      showModalDateReport: false,
      month: moment(new Date()).format('YYYY-MM'),
      monthReport: moment(new Date()).format('YYYY-MM'),
    }
  },

  methods: {
    showData(day, attrr){
      console.log('DAY', day)
      console.log('ATTRIBUTES', attrr)
      this.selectedDate = day.id
      this.day = day.ariaLabel
      this.event = []
      attrr.forEach(e => {
        let data = {
          id: e.key,
          title: e.customData.title,
          subTitle: e.customData.subTitle,
          type: e.customData.type,
          date: e.dates,
          idGauge: e.customData.idGauge,
          shift: e.customData.shift,
          status: e.customData.status
        }
        this.event.push(data)
      });
      console.log('XXXX', this.event)
    },
    formateDate(date){
      return moment(date).format('DD MMM YYYY')
    },
    doGenerateModal(){
      this.month = moment(new Date()).format('YYYY-MM'),
      this.showModalDate = true
      // this.doGenerate()
    },
    doGenerate(date) {
      this.showModalDate = false
      let obj = null
      if(!date.month && !date.year){
        date = { month: moment().format('MM'), year: moment().format('YYYY')}
        obj = { month: (date.month).toString(), year: (date.year).toString()}
      }else{
        let monthFormat = date.month + 1
        monthFormat < 10 ? monthFormat = '0' + monthFormat.toString() : monthFormat = monthFormat.toString()
        obj = { month: monthFormat, year: (date.year).toString()}
      }
      this.date = obj.month + '-' + obj.year
      console.log('DATE', this.date)

      apis.post('/monthly-planning/get', obj).then((result) => {
          if (result.data.status == 200) {
              let data = result.data.data
              if(data == null){
                Swal.fire({
                  title: `Planning ${moment(this.date, 'MM-YYYY').format('MMMM YYYY')}`,
                  text: `Apakah kamu akan membuat planning di bulan ${moment(this.date, 'MM-YYYY').format('MMMM YYYY')}?`,
                  showCancelButton: true,
                  confirmButtonText: 'Save',
                  cancelButtonText: `Cancel`,
                  customClass: {
                    confirmButton: 'btn btn-primary me-4',
                    cancelButton: 'btn btn-outline-primary',
                  },
                  buttonsStyling: false,
                }).then(async (result) => {
                  if (result.isConfirmed) {
                    apis.post('/monthly-planning/add', obj).then((result) => {
                      if (result.status == 200) {
                        if(result.data.status == 403){
                          Swal.fire('', 'Bulan yang dipilih sudah tidak tersedia', 'error')
                          this.doGetYearPlanning(moment(new Date()).format('YYYY'))
                        }else{
                          Swal.fire('', result.data.message, 'success')
                          this.doGetYearPlanning(moment(new Date()).format('YYYY'))
                        }
                      }else{
                        Swal.fire('', 'Failed Generate Planning', 'Error')
                        this.doGetYearPlanning(moment(new Date()).format('YYYY'))
                      }
                    })
                  }
                })
              }else{
                Swal.fire({
                  icon: 'info',
                  title: `Planning ${moment(this.date, 'MM-YYYY').format('MMMM YYYY')}`,
                  text: `Planning  di bulan ${moment(this.date, 'MM-YYYY').format('MMMM YYYY')} sudah dibuat, apakah ingin generate ulang planning?`,
                  showCancelButton: true,
                  confirmButtonText: 'Save',
                  cancelButtonText: `Cancel`,
                  customClass: {
                    confirmButton: 'btn btn-primary me-4',
                    cancelButton: 'btn btn-outline-primary',
                  },
                  buttonsStyling: false,
                }).then(async (result) => {
                  if (result.isConfirmed) {
                    apis.post('/monthly-planning/add', obj).then((result) => {
                      if (result.status == 200) {
                        Swal.fire('', result.data.message, 'success')
                        this.doGetYearPlanning(moment(new Date()).format('YYYY'))
                      }else{
                        Swal.fire('', 'Failed Generate Planning', 'Error')
                        this.doGetYearPlanning(moment(new Date()).format('YYYY'))
                      }
                    })
                  }
                })
              }
          } else {
            Swal.fire('', 'Internal Server Error', 'error')
          }
      })
    },
    doHoliday(){
      this.$router.push('/qdc/monthly-planning-holiday')
    },
    doCustomPlanning(){
      this.$router.push('/qdc/custom-planning')
    },
    async doGetYearPlanning(year){
      let obj = {}
      await apis
      .post('/monthly-planning/search')
      .then((result) => {
        if(result.status == 200){
          if(result.data.data != null){
            let data = result.data.data;
            console.log('DATA DATA', data)
            let dotHoliday = []
            let dotCalibrated = []
            data.forEach(e => {
              let itemDate = {
                  key: null,
                  customData: {
                    title:null,
                    subTitle: null,
                    type: null,
                    idGauge: null,
                    shift: null,
                    status: null
                  },
                  dates: null,
              }
              if(e.type == 'calibration'){
                itemDate.key = e.id
                itemDate.customData.title = e.id
                itemDate.customData.subTitle = e.description
                itemDate.customData.type = e.type
                itemDate.customData.idGauge = e.idGauge
                itemDate.customData.shift = e.shift
                itemDate.customData.status = e.status
                itemDate.dates = e.date
                dotCalibrated.push(e.date)
              }else{
                itemDate.key = e.id
                itemDate.customData.title = e.name
                itemDate.customData.subTitle = e.description
                itemDate.customData.type = e.type
                itemDate.customData.idGauge = e.idGauge
                itemDate.customData.shift = e.shift
                itemDate.customData.status = e.status
                itemDate.dates = e.date
                dotHoliday.push(e.date)
              }
              data.push(itemDate)
            })
            this.attributes = data

            //custom dot date
            this.uniqueHoliday = [...new Set(dotHoliday)]
            this.uniqueCalibrated = [...new Set(dotCalibrated)]
            this.uniqueHoliday.forEach(e => {
              let itemDate = {
                  key: null,
                  customData: {
                    title:null,
                    subTitle: null,
                    type: null,
                    idGauge: null,
                    shift: null,
                    status: null
                  },
                  dates: null,
              }
              itemDate.dates = e
              itemDate.dot = {
                  style: {
                      background: '#f50b0b',
                      opacity: 0.6,
                      marginBottom: '10px'
                  },
              }
              this.attributes.push(itemDate)
            });
            this.uniqueCalibrated.forEach(e => {
              let itemDate = {
                  key: null,
                  customData: {
                    title:null,
                    subTitle: null,
                    type: null,
                    idGauge: null,
                    shift: null,
                    status: null
                  },
                  dates: null,
              }
              itemDate.dates = e
              itemDate.dot = {
                  style: {
                      background: '#30f205',
                      opacity: 0.6,
                      marginBottom: '10px'
                  },
              }
              this.attributes.push(itemDate)
            });

            //Begin => init state only for handle init screen
            this.event = []
            let filteredDataInit = data.filter(function(obj) {
              let today = moment(new Date()).format('YYYY-MM-DD')
              return obj.dates == today;
            });
            this.day = this.today
            filteredDataInit.forEach(e => {
              let data = {
                id: e.key,
                idGauge: e.customData.idGauge,
                title: e.customData.title,
                subTitle: e.customData.subTitle,
                type: e.customData.type,
                shift: e.customData.shift,
                status: e.customData.status,
                date: e.dates
              }
              this.event.push(data)
            });
          }
        }
      })
    },
    doCalibrationGauges(){
      let gaugesId = []
      this.event.filter(function (el) {
        if(el.idGauge != null){
          gaugesId.push(el.idGauge)
        }
      })
      if(gaugesId.length == 0){
        Swal.fire('', 'Gauge not found', 'info')
      }else{
        let obj = JSON.stringify(gaugesId)
        this.$router.push('/qdc/gauge-control?idGauges='+obj)
      }
    },
    doCalibrationGaugesShiftA(){
      let gaugesId = []
      this.event.filter(function (el) {
        if(el.idGauge != null && el.shift == 1){
          gaugesId.push(el.idGauge)
        }
      })
      if(gaugesId.length == 0){
        Swal.fire('', 'Gauge not found', 'info')
      }else{
        let obj = JSON.stringify(gaugesId)
        this.$router.push('/qdc/gauge-control?idGauges='+obj)
      }
    },
    doCalibrationGaugesShiftB(){
      let gaugesId = []
      this.event.filter(function (el) {
        if(el.idGauge != null && el.shift == 2){
          gaugesId.push(el.idGauge)
        }
      })
      if(gaugesId.length == 0){
        Swal.fire('', 'Gauge not found', 'info')
      }else{
        let obj = JSON.stringify(gaugesId)
        this.$router.push('/qdc/gauge-control?idGauges='+obj)
      }
    },
    doReportDate(){
      this.$router.push('/qdc/monthly-planning-report')
    },
    doReportModal(){
      // this.showModalDateReport = true
      this.$router.push('/qdc/monthly-report')
    },
    doReport(date){
      this.showModalDateReport = false
      Swal.fire({
          text: 'Do you want to download the report file?',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: `No`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          if (result.isConfirmed) {
            // let year = moment(this.date).format('YYYY')
            // let month = moment(this.date).format('MM')
            // let obj = { month: month, year: year}
            let obj = null
            if(!date.month && !date.year){
              date = { month: moment().format('MM'), year: moment().format('YYYY')}
              obj = { month: (date.month).toString(), year: (date.year).toString()}
            }else{
              obj = { month: (date.month + 1).toString(), year: (date.year).toString()}
            }
            let response = await apis.download('/monthly-planning/download', 'POST', obj);
          }
        });
    },
    back() {
      // router.back()
      this.$router.push('/qdc/gauge-control')
    },
  },
}
</script>
<style>
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  display: none;
}

.custom-calendar.vc-container {
  --day-border: 1px solid #959595;
  --day-border-highlight: 1px solid #959595;
  --day-width: 50px;
  --day-height: 50px;
  --weekday-bg: #ff0000;
  --weekday-border: 1px solid #959595;

  border-radius: 5;
  width: 50%;

  & .vc-header {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  & .vc-weeks {
    padding: 0;
  }
  & .vc-weekday {
    background-color: rgb(255, 255, 255); 
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 10px 0;
    color: rgb(0, 0, 0); 
  }
  & .vc-day {
    padding: 3px 5px 3px 5px;
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 255, 255); 
    &.weekday-1,
    &.weekday-7 {
      background-color: #ffffff;
    }
    &:not(.on-bottom) {
      border-bottom: var(--day-border);
      &.weekday-1 {
        border-bottom: var(--day-border-highlight);
      }
    }
    &:not(.on-right) {
      border-right: var(--day-border);
    }
  }
  & .vc-day-dots {
    margin-bottom: 5px;
  }
}
.scrollable {
  overflow-y: scroll;
}
.content-container {
  height: 400px; /* Sesuaikan tinggi sesuai kebutuhan */
  overflow-y: auto;
  border: 1px solid #ddd; /* Optional: untuk visualisasi */
  padding: 10px; /* Optional: untuk memberikan sedikit padding */
}

.scrollable-content {
  height: 100%;
}
</style>  
