<template>
    <CRow class="mt-3">
      <CCol :md="12">
        <CCard>
          <CCardHeader>
            <div class="row justify-content-between">
              <div class="col"><h5>Monthly Report</h5></div>
              <div class="col-10 text-end">
                  <CButton color="primary" href="#" @click="doReport()">
                    <CIcon icon="cil-calendar"
                  />&nbsp;Download Report</CButton>
              </div>
            </div>
          </CCardHeader>
          <CCardBody>
            <CRow>
              <CCol :md="12">
                <CRow  class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <CCol :md="4">
                    <Datepicker v-model="month" month-picker :clearable="false" format="MMMM yyyy"/>
                  </CCol>
                </CRow>
              </CCol>
            </CRow>
            <hr>
            <CRow :md="12">
              <CCol :md="7">
                <CCard class="mb-2">
                  <CCardBody class="p-2">
                    <!-- <CImage class="p-0" rounded thumbnail id="imgPhoto" style="width: auto; height: 100%;" 
                          :src="defaultImage"
                        /> -->
                    <div id="chartFreqCalibration">
                      <highcharts
                          class="hc p-1"
                          :options="chartFreqCalibration"
                          ref="chartop"
                    ></highcharts>
                    </div>
                  </CCardBody>
                </CCard>
              </CCol>
              <CCol :md="5">
                <CCard class="mb-2">
                <CCardBody class="p-2 text-center">
                  <div id="chartMonth">
                    <highcharts
                          class="hc p-1"
                          :options="chartMonthCalibration"
                          ref="chartop"
                    ></highcharts>
                  </div>
                </CCardBody>
                </CCard>
              </CCol>
            </CRow>
            <CRow :md="12" class="mt-3">
              <CCol :md="12">
                <CCard class="mb-2">
                  <CCardBody class="p-4">
                    <CTable align="middle" class="mb-3 border" striped bordered responsive small hover>
                      <CTableHead color="light">
                        <CTableRow>
                          <CTableHeaderCell class="text-center" style="min-width: 10px" rowspan="4">
                            No
                          </CTableHeaderCell>
                          <CTableHeaderCell class="text-center" style="min-width: 100px; cursor: pointer" rowspan="4">
                            Line
                          </CTableHeaderCell>
                          <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="16">
                            Frequency
                          </CTableHeaderCell>
                          <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" rowspan="2" colspan="3">
                            Total Gauge
                          </CTableHeaderCell>
                        </CTableRow>
                        <CTableRow>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="3">
                                1/Month
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="3">
                                1/3 Month
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="3">
                                1/6 Month
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="3">
                                1/Y
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="3">
                                1/2 Y
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" rowspan="3">
                                Unplanning
                            </CTableHeaderCell>
                        </CTableRow>
                        <CTableRow>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" rowspan="2">
                              Plan
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="2">
                              Do
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" rowspan="2">
                              Plan
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="2">
                              Do
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" rowspan="2">
                              Plan
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="2">
                              Do
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" rowspan="2">
                              Plan
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="2">
                              Do
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" rowspan="2">
                              Plan
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="2">
                              Do
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" rowspan="2">
                              Plan
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer" colspan="2">
                              Do
                            </CTableHeaderCell>
                        </CTableRow>
                        <CTableRow>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              OK
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              NG
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              OK
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              NG
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              OK
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              NG
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              OK
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              NG
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              OK
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              NG
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              OK
                            </CTableHeaderCell>
                            <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                              NG
                            </CTableHeaderCell>
                        </CTableRow>
                      </CTableHead>
                      <CTableBody>
                        <CTableRow v-if="loading">
                          <CTableDataCell class="text-center" colspan="21">
                            <CSpinner component="span" size="sm" aria-hidden="true"/> Loading...
                          </CTableDataCell>
                        </CTableRow>
                        <CTableRow v-else-if="tableData.length<=0">
                          <CTableDataCell class="text-center" colspan="21">Data not found</CTableDataCell>
                        </CTableRow>
                        <CTableRow
                          v-else
                          v-for="(item, index) in tableData"
                          :key="item.LINE_NAME"
                        >
                          <CTableDataCell class="text-center">{{ ( (page.pageNo-1) * page.pageSize) + index + 1 }}</CTableDataCell>
                          <CTableDataCell>{{ item.LINE_NAME }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1M_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1M_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1M_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1_3M_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1_3M_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1_3M_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1_6M_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1_6M_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1_6M_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1Y_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1Y_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1Y_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1_2Y_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1_2Y_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_1_2Y_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ null }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_TG_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_TG_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ item.R_TG_DO_NG }}</CTableDataCell>
                        </CTableRow>
                        <CTableRow
                          v-for="(itemT, index) in tableTotal"
                        >
                          <CTableDataCell>{{ '' }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ 'TOTAL' }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1M_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1M_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1M_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1_3M_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1_3M_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1_3M_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1_6M_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1_6M_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1_6M_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1Y_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1Y_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1Y_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1_2Y_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1_2Y_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_1_2Y_DO_NG }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.UNPLANNING }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_TG_PLAN }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_TG_DO_OK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemT.R_TG_DO_NG }}</CTableDataCell>
                        </CTableRow>
                      </CTableBody>
                    </CTable>
                    <CTable align="middle" class="mb-3 border" striped bordered responsive small hover>
                      <CTableHead color="light">
                        <CTableRow>
                          <CTableHeaderCell class="text-center" style="min-width: 10px">
                            No
                          </CTableHeaderCell>
                          <CTableHeaderCell class="text-center" style="min-width: 100px; cursor: pointer">
                            Gauge NG
                          </CTableHeaderCell>
                          <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                            Freq
                          </CTableHeaderCell>
                          <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                            Problem
                          </CTableHeaderCell>
                          <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                            Action
                          </CTableHeaderCell>
                          <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                            Konfirmasi Unti Problem
                          </CTableHeaderCell>
                          <CTableHeaderCell class="text-center" style="min-width: auto; cursor: pointer">
                            Judge
                          </CTableHeaderCell>
                        </CTableRow>
                      </CTableHead>
                      <CTableBody>
                        <CTableRow v-if="loading">
                          <CTableDataCell class="text-center" colspan="21">
                            <CSpinner component="span" size="sm" aria-hidden="true"/> Loading...
                          </CTableDataCell>
                        </CTableRow>
                        <CTableRow v-else-if="tableNG.length<=0">
                          <CTableDataCell class="text-center" colspan="21">Data not found</CTableDataCell>
                        </CTableRow>
                        <CTableRow
                            v-else
                            v-for="(itemNG, index) in tableNG"
                            :key="itemNG.GAUGE_ID"
                          >
                          <CTableDataCell class="text-center">{{ ( (page.pageNo-1) * page.pageSize) + index + 1 }}</CTableDataCell>
                          <CTableDataCell class="text-left">{{ itemNG.GAUGE_SERIAL_NO  }} - [{{ itemNG.GAUGE_NAME}}]</CTableDataCell>
                          <CTableDataCell class="text-center">{{ 1 }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ null }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemNG.GAUGE_REMARK }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ null }}</CTableDataCell>
                          <CTableDataCell class="text-center">{{ itemNG.GAUGE_JUDGEMENT }}</CTableDataCell>
                        </CTableRow>
                      </CTableBody>
                    </Ctable>
                  </CCardBody>
                </CCard>
              </CCol>
            </CRow>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </template>
  
  <script>
    import Swal from 'sweetalert2'
    import apis from '@/apis/CommonAPI'
    import { CCardBody, CCardFooter, CCol, CRow } from '@coreui/vue'
    import moment from 'moment-timezone'
    import defaultImage from '@/assets/images/defaultImage.png'
    import Pagination from '@/components/Pagination2.vue'
    import Highcharts from 'highcharts'
    import Annotation from 'highcharts/modules/annotations'
    import Exporting from 'highcharts/modules/exporting'
    import highcharts3d from "highcharts/highcharts-3d";
    import Drilldown from 'highcharts/modules/drilldown'
    import html2canvas from 'html2canvas'
    import Datepicker from '@vuepic/vue-datepicker';
    import '@vuepic/vue-datepicker/dist/main.css'

    Annotation(Highcharts)
    Exporting(Highcharts)
    highcharts3d(Highcharts)
    Drilldown(Highcharts)
    
    export default {
      name: 'Monthly Report Screen',
      components: {
          CRow,
          CCol,
          Pagination,
          CCardFooter,
          Datepicker
      },
      watch: {},
      async mounted() {
        this.doSearch(this.date)
        this.getChartFreqCalibration(this.date)
      },
      data() {
        return {
          loading:false,
          loadingDownload:false,
          tableData: [],
          tableTotal: [],
          tableNG: [],
          errorMessage:'',
          infoMessage:'',
          warningMessage:'',
          page:{
            totalRecords : 0,
            totalPages: 0,
            pageNo : 1,
            pageSize : 10000
          },
          showModal: false,
          month: moment(new Date()).format('YYYY-MM'),
          date:{
            month: moment(new Date()).format('MM'),
            year: moment(new Date()).format('YYYY'),
          },
          defaultImage: defaultImage,
          chartFreqCalibration: {},
          dataChartFreqCalibration : [],
          chartMonthCalibration: {},
          dataChartMonthCalibration : [],
          imgChartFreq : null,
          imgChartMonth : null,

        }
      },
      watch: {
        month(e){
          this.loading = true,
          this.date.month = (e.month+1) < 10 ? '0' + (e.month+1).toString() : (e.month+1).toString()
          this.date.year = e.year.toString()
          this.doSearch(this.date)
        }
      },
      methods: {
        formateDate(date){
          return moment(date).format('DD-MMM-YYYY')
        },

        async doSearch(date) {
          this.loading = true
          let obj = { 
                month: date.month.toString(),
                year: date.year.toString()
              }
          await apis
            .post('/report-planning/get', obj)
            .then((result) => {
              if(result.data.status != 200){
                let data = result.data.message;
                this.loading = false
                Swal.fire('', data, 'error')
              }else{
                this.tableData = result.data.data.lineReport;
                this.tableTotal = result.data.data.totalLineReport;
                this.tableNG = result.data.data.ngReport;
                this.getChartFreqCalibration()
                this.getChartMonthCalibration()
                this.loading = false
                if(this.tableData.length == 0){
                  Swal.fire('', `Data Report ${moment(this.date.month+'-'+this.date.year, 'MM-YYYY').format('MMMM YYYY')} not found`, 'info')
                }else{
                  Swal.fire('', `Data Report ${moment(this.date.month+'-'+this.date.year, 'MM-YYYY').format('MMMM YYYY')} found`, 'success')
                }
              }
          }).catch((err)=>{
            this.loading = false
            Swal.fire('', "Internal Server Error", 'error')
          })
        },

        doReport(){
          Swal.fire({
              text: `Do you want to download the report ${moment(this.date.month+'-'+this.date.year, 'MM-YYYY').format('MMMM YYYY')} file?`,
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: `No`,
              customClass: {
                confirmButton: 'btn btn-primary me-4',
                cancelButton: 'btn btn-outline-primary',
              },
              buttonsStyling: false,
            }).then(async (result) => {
              if (result.isConfirmed) {
                let obj = this.date
                obj.imgFreq = ''
                obj.imgMonth = ''
                this.loadingDownload = true
                // let response = await apis.download('/monthly-planning/download', 'POST', obj);
                
                html2canvas(document.querySelector("#chartFreqCalibration"), 
                  { 
                    backgroundColor: 'null', 
                    scale: 2,
                    useCORS: false
                  }).then( async (canvas) => {
                    let base64image = canvas.toDataURL("image/png");
                    try {
                      this.imgChartFreq = base64image

                      html2canvas(document.querySelector("#chartMonth"), 
                      { 
                        backgroundColor: 'null', 
                        scale: 2,
                        useCORS: false
                      }).then(async (canvas)  => {
                        let base64image = canvas.toDataURL("image/png");
                        try {
                          this.imgChartMonth = base64image
                          // console.log('IMG 1', this.imgChartFreq)
                          // console.log('IMG 2', this.imgChartMonth)
                          obj.imgFreq = this.imgChartFreq
                          obj.imgMonth = this.imgChartMonth
                          console.log('IMG 3', obj)
                          let response = await apis.download('/monthly-planning/download', 'POST', obj);
                          this.loadingDownload = false
                        } catch (error) {
                          console.log('ERROR IMG MONTH', error)
                          let response = await apis.download('/monthly-planning/download', 'POST', obj);
                          this.loadingDownload = false
                        }
                      })
                    } catch (error) {
                      console.log('ERROR IMG FREQ', error)
                      let response = await apis.download('/monthly-planning/download', 'POST', obj);
                      this.loadingDownload = false
                    }
                  })
              }
            });
        },

        async getDataChart(){
          let dataChart = []
          this.tableData.forEach(e => {
            console.log(e)
            let item = {
              name: e.LINE_NAME,
              data: []
            }
            item.data.push(e.R_1M_PLAN)
            item.data.push(e.R_1M_DO_OK)
            item.data.push(e.R_1M_DO_NG)
            item.data.push(e.R_1_3M_PLAN)
            item.data.push(e.R_1_3M_DO_OK)
            item.data.push(e.R_1_3M_DO_NG)
            item.data.push(e.R_1_6M_PLAN)
            item.data.push(e.R_1_6M_DO_OK)
            item.data.push(e.R_1_6M_DO_NG)
            item.data.push(e.R_1Y_PLAN)
            item.data.push(e.R_1Y_DO_OK)
            item.data.push(e.R_1Y_DO_NG)
            item.data.push(e.R_1_2Y_PLAN)
            item.data.push(e.R_1_2Y_DO_OK)
            item.data.push(e.R_1_2Y_DO_NG)

            dataChart.push(item)

          });
          this.dataChartFreqCalibration = dataChart
        },

        async getChartFreqCalibration(){
          this.getDataChart()
          this.chartFreqCalibration = {
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false,
            },
            title: {
                text: 'Actual Calibration',
                align: 'center'
            },
            xAxis: {
                categories: ['Plan 1/M', 'OK 1/M', 'NG 1/M', 'Plan 1/3M', 'OK 1/3M', 'NG 1/3M', 
                             'Plan 1/6M', 'OK 1/6M', 'NG 1/6M', 'Plan 1/Y', 'OK 1/Y', 'NG 1/Y', 
                             'Plan 1/2Y', 'OK 1/2Y', 'NG 1/2Y', ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
                stackLabels: {
                    enabled: true
                }
            },
            legend: {
                borderColor: '#CCC',
                borderWidth: 2,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: { enabled: true}
                }
            },
            series: this.dataChartFreqCalibration
          }
        },

        async getChartMonthCalibration(){
          this.getDataChart()
          this.chartMonthCalibration = {
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false,
            },
            title: {
                text: 'Pencapaian',
                align: 'center'
            },
            xAxis: {
                categories: ['Sep 23', 'Oct 23', 'Nov 23', 'Dec 23', 'Jan 24']
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
                stackLabels: {
                    enabled: true
                }
            },
            legend: {
                borderColor: '#CCC',
                borderWidth: 2,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    dataLabels: { enabled: true}
                }
            },
            series: [
                {
                    name: 'Plan',
                    data: [0,0,0,0,0]
                },
                {
                    name: 'Do "NG"',
                    data: [0,0,0,0,0]
                },
                {
                    name: 'Do "OK"',
                    data: [0,0,0,0,0]
                }
            ]
          }
        }
        
      }
    }
  </script>
    
  