<template>
    <div>
        <CRow>
          <CCol :md="12">
            <CCard>
              <CCardHeader>
                <div v-if="isEdit"><h5>Edit Custom Date</h5></div>
                <div v-else-if="isDetail"><h5>Detail Custom Date</h5></div>
                <div v-else><h5>Register Custom Date</h5></div>
              </CCardHeader>
              <CCardBody>
                <CForm
                  novalidate
                  :validated="validatedInput"
                  @submit.prevent="save">
                  <CRow class="mb-1">
                    <CCol lg="6">
                      <div class="form-group mb-3">
                        <CFormLabel for="GphDescription">
                          Description <span style="color: red">*</span>
                        </CFormLabel>
                        <CFormInput
                          v-model="form.GphDescription"
                          type="text"
                          id="GphDescription"
                          placeholder="Holiday Description"
                          maxlength="200"
                          required
                          feedbackInvalid="Please provide a valid Holiday Description"
                          :disabled="isDetail"
                        />
                      </div>
                      
                      <div class="form-group mb-3">
                        <CFormLabel for="GphIsNationalHoliday">
                          National Holiday <span style="color: red">*</span>
                        </CFormLabel>
                        <v-select
                            id="GphIsNationalHoliday"
                            :disabled="isDetail"
                            v-model="form.GphIsNationalHoliday"
                            label="label"
                            :reduce="label => label.id"
                            :options="optionsData"
                            :clearable="false"
                            required
                        >
                        </v-select>
                      </div>
                    </CCol>
                    <CCol lg="6">
                        <div class="form-group mb-3">
                            <CFormLabel for="GphDate">
                              Holiday Date <span style="color: red">*</span>
                            </CFormLabel>
                            <Datepicker 
                              v-model="form.GphDate" 
                              :clearable="false" 
                              :enable-time-picker="false"
                              placeholder="Select Holiday Date"  
                              format="dd-MM-yyyy"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <CFormLabel for="GphIsWork">
                                Working Day <span style="color: red">*</span>
                            </CFormLabel>
                            <v-select
                                id="GphIsWork"
                                :disabled="isDetail"
                                v-model="form.GphIsWork"
                                label="label"
                                :reduce="label => label.id"
                                :options="optionsData"
                                :clearable="false"
                                required
                            >
                          </v-select>
                          </div>
                    </CCol>
                  </CRow>

                  <CRow class="mb-2 mt-2">
                    <CCol>
                      <CButton type="submit" color="primary" class="me-2 mb-2"
                        v-if="!isDetail">
                        <CIcon icon="cilSave" /> Submit
                      </CButton>
                      <CButton class="mb-2" @click="back()" color="dark">
                        <div v-if="isDetail">
                          <font-awesome-icon icon="fa-solid fa-chevron-left" /> Back
                        </div>
                        <div v-else>
                          <CIcon icon="cilX" /> Cancel
                        </div>
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </div>
</template>

<script>
import Swal from 'sweetalert2'
import utils from "@/utils/CommonUtils"
import apis from '@/apis/CommonAPI'
import condition from '@/utils/CommonCondition'
import router from '../../router'
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import moment from 'moment'
import defaultImage from '@/assets/images/defaultImage.png'
import { reactive } from 'vue'

export default {
  name: 'Planning Holiday Form',
  components: { Datepicker },
  mounted() {
    if (this.$route.params.id) {
      this.isEdit = true
      this.getByID(this.$route.params.id)
    }
  },
  data() {
    return {
        form:{
            GphId: null,
            GphDescription: null,
            GphDate: moment(new Date()).format('DD-MMM-YYYY'),
            GphIsNationalHoliday: 'Y',
            GphIsWork: 'N'
        },
        isEdit: false,
        loading: false,
        isDetail: false,
        validatedInput: null,
        validatedSelect: null,
        optionsData: [
            {
                id: 'Y',
                label: 'Yes'
            },
            {
                id: 'N',
                label: 'No'
            }
        ]
    }
  },
  watch: {
  },
  methods : {
    async getByID(id){
        let obj = { GphId : id}
        await apis
        .post('/monthly-planning-holiday/get',obj)
        .then((result) => {
            console.log('result', result)
            if(result.status == 200){
                if(result.data.data != null){
                let data = result.data.data[0];
                console.log(data)
                  this.form.GphId = data.GPH_ID,
                  this.form.GphDescription = data.GPH_DESCRIPTION,
                  this.form.GphDate = data.GPH_DATE,
                  this.form.GphIsNationalHoliday = data.GPH_IS_NATIONAL_HOLIDAY,
                  this.form.GphIsWork = data.GPH_IS_WORK
                }else{
                    Swal.fire('', 'Holiday Planning not found', 'error')
                    this.$router.push('/qdc/monthly-planning-holiday')
                }
          }else{
            Swal.fire('', 'Holiday Planning not found', 'error')
            this.$router.push('/qdc/monthly-planning-holiday')
          }
        })
    },

    async save(event) {
      const form = event.currentTarget
      if (form.checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        this.validatedInput = true
      }else{
        this.validatedInput = false
        Swal.fire({
          title: 'Do you want to save the changes?',
          text: 'Make sure the data is correct!',
          showCancelButton: true,
          confirmButtonText: 'Save',
          cancelButtonText: `Check again`,
          customClass: {
            confirmButton: 'btn btn-primary me-4',
            cancelButton: 'btn btn-outline-primary',
          },
          buttonsStyling: false,
        }).then(async (result) => {
          if (result.isConfirmed) {
            if(this.form.GphId == null){
                
              let obj = {
                GphDescription : this.form.GphDescription,
                GphDate : moment(this.form.GphDate).format('MM-DD-YYYY'),
                GphIsNationalHoliday : this.form.GphIsNationalHoliday,
                GphIsWork : this.form.GphIsWork
              }

              await apis.post('/monthly-planning-holiday/add', obj).then((result) => {
                  if (result.data.status == 200) {
                    Swal.fire('', result.data.message, 'success')
                    this.$router.back()
                  } else {
                    let data = result.data.message
                    Swal.fire('', data, 'error')
                  }
                })

            }else{

            let obj = {
                GphId: parseInt(this.form.GphId),
                GphDescription : this.form.GphDescription,
                GphDate : moment(this.form.GphDate).format('MM-DD-YYYY'),
                GphIsNationalHoliday : this.form.GphIsNationalHoliday,
                GphIsWork : this.form.GphIsWork
              }

              await apis.post('/monthly-planning-holiday/edit', obj).then((result) => {
                if (result.data) {
                  Swal.fire('', result.data.message, 'success')
                  this.$router.back()
                } else {
                  let data = result.response.data
                  Swal.fire('', data.message, 'error')
                }
              })
            }
          }
        })
      }
    },
    back() {
      utils.backToPreviousPage()
    },
  }
}
</script>