<template>
  <h4>Quality Operational</h4>
  <CRow class="mt-3">
    <CCol :md="12">
      <CCard class="mb-4">
        <CCardBody>
          <CRow :md="12">
            <CCol :md="4">
              <CCard class="mb-2">
                <CCardHeader>
                    <div class="col text-start">
                      <CButton class="bg-primary text-white" href="#" v-on:click="doGaugeControl('all')">Gauge Control</CButton>
                    </div>
                </CCardHeader>
                <CCardBody>
                    <CRow>
                      <CCol :md="12">
                        <div class="p-2 mb-2 mt-2 bg-success text-white text-center my-auto shadow rounded" v-on:click="doGaugeControl('ok')">
                          <CRow>
                            <CCol>
                              <h1>{{gaugeControl.dataOk}}</h1>
                            </CCol>
                          </CRow>
                          <CRow>
                            <CCol>
                              <h6>OK Calibration</h6>
                            </CCol>
                          </CRow>
                        </div>
                      </CCol>
                    </CRow>
                    <CRow>
                      <CCol :md="6">
                        <div class="p-2 mb-2 mt-2 bg-danger text-white text-center my-auto shadow rounded" v-on:click="doGaugeControl('exp')">
                          <CRow>
                            <CCol>
                              <h1>{{gaugeControl.dataExp}}</h1>
                            </CCol>
                          </CRow>
                          <CRow>
                            <CCol>
                              <h6>Expired Calibration</h6>
                            </CCol>
                          </CRow>
                        </div>
                      </CCol>
                      <CCol :md="6">
                        <div class="p-2 mb-2 mt-2 bg-warning text-white text-center my-auto shadow rounded"  v-on:click="doGaugeControl('delay')">
                          <CRow>
                            <CCol>
                              <h1>{{gaugeControl.dataDelay}}</h1>
                            </CCol>
                          </CRow>
                          <CRow>
                            <CCol>
                              <h6>Delayed Calibration</h6>
                            </CCol>
                          </CRow>
                        </div>
                      </CCol>
                    </CRow>
                    <CRow>
                      <CCol :md="6">
                        <div class="p-2 mb-2 bg-info text-white text-center my-auto shadow rounded"  v-on:click="doGaugeControl('today')">
                          <CRow>
                            <CCol>
                              <h1>{{gaugeControl.dataToday}}</h1>
                            </CCol>
                          </CRow>
                          <CRow>
                            <CCol>
                              <h6>TODAY's Calibration</h6>
                            </CCol>
                          </CRow>
                        </div>
                      </CCol>
                      <CCol :md="6">
                        <div class="p-2 mb-2 bg-dark text-white text-center my-auto shadow rounded"  v-on:click="doGaugeControl('next')">
                          <CRow>
                            <CCol>
                              <h1>{{gaugeControl.dataNext}}</h1>
                            </CCol>
                          </CRow>
                          <CRow>
                            <CCol>
                              <h6>NEXT DAY's Calibration</h6>
                            </CCol>
                          </CRow>
                        </div>
                      </CCol>
                    </CRow>
                </CCardBody>
              </CCard>
            </CCol>
            <CCol :md="8">
              <CCard class="mb-2">
                <CCardHeader>
                  <div class="row justify-content-between">
                    <div class="col">
                      <CButton class="bg-primary text-white" v-on:click="do3Pillars()">3 Pillars Daily Management</CButton>
                    </div>
                    <div class="mt-2 col text-end text-dark">
                      <h5>{{ dateManagement }}</h5>
                    </div>
                  </div>
                </CCardHeader>
                <CCardBody>
                  <CRow :md="12" >
                    <CCol :md="4" 
                      v-for="(item, index) in dailyManagement">
                      <CCard class="mb-3 mt-2">
                        <div class="p-2 text-center bg-dark text-white h5">{{item.DM_NAME}}</div>
                        <CCardBody class="ma-0 pa-0">
                          <CRow>
                            <CCol sm="6">
                              <h6>Target</h6>
                            </CCol>
                            <CCol sm="1">
                              <h6>:</h6>
                            </CCol>
                            <CCol sm="4" v-if="item.DMD_TARGET">
                              <h6>{{item.DMD_TARGET}}</h6>
                            </CCol>
                            <CCol sm="4" v-else>
                              <h6>0</h6>
                            </CCol>
                          </CRow>
                          <CRow>
                            <CCol sm="6">
                              <h6>Challenge</h6>
                            </CCol>
                            <CCol sm="1">
                              <h6>:</h6>
                            </CCol>
                            <CCol sm="4" v-if="item.DMD_CHALLENGE">
                              <h6>{{item.DMD_CHALLENGE}}</h6>
                            </CCol>
                            <CCol sm="4" v-else>
                              <h6>0</h6>
                            </CCol>
                          </CRow>
                          <CRow>
                            <CCol sm="6">
                              <h6>Achievement</h6>
                            </CCol>
                            <CCol sm="1">
                              <h6>:</h6>
                            </CCol>
                            <CCol sm="4" v-if="item.DMD_ACHIEVEMENT">
                              <h6>{{item.DMD_ACHIEVEMENT + ' ' + item.DM_UNIT}}</h6>
                            </CCol>
                            <CCol sm="4" v-else>
                              <h6>{{0 + ' ' + item.DM_UNIT}}</h6>
                            </CCol>
                          </CRow>
                        </CCardBody>
                        </CCard>
                    </CCol>
                  </CRow>
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
          <CRow :md="12" class="mt-4">
            <CCol :md="4">
              <CCard class="mb-2">
                <CCardHeader>
                  <div class="col text-start">
                    <!-- <CButton class="bg-primary text-white" href="#" v-on:click="doCastingQuality()">Casting Quality</CButton> -->
                    <CButton class="bg-primary text-white" href="#" >Casting Quality</CButton>
                  </div>
                </CCardHeader>
                <CCardBody>
                  <highcharts
                        class="hc p-1"
                        :options="chartCasting"
                        ref="chartop"
                  ></highcharts>
                </CCardBody>
              </CCard>
            </CCol>
            <CCol :md="4">
              <CCard class="mb-2">
                <CCardHeader>
                  <div class="col text-start">
                    <!-- <CButton class="bg-primary text-white" href="#" v-on:click="doMachiningQuality()">Machining Quality</CButton> -->
                    <CButton class="bg-primary text-white" href="#" >Machining Quality</CButton>
                  </div>
                </CCardHeader>
                <CCardBody>
                  <highcharts
                        class="hc p-1"
                        :options="chartMachining"
                        ref="chartop"
                  ></highcharts>
                </CCardBody>
              </CCard>
            </CCol>
            <CCol :md="4">
              <CCard class="mb-2">
                <CCardHeader>
                  <div class="col text-start">
                    <!-- <CButton class="bg-primary text-white" href="#" v-on:click="doAssemblingQuality()">Assembling Quality</CButton> -->
                    <CButton class="bg-primary text-white" href="#" >Assembling Quality</CButton>
                  </div>
                </CCardHeader>
                <CCardBody>
                  <highcharts
                        class="hc p-1"
                        :options="chartAssembling"
                        ref="chartop"
                  ></highcharts>
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
  import Swal from 'sweetalert2'
  import apis from '@/apis/CommonAPI'
  import condition from '@/utils/CommonCondition'
  import { CCardBody, CCol, CRow } from '@coreui/vue'
  import moment from 'moment-timezone'
  
  export default {
    name: 'Quality Operational',
    components: {
      CRow,
      CCol
    },
    watch: {},
    async mounted() {
      this.doSearch()
      this.getChart()
      const date = new Date()
      let month = date.getMonth()+1
      let year = date.getFullYear()
      this.getDailyManagement(month, year)
      this.dateManagement = moment(date).format('MMMM YYYY')
    },
    data() {
      return {
        loading: false,
        errorMessage:'',
        infoMessage:'',
        warningMessage:'',
        gaugeControl : {
          dataOk: 0,
          dataExp: 0,
          dataDelay: 0,
          dataToday: 0,
          dataNext: 0
        },
        dailyManagement: [],
        chartCasting: {},
        chartMachining: {},
        chartAssembling: {},
        dateManagement: null
      }
    },
    methods: {
      doGaugeControl(status) {
        this.$router.push('/qdc/gauge-control?status='+status)
      },
      do3Pillars() {
        // Swal.fire('', 'Sorry, this feature isnt available right now', 'info')
        this.$router.push('/qdc/daily-management')
      },
      doCastingQuality() {
        Swal.fire('', 'Sorry, this feature isnt available right now', 'info')
      },
      doMachiningQuality() {
        Swal.fire('', 'Sorry, this feature isnt available right now', 'info')
      },
      doAssemblingQuality() {
        Swal.fire('', 'Sorry, this feature isnt available right now', 'info')
      },
      async doSearch(page) {
        this.loading = true
        await apis
        .post('/quality-operational/search')
        .then((result) => {
          if(result.data.status != 200){
            let data = result.data.message;
            this.loading = false
            Swal.fire('', data, 'error')
          }else{
            let dataStatus = result.data.data[0]
            this.gaugeControl.dataOk = dataStatus.ok_calibration
            this.gaugeControl.dataToday = dataStatus.today_calibration
            this.gaugeControl.dataNext = dataStatus.next_calibration
            this.gaugeControl.dataDelay = dataStatus.delay_calibration
            this.gaugeControl.dataExp = dataStatus.expired_calibration
            this.loading = false
          }
        }).catch((err)=>{
          this.loading = false
          Swal.fire('', "Internal Server Error", 'error')
        })
      },
      async getDailyManagement(month, year){
        let obj = {
          month: JSON.stringify(month),
          year: JSON.stringify(year)
        }
        apis
          .post('/daily-management/get', obj)
          .then((result) => { 
            if(result.status == 200){
              let data = result.data.data
              this.dailyManagement = data
            }
          }).catch((err)=>{
            console.log(err)
          })
      },
      getChart(){
        this.getChartCasting()
        this.getChartMachining()
        this.getChartAssembling()
      },
      getChartCasting(){
        this.chartCasting = {
          chart: {
              type: 'column',
              height: '60%',
          },
          title: {
              align: 'center',
              text: 'Casting'
          },
          credits: {
              text: '',
                enabled: false,
          },
          accessibility: {
              announceNewData: {
                  enabled: true
              }
          },
          xAxis: {
              type: 'category'
          },
          yAxis: {
              title: {
                  text: '%'
              }

          },
          legend: {
              enabled: false
          },
          plotOptions: {
              series: {
                  borderWidth: 0,
                  dataLabels: {
                      enabled: true,
                      format: '{point.y:.1f}%'
                  }
              }
          },
          series: [
              {
                  name: 'point',
                  colorByPoint: true,
                  data: [
                      {
                          name: 'DC',
                          y: 93,
                          drilldown: 'DC',
                          color: '#3399FF',
                      },
                      {
                          name: 'LP',
                          y: 90,
                          drilldown: 'LP',
                          color: '#F9B115',
                      },
                  ]
              }
          ],
        }
      },
      getChartMachining(){
        this.chartMachining = {
          chart: {
              type: 'column',
              height: '60%',
          },
          title: {
              align: 'center',
              text: 'Machining'
          },
          credits: {
              text: '',
                enabled: false,
          },
          accessibility: {
              announceNewData: {
                  enabled: true
              }
          },
          xAxis: {
              type: 'category'
          },
          yAxis: {
              title: {
                  text: '%'
              }

          },
          legend: {
              enabled: false
          },
          plotOptions: {
              series: {
                  borderWidth: 0,
                  dataLabels: {
                      enabled: true,
                      format: '{point.y:.1f}%'
                  }
              }
          },
          series: [
              {
                  name: 'point',
                  colorByPoint: true,
                  data: [
                      {
                          name: 'C/B',
                          y: 80,
                          drilldown: 'C/B',
                          color: '#3399FF',
                      },
                      {
                          name: 'C/H',
                          y: 95,
                          drilldown: 'C/H',
                          color: '#F9B115',
                      },
                      {
                          name: 'C/MS',
                          y: 93,
                          drilldown: 'C/MS',
                          color: '#E55353',
                      },
                      {
                          name: 'CR/S',
                          y: 91,
                          drilldown: 'CR/S',
                          color: '#2EB85C',
                      },
                  ]
              }
          ],
        }
      },
      getChartAssembling(){
        this.chartAssembling = {
          chart: {
              type: 'column',
              height: '60%',
          },
          title: {
              align: 'center',
              text: 'Assembling'
          },
          credits: {
              text: '',
                enabled: false,
          },
          accessibility: {
              announceNewData: {
                  enabled: true
              }
          },
          xAxis: {
              type: 'category'
          },
          yAxis: {
              title: {
                  text: '%'
              }

          },
          legend: {
              enabled: false
          },
          plotOptions: {
              series: {
                  borderWidth: 0,
                  dataLabels: {
                      enabled: true,
                      format: '{point.y:.1f}%'
                  }
              }
          },
          series: [
              {
                  name: 'point',
                  colorByPoint: true,
                  data: [
                      {
                          name: 'M/L',
                          y: 85,
                          drilldown: 'M/L',
                          color: '#E55353',
                      },
                      {
                          name: 'M/R',
                          y: 87,
                          drilldown: 'M/R',
                          color: '#2EB85C',
                      },
                  ]
              }
          ],
        }
      },
    },
  }
</script>
  
