<template>
  <!-- <h4>Quality Operational</h4> -->
  <CRow class="mt-3">
    <CCol :md="12">
      <CCard class="mb-4">
        <CCardBody>
          <CRow :md="12">
            <CCol :md="3">
              <CCard class="mb-2">
                <CCardHeader>
                    <div class="col text-start">
                      <CButton class="bg-primary text-white" href="#" v-on:click="doGaugeControl('all')">Gauge Control</CButton>
                    </div>
                </CCardHeader>
                <CCardBody >
                    <CRow>
                      <CCol :md="12" class="mx-auto">
                        <div class="box text-center shadow mb-2" :style="{background: '#007E37'}" v-on:click="doGaugeControl('ok')">
                          <p class="big-bold-text">{{gaugeControl.dataOk}}</p>
                          <p class="normal-bold-text">Already Calibrated</p>
                        </div>
                      </CCol>
                    </CRow>
                    <CRow>
                      <CCol :md="6">
                        <div class="box text-center shadow mb-2" :style="{background: '#D3001F'}"  v-on:click="doGaugeControl('exp')">
                          <p class="big-bold-text">{{gaugeControl.dataExp}}</p>
                          <p class="normal-bold-text">Expired Calibration</p>
                        </div>
                      </CCol>
                      <CCol :md="6">
                        <div class="box text-center shadow mb-2" :style="{background: '#C8BA00'}"  v-on:click="doGaugeControl('delay')">
                          <p class="big-bold-text">{{gaugeControl.dataDelay}}</p>
                          <p class="normal-bold-text">Delayed Calibration</p>
                        </div>
                      </CCol>
                    </CRow>
                    <CRow>
                      <CCol :md="6">
                        <div class="box text-center shadow mb-2" :style="{background: '#0D6EFD'}"  v-on:click="doGaugeControl('today')">
                          <p class="big-bold-text">{{gaugeControl.dataToday}}</p>
                          <p class="normal-bold-text">Today's Calibration</p>
                        </div>
                      </CCol>
                      <CCol :md="6">
                        <div class="box text-center shadow mb-2" :style="{background: '#214B60'}" v-on:click="doGaugeControl('next')">
                          <p class="big-bold-text">{{gaugeControl.dataNext}}</p>
                          <p class="normal-bold-text">Next Day's Calibration</p>
                        </div>
                      </CCol>
                    </CRow>
                </CCardBody>
              </CCard>
            </CCol>
            <CCol :md="9" class="justify-content-end">
              <CContainer class="mb-4">
                <CRow>
                  <CCol class="justify-content-center align-self-end">
                    <h4>Period: {{formateDate(filter.gauge_start_date)}} -  {{formateDate(filter.gauge_end_date)}}</h4>
                  </CCol>
                  <CCol md="auto">
                    <CFormLabel for="period_from">
                      Period From
                    </CFormLabel>
                      <Datepicker 
                            v-model="filter.gauge_start_date" 
                            :clearable="false" 
                            :enable-time-picker="false"
                            placeholder="Select start date"  
                            format="dd-MM-yyyy"
                            style="font-size: 10px; width: 150px; height: 30px;"
                          />
                  </CCol>
                  <CCol md="auto">
                    <CFormLabel for="period_to">
                      Period From
                    </CFormLabel>
                      <Datepicker 
                            v-model="filter.gauge_end_date" 
                            :clearable="false" 
                            :enable-time-picker="false"
                            placeholder="Select end date"  
                            format="dd-MM-yyyy"
                            style="font-size: 10px; width: 150px; height: 30px;"
                          />
                  </CCol>
                  <CCol md="auto" class="justify-content-center align-self-end" :style="{ paddingTop: '10px' }">
                    <div class="col text-end" :style="{ marginTop: '20px' }" >
                      <CButton color="primary" href="#" @click="doSearchPlanningActual()">
                        Search</CButton>
                    </div>
                  </CCol>
                </CRow>
              </CContainer>
              <CRow :md="12" class="justify-content-center align-self-end">
                <CCol :md="2" class="py-2">
                  <CRow>
                    <div class="box-a text-center shadow mb-2" :style="{background: '#1A9EA3'}">
                      <p class="normal-bold-text-box">Planning</p>
                      <p class="big-bold-text-box">{{countPlanning}}</p>
                    </div>
                  </CRow>
                  <CRow>
                    <div class="box-a text-center shadow mb-2" :style="{background: '#386AAB'}">
                      <p class="normal-bold-text-box">Actual</p>
                      <p class="big-bold-text-box">{{countActual}}</p>
                    </div>
                  </CRow>
                </CCol>
                <CCol :md="10" class="py-3">
                  <CRow>
                    <CCol :md="6">
                      <CCard >
                        <CCardBody>
                          <highcharts
                                class="hc"
                                :options="chartShiftA"
                                ref="chartop"
                          ></highcharts>
                          <CCol class="justify-content-center text-center mt-1">
                            <h3>{{ completePercentageShiftA }} %</h3>
                            <h4>Completed</h4>
                          </CCol>
                        </CCardBody>
                      </CCard>
                    </CCol>
                    <CCol :md="6">
                      <CCard >
                        <CCardBody>
                          <highcharts
                                class="hc"
                                :options="chartShiftB"
                                ref="chartop"
                          ></highcharts>
                          <CCol class="justify-content-center text-center mt-1">
                            <h3>{{ completePercentageShiftB }} %</h3>
                            <h4>Completed</h4>
                          </CCol>
                        </CCardBody>
                      </CCard>
                    </CCol>
                  </CRow>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          <CRow :md="12" class="mt-3 me-1">
            <CCol :md="9" class="justify-content-center align-self-end">
              <CCard>
              <CCardHeader>
                <strong><h5>Problem Gauge Need Follow up</h5></strong>
              </CCardHeader>
              <CCardBody>
                <CTable align="middle" class="mb-1 border" striped responsive small hover>
                  <CTableHead color="dark">
                    <CTableRow>
                      <CTableHeaderCell class="text-start first" style="min-width: 40px">
                        No
                      </CTableHeaderCell>
                      <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('GAUGE_NAME',sortOrder)">
                          <CRow>
                            <CCol xs="auto" class="me-auto">Gauge NG</CCol>
                            <CCol xs="auto" >
                              <CIcon v-if="sortBy != 'GAUGE_NAME'" icon="cilChevronTop" style="color: grey"/>
                              <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                              <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                            </CCol> 
                          </CRow>
                        </CTableHeaderCell>
                      <CTableHeaderCell class="text-start" style="min-width: 150px; cursor: pointer" @click="sortTable('CD_REMARK',sortOrder)">
                        <CRow>
                          <CCol xs="auto" class="me-auto">Problem</CCol>
                          <CCol xs="auto" >
                            <CIcon v-if="sortBy != 'CD_REMARK'" icon="cilChevronTop" style="color: grey"/>
                            <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                            <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                          </CCol> 
                        </CRow>
                      </CTableHeaderCell>
                      <CTableHeaderCell class="text-start" style="min-width: 10px; cursor: pointer" @click="sortTable('CAL_STATUS_NG_DESC',sortOrder)">
                        <CRow>
                          <CCol xs="auto" class="me-auto">Status</CCol>
                          <CCol xs="auto" >
                            <CIcon v-if="sortBy != 'CAL_STATUS_NG_DESC'" icon="cilChevronTop" style="color: grey"/>
                            <CIcon v-else-if="sortOrder == 'asc'" icon="cilChevronTop" style="color: #EB0A1E"/>
                            <CIcon v-else-if="sortOrder == 'desc'" icon="cilChevronBottom" style="color: #EB0A1E"/>
                          </CCol> 
                        </CRow>
                      </CTableHeaderCell>
                      <CTableHeaderCell class="text-center last" style="min-width: 50px; sticky-column;">
                        Action
                      </CTableHeaderCell>
                    </CTableRow>
                  </CTableHead>
                  <CTableBody>
                    <CTableRow v-if="loading">
                      <CTableDataCell class="text-center" colspan="18">
                        <CSpinner component="span" size="sm" aria-hidden="true"/> Loading...
                      </CTableDataCell>
                    </CTableRow>
                    <CTableRow v-else-if="tableData.length<=0">
                      <CTableDataCell class="text-center" colspan="18">Data not found</CTableDataCell>
                    </CTableRow>
                    <CTableRow
                      v-else
                      v-for="(item, index) in tableData"
                      :key="item.GAUGE_ID"
                    >
                      <CTableDataCell class="first">{{ ( (page.pageNo-1) * page.pageSize) + index + 1 }}</CTableDataCell>
                      <CTableDataCell>{{ item.GAUGE_NAME }}</CTableDataCell>
                      <CTableDataCell>{{ item.CD_REMARK }}</CTableDataCell>
                      <CTableDataCell><strong>{{ item.CAL_STATUS_NG_DESC }}</strong></CTableDataCell>
                      <CTableDataCell class="last">
                        <div class="d-flex justify-content-center">
                          <CButton class="text-white" color="info" size="sm"  @click="doDetail(item.GAUGE_ID)">
                            Detail</CButton>
                        </div>
                      </CTableDataCell>
                    </CTableRow>
                  </CTableBody>
                </CTable>
                <Pagination 
                  :page="page"
                  :doSearch="doSearchProblem" 
                  :changePageSize="changePageSize">
                </Pagination>
              </CCardBody>
            </CCard>
            </CCol>
            <CCol :md="3" class="justify-content-center align-self-end">
              <CRow>
                <div class=" text-center mb-4 ">
                  <img v-if="gaugeTotal > 0" :src="iconAlert" alt="Icon" class="icon-class" />
                  <img v-else :src="iconSuccess" alt="Icon" class="icon-class-static" />
                </div>
              </CRow>
              <CRow>
                <div v-if="gaugeTotal > 0" class="box-a text-center shadow mb-0 " :style="{background: '#F94649'}">
                  <p class="big-bold-text-box">{{gaugeTotal}}</p>
                  <p class="normal-bold-text-box">Gauge Need Follow Up</p>
                </div>
                <div v-else class="box-a text-center shadow mb-0 " :style="{background: '#27B24A'}">
                  <p class="big-bold-text-box">{{gaugeTotal}}</p>
                  <p class="normal-bold-text-box">Gauge Need Follow Up</p>
                </div>
              </CRow>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
  import Swal from 'sweetalert2'
  import apis from '@/apis/CommonAPI'
  import { CCardBody, CCol, CRow, CTableHeaderCell } from '@coreui/vue'
  import moment from 'moment-timezone'
  import Pagination from '@/components/Pagination2.vue'
  import Datepicker from '@vuepic/vue-datepicker';
  import '@vuepic/vue-datepicker/dist/main.css';
  import iconAlert from '@/assets/images/alert.png';
  import iconSuccess from '@/assets/images/success.png';
  
  export default {
    name: 'Quality Operational',
    components: {
      CRow,
      CCol,
      Datepicker,
      Pagination,
      CTableHeaderCell
    },
    watch: {},
    async mounted() {
      this.doSearch()
      this.doSearchProblem()
      this.doSearchPlanningActual()
      this.getChart()
      const date = new Date()
      let month = date.getMonth()+1
      let year = date.getFullYear()
      // this.getDailyManagement(month, year)
      // this.dateManagement = moment(date).format('MMMM YYYY')
    },
    data() {
      return {
        loading: false,
        errorMessage:'',
        infoMessage:'',
        warningMessage:'',
        gaugeControl : {
          dataOk: 0,
          dataExp: 0,
          dataDelay: 0,
          dataToday: 0,
          dataNext: 0
        },
        filter : {
          gauge_start_date: moment().startOf('month').format('MM-DD-YYYY'),
          gauge_end_date: moment().format('MM-DD-YYYY'),
        },
        page:{
          totalRecords : 0,
          totalPages: 0,
          pageNo : 1,
          pageSize : 10
        },
        sortBy:'GAUGE_NAME',
        sortOrder:'asc',
        tableData: [],
        iconAlert : iconAlert,
        iconSuccess : iconSuccess,
        gaugeTotal : 0,
        dataPlanningActual : [],
        countPlanning: 0,
        countActual: 0,
        chartShiftA: {},
        chartShiftB: {},
        dataChartShiftA: [],
        dataChartShiftB: [],
        completePercentageShiftA : 0,
        completePercentageShiftB : 0,
      }
    },
    methods: {
      formateDate(date){
        return moment(date).format('DD MMM YYYY')
      },
      doDetail(id) {
        this.$router.push('/qdc/gauge-control/detail/'+id)
      },
      doGaugeControl(status) {
        this.$router.push('/qdc/gauge-control?status='+status)
      },
      async doSearch(page) {
        this.loading = true
        await apis
        .post('/quality-operational/search')
        .then((result) => {
          if(result.data.status != 200){
            let data = result.data.message;
            this.loading = false
          }else{
            let dataStatus = result.data.data[0]
            this.gaugeControl.dataOk = dataStatus.ok_calibration
            this.gaugeControl.dataToday = dataStatus.today_calibration
            this.gaugeControl.dataNext = dataStatus.next_calibration
            this.gaugeControl.dataDelay = dataStatus.delay_calibration
            this.gaugeControl.dataExp = dataStatus.expired_calibration
            this.loading = false
          }
        }).catch((err)=>{
          this.loading = false
        })
      },

      async doSearchProblem(filter) {
        filter && filter == true ? this.page.pageNo = 1 : null
        this.loading = true
        let obj =
            { 
              search : {
                gauge_start_date: moment(this.filter.gauge_start_date).format('MM-DD-YYYY'),
                gauge_end_date: moment(this.filter.gauge_end_date).format('MM-DD-YYYY')
              },
              limit: this.page.pageSize, 
              page: this.page.pageNo == null || this.page.pageNo == '' || this.page.pageNo == 0 ? this.page.pageNo = 1 : this.page.pageNo = this.page.pageNo,
              sortOrder: this.sortOrder,
              sortBy: this.sortBy
            }
        apis
        .post('/gauge/problem', obj)
        .then((result) => {
          if(result.data.status != 200){
            let data = result.data.message;
            this.loading = false
            Swal.fire('', data, 'error')
          }else{
            this.tableData = result.data.data;
            this.page.totalRecords = result.data.totalRecords;
            this.page.totalPages = result.data.totalPages;
            this.page.pageNo = result.data.pageNo;
            this.page.pageSize = result.data.pageSize;
            this.gaugeTotal = result.data.totalRecords
            this.loading = false
          }
        }).catch((err)=>{
          this.loading = false
          Swal.fire('', "Internal Server Error", 'error')
        })
      },

      sortTable(sortBy, sortOrder){
        if(this.sortBy == sortBy){
          switch(sortOrder) {
            case 'asc':
              this.sortOrder = 'desc';
              this.doSearchProblem();
              break;
            case "desc":
              this.sortOrder = 'asc';
              this.doSearchProblem();
              break;
            default:
              this.sortBy = '';
              this.sortOrder = '';
              this.doSearchProblem();
          }
        }else{
          this.sortBy = sortBy
          this.sortOrder = 'asc'
          this.doSearchProblem();
        }
      },
      async changePageSize(pageSize, pageNo){
        this.page.pageSize = pageSize;
        this.page.pageNo = pageNo;
      },
      async doSearchPlanningActual() {
        this.doSearchProblem()
        let obj =
            { 
              search : {
                keyword: '',
                startDate: moment(this.filter.gauge_start_date).format('MM-DD-YYYY'),
                endDate: moment(this.filter.gauge_end_date).format('MM-DD-YYYY')
              },
              limit: 1000000*100, 
              page: 1,
              sortOrder: 'ASC',
              sortBy: 'GAUGE_NAME'
            }
        apis
        .post('/custom-planning/search', obj)
        .then((result) => {
          if(result.data.status != 200){
            let data = result.data.message;
            console.log('ERR', data)
          }else{
            console.log('SUCC', result.data.data)
            this.dataPlanningActual = result.data.data;
            const planning = this.dataPlanningActual.filter(item => item.STATUS === 1);
            const actual = this.dataPlanningActual.filter(item => item.STATUS === 2);
            const shiftAData = this.dataPlanningActual.filter(item => item.GPD_SHIFT === 1);
            const shiftBData = this.dataPlanningActual.filter(item => item.GPD_SHIFT === 2);
            this.countPlanning = planning.length
            this.countActual = actual.length
            const shiftADataPlanning = shiftAData.filter(item => item.STATUS === 1);
            const shiftADataActual = shiftAData.filter(item => item.STATUS === 2);
            const shiftBDataPlanning = shiftBData.filter(item => item.STATUS === 1);
            const shiftBDataActual = shiftBData.filter(item => item.STATUS === 2);
            this.completePercentageShiftA = parseFloat(((shiftADataActual.length/shiftADataPlanning.length) * 100).toFixed(2)),
            this.completePercentageShiftB = parseFloat(((shiftBDataActual.length/shiftBDataPlanning.length) * 100).toFixed(2)),
            this.dataChartShiftA = [
              {
                      name: 'Planning',
                      y: shiftADataPlanning.length,
                      drilldown: 'Planning',
                      color: '#1A9EA3',
                   },
                   {
                      name: 'Actual',
                      y: shiftADataActual.length,
                      drilldown: 'Actual',
                      color: '#386AAB',
                   },
            ],
            this.dataChartShiftB = [
                   {
                      name: 'Planning',
                      y: shiftBDataPlanning.length,
                      drilldown: 'Planning',
                      color: '#1A9EA3',
                   },
                   {
                      name: 'Actual',
                      y: shiftBDataActual.length,
                      drilldown: 'Actual',
                      color: '#386AAB',
                   },
            ]
            this.getChart()
          }
        }).catch((err)=>{
          console.log('ERR', err)
        })
      },
      getChart(){
        this.getChartShiftA()
        this.getChartShiftB()
      },
      getChartShiftA(){
        this.chartShiftA = {
          chart: {
              type: 'column',
              height: '60%',
          },
          title: {
              align: 'center',
              text: 'A Shift'
          },
          credits: {
              text: '',
                enabled: false,
          },
          accessibility: {
              announceNewData: {
                  enabled: true
              }
          },
          xAxis: {
              type: 'category'
          },
          yAxis: {
              title: {
                  text: ''
              }

          },
          legend: {
              enabled: false
          },
          plotOptions: {
              series: {
                  borderWidth: 0,
                  dataLabels: {
                      enabled: true,
                      // format: '{point.y:.1f}%'
                  }
              }
          },
          series: [
              {
                  name: 'point',
                  colorByPoint: true,
                  data: this.dataChartShiftA
              }
          ],
        }
      },
      getChartShiftB(){
        this.chartShiftB = {
          chart: {
              type: 'column',
              height: '60%',
          },
          title: {
              align: 'center',
              text: 'B Shift'
          },
          credits: {
              text: '',
                enabled: false,
          },
          accessibility: {
              announceNewData: {
                  enabled: true
              }
          },
          xAxis: {
              type: 'category'
          },
          yAxis: {
              title: {
                  text: ''
              }

          },
          legend: {
              enabled: false
          },
          plotOptions: {
              series: {
                  borderWidth: 0,
                  dataLabels: {
                      enabled: true,
                      // format: '{point.y:.1f}%'
                  }
              }
          },
          series: [
              {
                  name: 'point',
                  colorByPoint: true,
                  data: this.dataChartShiftB
              }
          ],
        }
      },
    },
  }
</script>

<style>

.box {
  width: 100%;
  height: 75px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}
.box-a {
  width: 100%;
  height: 110px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}
.box p {
  margin: 0;
  padding: 0;
}
.box-a p {
  margin: 0;
  padding: 0;
}
.big-bold-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}
.big-bold-text-header {
  color: #000000;
  font-size: 13px;
  font-weight: bold;
}
.big-bold-text-box {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}
.normal-bold-text-box {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.normal-bold-text {
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon-class {
  width: 100px; 
  height: 100px;
  margin: 0 auto; 
  animation: blink 1.5s infinite; 
}
.icon-class-static {
  width: 100px; 
  height: 100px;
  margin: 0 auto; 
}
.hc {
  width: 100%;
  height: 100%;
}

</style>
  
